@use "sass:map";
@use "../../node_modules/quill/dist/quill.core.css";
@use "../../node_modules/quill/dist/quill.snow.css" as snow;

*, *::before, *::after {
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
  border-color: rgb(var(--zn-border-color));
}

:host {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


:host {
  display: flex;
  flex-direction: column-reverse;
  background-color: rgb(var(--zn-body));
  border-radius: 10px;

  .ql-container {
    border: none;
    appearance: none;
    background-color: transparent;
    min-height: 200px;
    padding: 20px;
  }

  .ql-toolbar {
    margin-top: 20px;
    padding-top: 20px;
    border: 0 solid rgb(var(--zn-border-color));
    border-top-width: 1px;
    color: rgb(var(--zn-text-heading));
  }
}
