@use "../../wc";

.tile {
  position: relative;
  display: flex;
  justify-content: space-between;
  padding-top: var(--zn-spacing-medium);
  padding-bottom: var(--zn-spacing-medium);
}

.tile__left {
  display: flex;
  column-gap: var(--zn-spacing-medium);
  padding-right: var(--zn-spacing-medium);
  width: 50%;
  max-width: 400px;

  @include wc.container-query(null, md) {
    max-width: 320px;
  }
}

.tile__right {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 50%;
  flex-grow: 1;
  column-gap: var(--zn-spacing-large);
}

.tile__properties {
  display: flex;
  flex-direction: row;
  column-gap: 30px;
  overflow: auto;

  @include wc.container-query(null, md) {
    display: none;
  }
}

.tile__content {
  flex: auto;
  min-width: 0;

  @extend %property;

}

.tile__actions {
  display: flex;
  column-gap: var(--zn-spacing-medium);
  margin-left: auto;
}

.tile__link {
  margin-left: var(--zn-spacing-medium);
}

%property {
  .tile__caption {
    display: block;
    font-weight: 500;
    margin: 0;
    font-size: 14px;
    color: rgb(var(--zn-text-heading));
    text-overflow: ellipsis;
    overflow: hidden;
  }

  .tile__description {
    display: block;
    font-weight: 400;
    margin: var(--zn-spacing-x-small) 0 0;
    font-size: var(--zn-font-size-medium);
    color: rgb(var(--zn-text-color));
    text-overflow: ellipsis;
    overflow: hidden;
  }
}

// Tile property
.tile__property {
  display: flex;
  flex-direction: column;
  max-width: 150px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;

  @extend %property;
}
