@use "mixins";

.zn-gap {
  @include mixins.gap();
  @include mixins.padding();

  display: flex;
  flex-wrap: wrap;
}

.zn-gap-in {
  @include mixins.gap();

  display: flex;
  flex-wrap: wrap;
}

.zn-gap-md {
  display: flex;
  flex-wrap: wrap;
  gap: mixins.spacing(md);
}

.zn-gap-inner {
  @include mixins.gap();
}
