@use "mixins";

.zn-gap {
  @include mixins.gap();
  @include mixins.padding();

  display: flex;
  flex-wrap: wrap;
}

.zn-gap-in {
  @include mixins.gap();
  display: flex;
  flex-wrap: wrap;
}

.zn-gap-md {
  display: flex;
  flex-wrap: wrap;
  gap: mixins.spacing(md);
}

.zn-gap-inner {
  @include mixins.gap();
}

.zn-gap-ism {
  @include mixins.gap();
  --zn-gap: #{mixins.spacing(sm)};
}


.zn-gap-ixs {
  @include mixins.gap();
  --zn-gap: #{mixins.spacing(xs)};
}

.zn-max-hide {
  max-height: 100%;
  overflow: hidden;
}

.zn-hide-empty:empty {
  display: none;
}

.zn-nopoint {
  pointer-events: none;
}
