@use "sass:map";
@use "variables";

$var-prefix: '--zn-';

@function hex-to-rgb($color) {
  @return red($color), green($color), blue($color);
}

// Global Colors
$theme-colors: (
  'primary': hex-to-rgb(map.get(variables.$purple, 700)),
  'secondary': hex-to-rgb(map.get(variables.$green, 500)),
  'tertiary': hex-to-rgb(map.get(variables.$turquoise, 500)),
  'warning': hex-to-rgb(map.get(variables.$yellow, 500)),
  'error': hex-to-rgb(map.get(variables.$red, 500)),
  'success': hex-to-rgb(map.get(variables.$green, 500)),
  'info': hex-to-rgb(map.get(variables.$blue, 500)),
);

// Default Theme
$theme-default: (
  'text': hex-to-rgb(#D3C9EE),
  'text-heading': hex-to-rgb(#FFFFFF),
  'text-page-title': hex-to-rgb(#FFFFFF),
  'text-panel-title': hex-to-rgb(#3CD8BB),
  'body': hex-to-rgb(#150B33),
  'panel': hex-to-rgb(#2A1A55),
  'panel-highlight': hex-to-rgb(#09112c),
  'border-color': hex-to-rgb(#080C1C),
  'accent': hex-to-rgb(#29C1BC),
  'input-bg': hex-to-rgb(#150c38),
  'bright-bg': hex-to-rgb(#cbbfea),
);

// Light Theme
$theme-light: (
  'text': hex-to-rgb(map.get(variables.$slate, 500)),
  'text-heading': hex-to-rgb(map.get(variables.$slate, 800)),
  'text-page-title': '52, 52, 52',
  'text-panel-title': hex-to-rgb(#6836F5),
  'body': hex-to-rgb(map.get(variables.$slate, 50)),
  'panel': hex-to-rgb(variables.$white),
  'panel-highlight': hex-to-rgb(#f8f9fc),
  'border-color': hex-to-rgb(map.get(variables.$slate, 300)),
  'accent': hex-to-rgb(#6836F5),
  'input-bg': '255, 255, 255',
  'bright-bg': hex-to-rgb(#ffffff),
);

// Dark theme
$theme-dark: (
  'text': hex-to-rgb(variables.$white),
  'text-heading': hex-to-rgb(variables.$white),
  'text-page-title': hex-to-rgb(variables.$white),
  'text-panel-title': hex-to-rgb(#29C1BC),
  'body': hex-to-rgb(#0b0b15),
  'panel': hex-to-rgb(#0e0f21),
  'panel-highlight': hex-to-rgb(#1a1a1a),
  'border-color': hex-to-rgb(#141624),
  'accent': hex-to-rgb(#29C1BC),
  'input-bg': hex-to-rgb(map.get(variables.$slate, 700)),
  'bright-bg': hex-to-rgb(#e1e1e1),
);


// Dark theme
$theme-grey: (
  'text': hex-to-rgb(#989898),
  'text-heading': hex-to-rgb(#e1e1e1),
  'text-page-title': hex-to-rgb(#e1e1e1),
  'text-panel-title': hex-to-rgb(#29C1BC),
  'body': hex-to-rgb(#1E1F22),
  'panel': hex-to-rgb(#24262A),
  'panel-highlight': hex-to-rgb(#1a1a1a),
  'border-color': hex-to-rgb(#2B2D30),
  'accent': hex-to-rgb(#29C1BC),
  'input-bg': hex-to-rgb(map.get(variables.$slate, 700)),
  'bright-bg': hex-to-rgb(#e1e1e1),
);

@mixin spread-map($map: (), $pre: '') {
  @if type-of($map) != 'map' {
    @error 'spread-map() only works with maps';
  }

  @each $key, $value in $map {
    #{$pre}#{$key}: #{$value};
  }
}

:root {
  // Theme Colors
  @include spread-map($theme-colors, #{$var-prefix} + 'color-');
  @include spread-map($theme-default, #{$var-prefix});

  // Font Families
  #{$var-prefix}font-family-sans: 'Roboto', sans-serif;
  #{$var-prefix}font-family-serif: 'Roboto Slab', serif;
  #{$var-prefix}font-family-mono: 'Roboto Mono', monospace;

  // Default Opacities
  #{$var-prefix}bg-opacity: 1;
  #{$var-prefix}text-opacity: 1;
}

[t="default"], .theme-default {
  @include spread-map($theme-default, #{$var-prefix});
}

[t="light"], .theme-light {
  @include spread-map($theme-light, #{$var-prefix});
}

[t="dark"], .theme-dark {
  @include spread-map($theme-dark, #{$var-prefix});
}

[t="grey"], .theme-grey {
  @include spread-map($theme-grey, #{$var-prefix});
}
