//@use "./shared";
//@use "./global-components";

@use "./themes";
@use "./global-spacing";
// Get rid of root as soon as. and use theme variables instead
@use "./root";

// Needed components for positioning
@use "./shared";

// External components
@use "../node_modules/air-datepicker/air-datepicker.css";

.air-datepicker {
  --adp-day-name-color: var(--zn-color-primary-600);
  --adp-day-name-color-hover: var(--zn-color-primary-700);
  --adp-cell-background-color-selected: var(--zn-color-primary-600);
  --adp-cell-background-color-selected-hover: var(--zn-color-primary-700);
  --adp-color-current-date: var(--zn-color-primary-600);

  --adp-background-color-selected-other-month: var(--zn-color-primary-300);
  --adp-background-color-in-range: var(--zn-color-primary-100);

  --adp-cell-background-color-in-range: var(--zn-color-primary-100);
  --adp-cell-background-color-in-range-hover: var(--zn-color-primary-200);
}
