@tailwind base;
@tailwind components;
@tailwind utilities;

@import "../scss/variables";
@import '_container/chips';

.zn-gap {
  @extend %zn-gap;
  /*
  smp:p-sm md:p-md lg:p-lg
  */
  @apply py-xxs
  @smp:p-sm
  @md:p-md
  @lg:p-lg
  flex flex-wrap;
}

.zn-gap-inner {
  @extend %zn-gap;
}

hr {
  @apply w-full max-w-full
  my-md
  border-0 border-b-px border-border dark:border-darkBorder;
}


zn-panel zn-tile {
  @apply border-0 border-t-px border-border dark:border-darkBorder;
}

zn-panel zn-tile:first-of-type {
  @apply border-t-0;
}
