@import 'common';
@import 'button';

:host {
  @apply flex flex-col grow relative max-w-full w-full h-full;

  > div {
    @apply flex flex-col grow relative;
  }

  iframe.flexframe {
    @apply absolute inset-0 w-full h-full max-w-full max-h-full;
  }
}

:host > div, slot {
  @apply w-full max-w-full h-full box-border overflow-visible;
}

:host > div:empty, slot:empty {
  display: none;
}

#app__content {
  transform: translateZ(0);
}

.page-loading {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  height: 100%;
  max-height: 200px;
  text-align: center;

  div {
    display: flex;
    flex-direction: column;
    padding: 20px;
    align-items: center;
    gap: 20px;
  }
}
