%zn-gap {
  /*@apply gap-xxs smp:gap-sm md:gap-md lg:gap-lg hd:gap-xl;*/
  @apply gap-xxs
  @smp:gap-sm
  @md:gap-md
  @lg:gap-lg
  @hd:gap-xl;
}

%zn-pad {
  @apply p-xs
  @smp:p-sm
  @md:p-md
  @lg:p-lg;
}

%scrollbars {
  @screen md {
    ::-webkit-scrollbar {
      width: 5px;
    }

    /* Track */
    ::-webkit-scrollbar-track {
      background: transparent;
    }

    /* Handle */
    ::-webkit-scrollbar-thumb {
      background: rgba(0, 0, 0, 0.05);
      border-radius: 5px;
    }

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
      background: rgba(0, 0, 0, 0.2);
    }
  }
}
