@use '../../wc';
@use "../../../scss/shared/form-elements";


:host([prefix]) {
  .wrap {
    border: 1px solid rgb(var(--zn-border-color));
  }

  ::slotted(input) {
    border: 0 !important;
  }
}

:host, zn-input {
  display: inline-block;
  width: 100%;

  .wrap {
    background-color: rgb(var(--zn-input-bg));
    border: 0 solid transparent;
    border-radius: 5px;
    overflow: hidden;
    cursor: text;

    display: flex;
    flex-shrink: 1;
    width: 100%;

    &:focus-within {
      border: 1px solid rgb(var(--zn-primary)) !important;
      box-shadow: 0 0 0 3px rgba(var(--zn-primary), 0.3) !important;
    }

    span {
      background-color: rgb(var(--zn-input-bg-accent));
      display: flex;
      align-items: center;
      border-right-width: 1px;
      padding: wc.spacing(xxs);

      @include wc.media-query(sm) {
        padding: wc.spacing(sm);
      }
    }

    ::slotted(input) {
      margin: 0 !important;
    }

    ::slotted(input:not([type="range"]):not([type="color"]):not([type="button"]):not([type="reset"]):not([type="submit"]):not([type="file"])) {
      display: block;
      width: 100%;
      outline: none !important;
      border-radius: 0;
      box-shadow: none !important;
      background-color: rgb(var(--zn-input-bg)) !important;
      padding: wc.spacing(xxs) !important;

      &::placeholder {
        font-weight: 400;
        color: rgba(var(--zn-text), .6);
      }

      @include wc.media-query(sm) {
        padding: wc.spacing(sm) !important;
      }
    }

  }
}

:host([span="1/4"]) {
  width: 25%;
}

:host([span="2/4"]) {
  width: 50%;
}

:host([span="3/4"]) {
  width: 75%;
}

:host([span="1/3"]) {
  width: 33.3333%;
}

:host([span="2/3"]) {
  width: 66.6666%;
}

:host([span="1/2"]) {
  width: 50%;
}

label {
  display: block;
  font-size: 90%;
}

input {
  width: 100%;
  padding: wc.spacing(md);
}


.advice:not(:empty) {
  display: inline-block;
  margin-top: 5px;
  font-size: 13px;
  color: rgb(var(--zn-text));
  font-weight: 500;

}
