<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Zinc-Panel Demo</title>
</head>
<body>

<zn-panel>Panel Content</zn-panel>
<zn-panel title="Subscriptions">Panel Content</zn-panel>
<zn-panel title="Billing"
          navigation='[{"title": "Transactions", "path": "/", "default":true},
            {"title": "Payments", "path": "/communication"},
            {"title": "Refunds", "path": "/communication"}]'>Panel
                                                             Content
</zn-panel>
<zn-panel title="Payment Methods">
  <zn-icon slot="actions" src="settings" size="24" library="material"></zn-icon>
  <zn-icon slot="actions" src="add" size="24" library="material"></zn-icon>
  Panel Content
</zn-panel>


<zn-panel title="Payment Methods">
  <zn-icon slot="actions" src="settings" size="24" library="material"></zn-icon>
  Panel Content
  <span slot="footer">Footer Content</span>
</zn-panel>
<script src="../../../dist/zn.js" type="text/javascript"></script>
</body>
</html>
