@use "../../wc";

zn-note:first-of-type > div, :host(:first-of-type) > div {
  border-top-width: 0 !important;
}

zn-note > div, :host > div {
  border-width: 0;
  border-top-width: 1px !important;
  border-style: solid;
  border-color: rgb(var(--zn-border-color));
}


:host {
  > div {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    flex-wrap: nowrap;
    padding-top: wc.spacing(lg);
    padding-bottom: wc.spacing(lg);
    gap: wc.spacing(xs);
  }
}

zn-note, :host {
  .header {
    display: flex;
    justify-content: space-between;

    .caption {
      font-weight: 600;
      font-size: 16px;
      color: rgb(var(--zn-text-heading));
    }

    .date {
      font-size: 90%;
    }
  }

  .body {
    display: flex;
    flex-direction: column;
    gap: wc.spacing(sm);
    max-width: wc.container-width(md);
  }
}
