@use "../wc";

:host {
  display: contents;
}

.tile {
  display: flex;
  min-height: wc.common-size(tile);
  width: 100%;
  flex-direction: row;
  align-items: center;
  flex-shrink: 0;
  border-color: rgb(var(--zn-border-color));

  &__avatar {
    display: flex;
    flex-shrink: 0;
    margin-right: wc.spacing(md);
    border-radius: 50%;
    width: 36px;
    height: 36px;
    overflow: hidden;
  }

  &__wrapper {
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 8px;

    &__left {
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      flex-grow: 1;
    }

    &__right {
      display: flex;
      flex-shrink: 0;
      justify-content: center;
      align-items: center;
      font-size: 14px;
      min-width: 45px;
      color: rgb(var(--zn-text-heading));
    }
  }


  &__content {
    display: flex;
    flex-direction: row;
    width: 100%;
  }

  &__caption {
    flex-grow: 1;
    margin-right: auto;
  }

  &__time {
    margin-left: wc.spacing(md);
    color: rgb(var(--color));
  }

  &__progress-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    position: relative;
    margin-top: 5px;
    height: 10px;
  }

  // inside progress bar
  &__progress-bar {
    width: 100%;
    height: 4px;
    background-color: rgb(var(--zn-border-color));
    position: absolute;
    overflow: hidden;
    top: 2px;
    left: 0;
  }

  &__progress {
    height: 8px;
    background-color: rgb(var(--color));
    position: absolute;
    top: 0;
    left: 0;
  }

  &__status {
    color: rgb(var(--color));
    font-size: 12px;
    margin-left: auto;
  }
}
