@use "../../wc";

.hidden {
  display: none;
}

:host([tile]) {
  min-width: var(--zn-spacing-tile);
}

:host([small]) {
  min-width: var(--zn-spacing-small-panel);
}

:host([medium]) {
  min-width: var(--zn-spacing-medium-panel);
}

:host([flush]) {
  > div .body {
    padding: var(--zn-spacing-medium) 0 0;
  }
}

:host([tabbed]) {
  > div .body {
    padding: var(--zn-spacing-x-small) 0 0;
  }
}

.panel {
  &--tabbed {

  }
}

:host([transparent]) {
  > div {
    background-color: transparent;
    border-color: transparent !important;

    &:before {
      display: none;
    }

    .header {
      padding: 0 0 var(--zn-spacing-medium);
    }
  }
}

.panel:not(.panel--flush) {
  ::slotted(zn-sp) {
    --zn-sp-padding: 0 !important
  }
}

:host {
  @include wc.scrollbars;

  flex-grow: 1;
  --row-count: 1;
  overflow: visible;
  display: flex;
  max-width: 100%;
  z-index: 1;
  min-width: var(--zn-spacing-small-panel);
  position: relative;
  margin-bottom: 2px;

  > div {
    position: relative;
    border-width: 1px !important;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    flex-basis: var(--zn-spacing-small-panel);
    width: 100%;
    background-color: rgba(var(--zn-panel), var(--zn-panel-opacity));
    border-radius: 10px;

    &:before {
      position: absolute;
      content: '';
      bottom: -3px;
      left: 0;
      right: 0;
      height: 20px;
      background-color: rgb(var(--zn-shadow));
      border-radius: 10px;
      z-index: -1;
    }

    .header {
      display: flex;
      justify-items: center;
      padding: var(--zn-spacing-medium) var(--zn-spacing-medium) 0;

      span {
        font-weight: var(--zn-font-weight-bold);
        flex-grow: 1;
        font-size: var(--zn-font-size-medium);
        color: rgba(var(--zn-text-panel-title), 100%);
      }
    }

    .body {
      border-radius: 10px;
      display: flex;
      flex-direction: column;
      overflow-y: auto;
      flex-grow: 1;
      padding: var(--zn-spacing-medium);

      > :not([hidden]) ~ :not([hidden]) {
        border: 1px solid black !important;
      }

    }

    .body.ntp {
      padding-top: 0;
    }

    .footer {
      font-size: 13px;
      display: block;
      padding: var(--zn-spacing-small) var(--zn-spacing-medium);
      background: rgb(var(--zn-panel-secondary));
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
    }

    .header:empty, .footer:empty {
      display: none;
    }
  }
}

:host([rows]) {
  min-height: 30px;

  > div {
    padding-top: 0;
    padding-bottom: 0;
  }

  .header {
    padding: var(--zn-spacing-medium);
  }

  .footer {
    padding-bottom: var(--zn-spacing-medium);
  }
}

:host([divide]) {

  .body {
    padding: 0;

    display: flex;
    flex-direction: column;
  }

  ::slotted(*:not([slot="footer"])) {
    padding: var(--zn-spacing-medium);
    border-top-width: 1px !important;
  }

  ::slotted(*:first-child) {
    border-top-width: 0 !important;
  }
}

:host([rows]:not([rows=""])) {
  .body {
    $tile: var(--zn-sizes-tile);
    max-height: calc($tile * var(--row-count, 50));
    height: calc($tile * var(--row-count));
  }
}

:host([single]) > div {
  width: 100%;
  border-width: 1px !important;
  min-width: 0;
}

h2 {
  padding: 0;
  margin: 0;
}

:host([bright]) > div {
  background-color: rgb(var(--zn-bright-bg));
}

:host([border='*']) > div .footer {
  padding-top: 0;
  border: 0 !important;
}

:host([border='top']) > div {
  border-width: 0 !important;
  border-top-width: 1px !important;
}

:host([rounded=false]) > div {
  border-radius: 0;

  .footer {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
}
