@use "../../wc";

:host {
  @include wc.scrollbars;
  flex-grow: 1;
  overflow: visible;
  display: flex;
  max-width: 100%;
  z-index: 1;
  position: relative;
  min-width: var(--zn-spacing-small-panel);
  flex-basis: var(--zn-panel-basis);
}

.panel {
  position: relative;
  border: 1px solid rgb(var(--zn-border-color));
  display: flex;
  border-radius: var(--zn-border-radius-large);
  flex-direction: column;
  flex-grow: 1;
  flex-basis: var(--zn-spacing-small-panel);
  width: 100%;
  background-color: rgba(var(--zn-panel), var(--zn-panel-opacity));
  margin-bottom: 3px;

  &__inner {
    overflow: hidden;
    display: flex;
    border-radius: var(--zn-border-radius-large);
    flex-direction: column;
    flex-grow: 1;
  }

  &__header {
    padding: var(--zn-spacing-x-small) var(--zn-spacing-medium);

    &::part(base) {
      border-bottom: 0;
    }

    &::part(content) {
      padding: 0;
    }
  }

  &__body {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    flex-grow: 1;
    padding: 0 var(--zn-spacing-medium) var(--zn-spacing-medium);

    > :not([hidden]) ~ :not([hidden]) {
      border: 1px solid rgb(var(--zn-border-color));
    }
  }

  &__footer {
    font-size: var(--zn-font-size-small);
    display: block;
    padding: var(--zn-spacing-small) var(--zn-spacing-medium);
    background: rgb(var(--zn-panel-secondary));
    border-bottom-left-radius: var(--zn-border-radius-large);
    border-bottom-right-radius: var(--zn-border-radius-large);
  }

  &--tabbed .panel__body {
    padding: 0;
  }

  &--transparent {
    background-color: transparent;
    border: none;

    &:before {
      display: none;
    }
  }

  &:not(.panel--flush, .panel--flush-x, .panel--flush-y) {
    ::slotted(zn-sp) {
      --zn-sp-padding: 0 !important
    }
  }

  &:before {
    position: absolute;
    content: '';
    bottom: -3px;
    left: 0;
    right: 0;
    height: 20px;
    background-color: rgb(var(--zn-shadow));
    border-radius: var(--zn-border-radius-large);
    z-index: -1;
  }


  &:not(.panel--has-header):not(.panel--flush, .panel--flush-y) &__body {
    padding-top: var(--zn-spacing-medium);
  }

  &--flush {
    .panel__body {
      padding: 0;
    }
  }

  &--flush-x {
    .panel__body {
      padding-inline: 0;
    }
  }

  &--flush-y {
    .panel__body {
      padding-block: 0;
    }
  }

  &--transparent {
    .panel__header {
      padding-left: 0;
      padding-right: 0;
    }
  }
}

/** GLOW **/
.glow-cont, .glow {
  height: calc(100% - 1px);
  width: calc(100% + 2px);
  position: absolute;
  overflow: hidden;
  z-index: 0;
  border-radius: 8px;
  margin: -1px;
}

.glow {
  overflow: hidden;
  filter: blur(2px);
}

.glow-cont:before, .glow:before {
  content: '';
  z-index: -2;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(0deg);
  position: absolute;
  width: 200vh;
  height: 200vh;
  background-image: conic-gradient(from 90deg at 50% 50%, #71C4FFFF 0%, #A100FFFF 22%, #71C4FFFF 44%, #FF00CEFF 74%, #71C4FFFF 94%);
  opacity: 0.6;
  animation: rotate 4s linear infinite;
}

.glow-cont:after {
  content: '';
  position: absolute;
  z-index: -1;
  top: 1px;
  left: 1px;
  width: calc(100% - 2px);
  height: calc(100% - 2px);
  background: rgb(var(--zn-panel));
  border-radius: var(--zn-border-radius-large);
}

@keyframes rotate {
  100% {
    transform: translate(-50%, -50%) rotate(1turn);
  }
}

/** GLOW **/
