@use "../../scss/wc";

:host {
  position: relative;
  display: inline-flex;
  width: 50px;
  height: 25px;
  flex-shrink: 0;
  cursor: pointer;
  border-radius: 20px;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.15);
  border-width: 1px !important;
  transition: color .2s ease-in-out, background-color .4s ease-in-out, border-color .2s ease-in-out;

  &:focus {
    outline: 2px solid transparent;
    box-shadow: 0 0 0 2px rgb(var(--zn-color-tertiary)), 0 0 0 4px rgb(var(--zn-color-tertiary));
  }

  span {
    pointer-events: none;
    display: inline-block;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.9);
    box-shadow: rgb(255, 255, 255) 0 0 0 0, rgba(59, 130, 246, 0.5) 0 0 0 0, rgba(0, 0, 0, 0.1) 0 1px 3px 0, rgba(0, 0, 0, 0.1) 0 1px 2px -1px;
    transform: translateX(-1px) scale(0.8);
    transition: transform .3s ease-in-out, background-color .4s ease-in-out, opacity .2s ease-in-out;
    outline: none;

    &:focus {
      background-color: rgb(var(--zn-color-tertiary));
    }
  }
}

:host([checked]) {
  background-color: rgb(var(--zn-color-tertiary));
  border-color: rgba(var(--zn-color-tertiary), 0.8) !important;

  span {
    background-color: rgba(255, 255, 255, 1);
    transform: translateX(calc(100% - 1px)) scale(0.9);

    &:focus {
      background-color: rgba(0, 0, 0, 0.25);
    }
  }
}
