
.xs{
  --spacing: 1px;
}
.s{
  --spacing: 1px;
}
.m{
  --spacing: 1px;
}
.l{
  --spacing: 1px;
}
.xl{
  --spacing: 1px;
}
.x2{
  --spacing: 1px;
}
.x3{
  --spacing: 1px;
}

@include breakpoint(tablet up) {
  body {
    font-size: 17px;
  }
}

@include breakpoint(hd) {
  body {
    font-size: 19px;
  }
}
