@use "../../wc";

:host {
  display: inline-block;
}

slot {
  display: inline-flex;
}

.copy-button {
  &--success {
    // color: rgb(var(--zn-color-success));
  }

  &--error {
    // color: rgb(var(--zn-color-error));
  }
}

.copy-button__button {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  background: none;
  border: none;
  border-radius: 3px;
  font-size: inherit;
  color: inherit;
  padding: var(--zn-spacing-2x-small);
  cursor: pointer;
  transition: color 0.2s;

  &:focus-visible {
    outline: none;
    box-shadow: 0 0 0 2px rgb(var(--zn-primary));
  }

  &[disabled] {
    opacity: 0.5;
    cursor: not-allowed !important
  }
}

[hidden] {
  display: none;
}
