@use '../../scss/wc';

:host > div {
  background-color: rgb(var(--zn-color-primary));
  padding: wc.spacing(md);
  display: flex;
  flex-direction: column;

  h1 {
    font-size: 24px;
  }

  > div {
    margin-top: wc.spacing(sm);
  }
}
