@tailwind base;

:host > div {
  @apply flex justify-center border-b overflow-hidden pb-sm;
  @apply border-border;
  @apply bg-white;
}

:host([transparent]) > div {
  @apply bg-transparent;
}

:host([d]) > div {
  @apply bg-dark-900 border-darkBorder;

  .breadcrumb {
    @apply text-darkTxt-600;
  }

  h1 {
    @apply text-darkTxt-900;
  }
}

:host([navigation]) > div {
  @apply pb-0;
}

:host > div {

  @apply gap-sm pt-sm;

  .width-container {
    @apply w-full flex flex-wrap w-full gap-sm h-fit px-sm md:px-lg;
    max-width: var(--max-width);
  }

  .breadcrumb {
    @apply block text-txt-400 w-full py-xxs;
    padding-top:10px;
  }

  .breadcrumb:empty {
    @apply hidden;
  }

  h1 {
    @apply text-title grow;
    @apply text-primary-800;
    line-height: 20px;

  }

  h1:empty, &:empty {
    @apply hidden;
  }

  slot {
    @apply flex items-center flex-wrap gap-xs;
  }

  ul.header-nav {
    @apply box-border flex basis-full gap-[30px] pt-xs;

    li {

      @apply text-navitem font-semibold relative;
      @apply text-dark-600 text-opacity-80;

      a {
        @apply block cursor-pointer;
        padding-bottom: 4px;
        line-height: 30px;
        padding-top: 10px;
      }

      &::before {
        @apply inset-x-1/2 absolute bottom-0 transition-all duration-300  h-xxs;
        content: "";
      }

      &:hover::before {
        @apply bg-secondary-500 bg-opacity-50;
        left: -2px;
        right: -2px;
      }

      &.active::before {
        @apply bg-secondary-500;
        left: -8px;
        right: -8px;
      }
    }
  }
}
