@use "../wc";

:host {
  @include wc.scrollbars;
  container-type: inline-size;
  display: flex;
  flex-direction: column;
  height: 100%;
  max-height: 100%;
  max-width: 100%;
  flex-grow: 1;
  overflow: hidden;
  margin: 0;

  zn-header {
    position: sticky;
    top: 0;
    z-index: 2;
  }
}

.pane__content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  z-index: 0;
  min-height: 0;
  overflow: auto;
}

slot {
  @include wc.page-content;
  width: 100%;
  height: 100%;
}

:host(:not([flush])) {
  .pane__content {
    @include wc.padding;
  }
}
