/**
Apply default styles to the document, and shadow documents
 */

:host, html, body {
  color: rgba(var(--zn-text), var(--zn-text-opacity));
  font-family: var(--zn-font-family-sans);

  font-feature-settings: normal;
  font-variation-settings: normal;
  font-size: 14px;
  line-height: 1.5;

  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0%);
  -moz-tab-size: 4;
  tab-size: 4;
  margin: 0;
}

html, body {
  background-color: rgba(var(--zn-body), var(--zn-bg-opacity));
  container-type: size;
  min-height: 100%;
  height: 100%;
}

.inline-container {
  container-type: inline-size;
}

.app-container {
  container-type: inline-size;
  display: flex;
  flex: 1;
  flex-direction: column;
  position: relative;
  max-height: 100%;
  height: 100%;
  width: 100%;
  max-width: 100%;
  overflow: auto;
}

hr {
  height: 0;
  color: rgb(var(--zn-border-color));
  border-top-width: 1px;
}

code, kbd, samp, pre {
  font-family: var(--zn-font-family-mono);
  font-size: 1em;
}

small {
  font-size: 80%;
}

.hidden {
  display: none;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 600;
  color: rgb(var(--zn-text-heading));
}

kbd {
  font-family: monospace;

  background-color: #eee;
  color: #333;

  border: 1px solid rgb(var(--zn-border-color));

  border-radius: 3px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, .2), 0 1px 0 0 rgba(255, 255, 255, .5) inset;
  display: inline-block;
  font-size: 13px;
  line-height: 20px;
  padding: 1px 6px;
  white-space: nowrap;
  min-width: 15px;
  color: rgba(0, 0, 0, 0.5);
}

[t="dark"] kbd {
  background-color: #5e5e5e;
  color: #eee;
}

[tab] {
  cursor: pointer;
}

.zn-link:hover {
  --zn-text: rgb(var(--zn-primary));
  --icon-color: rgb(var(--zn-primary));
  --zn-text-heading: rgb(var(--zn-primary));
  --property-color: rgb(var(--zn-primary));
  opacity: 1;
}
