@use "../variables" as v;
@use "../mixins" as m;

table {
  border-collapse: separate;
  border-spacing: 0;
  width: 100%;
  max-width: 100%;
  table-layout: auto;
  text-align: left;

  thead {
    font-weight: 500;
  }

  tbody {
    //background-color: rgba(var(--zn-panel), var(--zn-panel-opacity));

    a {
      cursor: pointer;
      color: rgb(var(--zn-accent));
    }
  }

  tbody tr td {
    border-top: 1px solid rgb(var(--zn-border-color)) !important;
  }

  tbody tr:first-of-type td {
    border-top: 0 !important;
  }

  th, td {
    padding: m.spacing(md);
    white-space: nowrap;

    &:first-child {
      padding-left: 0;
    }

    &:last-child {
      padding-right: 0;
    }
  }

  th {
    padding-bottom: m.spacing(md);
  }
}

.zn-table-fixed {
  table-layout: fixed;
}
