@use "../variables" as v;
@use "../mixins" as m;

table:not(.remarkd-table) {
  border-collapse: separate !important;
  border-spacing: 0;
  width: 100%;
  max-width: 100%;
  table-layout: auto;
  text-align: left;
  @include m.text-style(table-content);

  thead {
    font-weight: var(--zn-font-weight-medium);
  }

  thead tr th {
    background-color: rgb(var(--zn-table-header-background-color));
  }

  tbody {
    //background-color: rgba(var(--zn-panel), var(--zn-panel-opacity));

    a {
      cursor: pointer;
      color: rgb(var(--zn-primary));
    }
  }

  tbody tr td {
    border-top: 1px solid rgb(var(--zn-border-color)) !important;
  }

  tbody tr:first-of-type td {
    border-top: 0 !important;
  }

  th, td {
    padding: var(--zn-spacing-small) var(--zn-spacing-medium);
    min-width: 90px;
    white-space: nowrap;
  }

  td > span {
    white-space: normal;
  }

  th {
    @include m.text-style(button-label);
    text-transform: capitalize;
    border-bottom: 1px solid rgb(var(--zn-border-color));
  }
}

.zn-table-fixed {
  table-layout: fixed;
}

thead tr:last-of-type th {
  border-bottom: 0;
}
