.zn-divide > *:not(:first-child) {
  border-top: 1px solid rgb(var(--zn-border-color));
}

.zn-divide > div:empty + div:not(:first-child) {
  /** Support Empty Divs only - custom elements can be empty and have content **/
  border-top: 0;
}


.zn-divide {
  display: flex;
  flex-direction: column;
}

.zn-divide-y {
  display: flex;
  flex-direction: row;
}

.zn-divide-y > *:not(:first-child):not(:empty) {
  border-left: 1px solid rgb(var(--zn-border-color));
}
