@use "../mixins";

.grow {
  flex-grow: 1;
}

.flex {
  display: flex;
}

.flex-wrap {
  display: flex;
  flex-wrap: wrap;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.flex-mid {
  display: flex;
  align-items: center;
}

.flex-between {
  display: flex;
  justify-content: space-between;
}

.flex-bottom {
  display: flex;
  align-items: flex-end;
}

.equal {
  flex-basis: 50%;
}

.m-auto {
  margin: auto;
}

.mt-auto {
  margin-top: auto;
}

.zn-pad {
  @include mixins.padding();
}

.zn-pad-y, .zn-py {
  padding-top: #{mixins.spacing(md)};
  padding-bottom: #{mixins.spacing(md)};
}

.zn-pad-x, .zn-px {
  padding-left: #{mixins.spacing(md)};
  padding-right: #{mixins.spacing(md)};
}

.zn-pr {
  padding-right: #{mixins.spacing(md)};
}

.zn-pl {
  padding-left: #{mixins.spacing(md)};
}

.zn-pt {
  padding-top: #{mixins.spacing(md)};
}

.zn-pb {
  padding-bottom: #{mixins.spacing(md)};
}


// Rotate
.rotate-45 {
  transform: rotate(45deg);
}

.rotate-90 {
  transform: rotate(90deg);
}

.rotate-180 {
  transform: rotate(180deg);
}


// Effects

@keyframes act-vanish {
  from {
    transform: scale(1);
    opacity: 1;
    max-height: 100%;
  }

  to {
    transform: scale(0.8);
    opacity: 0;
    max-height: 0;
  }
}

.act-vanish {
  animation: ease-in act-vanish 600ms forwards;
  transform-origin: top center;
  background-color: rgba(var(--zn-color-error), 0.3);
  display: block;
  overflow: hidden;
}

// height
.h-full {
  height: 100%;
}

.w-full {
  width: 100%;
}

.zn-panel-bg {
  background-color: rgba(var(--zn-panel), var(--zn-panel-opacity));
}

.zn-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  max-height: 100%;
  overflow: hidden;
}

.tar {
  text-align: right;
}

.tal {
  text-align: left;
}

.tac {
  text-align: center;
}

.zn-empty-hide:empty {
  display: none;
}

.ml-auto {
  margin-left: auto;
}


.zn-bt {
  border-top-width: 1px !important;
}

.zn-bb {
  border-bottom-width: 1px !important;
}

.zn-bl {
  border-left-width: 1px !important;
}

.zn-br {
  border-right-width: 1px !important;
}

.unifi-action {
  display: flex;
  gap: 10px;
  padding: 10px 0;
  align-items: center;
}
