@use "../mixins";

.grow {
  flex-grow: 1;
}

.flex {
  display: flex;
}

.flex-wrap {
  display: flex;
  flex-wrap: wrap;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.flex-mid {
  display: flex;
  align-items: center;
}

.flex-between {
  display: flex;
  justify-content: space-between;
}

.flex-bottom {
  display: flex;
  align-items: flex-end;
}

.equal {
  flex-basis: 50%;
}

.m-auto {
  margin: auto;
}

.mt-auto {
  margin-top: auto;
}

.zn-pad {
  @include mixins.padding();
}

.zn-pad-y {
  padding-top: #{mixins.spacing(md)};
  padding-bottom: #{mixins.spacing(md)};
}

.zn-pad-x {
  padding-left: #{mixins.spacing(md)};
  padding-right: #{mixins.spacing(md)};
}

.zn-pr {
  padding-right: #{mixins.spacing(md)};
}

.zn-pl {
  padding-left: #{mixins.spacing(md)};
}

.zn-pt {
  padding-top: #{mixins.spacing(md)};
}

.zn-pb {
  padding-bottom: #{mixins.spacing(md)};
}


// Rotate
.rotate-45 {
  transform: rotate(45deg);
}

.rotate-90 {
  transform: rotate(90deg);
}

.rotate-180 {
  transform: rotate(180deg);
}


// Effects

.act-vanish {
  transition: opacity 1s, height 1s, padding 1s, margin 1s;
  opacity: 1;
}

.act-vanish.act-vanish--progress {
  background-color: rgba(var(--zn-color-error), 0.3);
  opacity: 0;
  padding: 0;
  margin: 0;
  height: 0 !important;
  overflow: hidden;
}

// height
.h-full {
  height: 100%;
}

.w-full {
  width: 100%;
}

.zn-panel-bg {
  background-color: rgba(var(--zn-panel), var(--zn-panel-opacity));
}

.zn-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  max-height: 100%;
  overflow: hidden;
}

.tar {
  text-align: right;
}

.tal {
  text-align: left;
}

.tac {
  text-align: center;
}
