@use "../../wc";

:host {
  display: block;
}

.data-table-filter {
  display: flex;
  flex-direction: column;
  gap: var(--zn-spacing-small);

  &__item {
    display: flex;
    justify-content: space-between;

    &__name {
      font-weight: 500;
      color: rgb(var(--zn-text-heading));
      width: 100%;
    }
  }
}
