<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Zinc-Layout Demo</title>
  <link rel="stylesheet" href="../dist/zn-layout.css"/>
  <script src="../dist/zn-layout.js" type="text/javascript"></script>
</head>
<body>
<app-container>
  <zn-cols>
    <div slot="col1">Col 1</div>
    <div slot="col2">Col 2</div>
  </zn-cols>
  <zn-cols layout="1,2">
    <div slot="col1">Col 1</div>
    <div slot="col2">Col 2</div>
  </zn-cols>
  <zn-cols layout="1,1,1">
    <div slot="col1">Col 1</div>
    <div slot="col2">Col 2</div>
    <div slot="col3">Col 3</div>
  </zn-cols>
</app-container>
</body>
</html>
