@use "../wc";


zn-tile:first-of-type, :host(:first-of-type) {
  border-top-width: 0 !important;
}

zn-tile, :host {
  border-width: 0;
  border-top-width: 1px !important;
  border-style: solid;
  border-color: rgb(var(--zn-border-color));
}

:host([padded]) {
  .bottom, .wrap, .top {
    padding: wc.spacing(xl) wc.spacing(lg);
  }

  .top {
    padding-bottom: 0;

    &:not(:empty) {
      padding-top: wc.spacing(sm);
      padding-bottom: wc.spacing(xs);
    }
  }

  .bottom {
    padding-top: 0;
  }
}

:host([centered]) {
  .wrap {
    justify-content: center;
    align-items: center;
    display: flex;
  }
}

:host {
  container-type: inline-size;
  display: flex;
  min-height: wc.common-size(tile);
  width: 100%;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  flex-shrink: 0;

  .wrap {
    width: 100%;
    height: 100%;
  }

  > .top {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    gap: wc.spacing(sm);
    padding-top: wc.spacing(sm);
  }

  > .bottom {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    overflow: hidden;
    flex-wrap: nowrap;
    padding-bottom: wc.spacing(sm);
    padding-top: wc.spacing(sm);
    gap: wc.spacing(md);

    > * {
      height: 100%;
      display: flex;
      justify-content: center;
      flex-direction: column;
    }

    slot[name="primary"] {
      flex-basis: 130px;
      min-width: 110px;
      width: 110px;
    }

    zn-prop, slot[name="chip"] {
      display: none;
      flex-grow: 1;

      @include wc.container-query(sm) {
        display: flex;
      }
    }

    .summary {
      flex-grow: 1;
      flex-shrink: 1;
      min-width: 190px;
      width: fit-content;
      flex-basis: 210px;
    }

    .caption {
      color: rgb(var(--zn-text-heading));
      font-weight: 500;
    }

    .caption[data-uri]:not([data-uri=""]) {
      cursor: pointer;
      color: rgb(var(--zn-primary));
    }

    .description {
      // Description
    }

    .caption, .description {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    .extended {
      display: none;
      flex-grow: 1;
      flex-shrink: 1;
      overflow: hidden;
      align-items: center;
      gap: 50px 20px;
      grid-template-columns: repeat(auto-fit, minmax(30px, 1fr));
      grid-template-rows: 100% 0;

      @include wc.container-query(smp) {
        display: grid;
        flex-basis: 50%;
      }
    }

    slot[name="chip"] {
      justify-items: center;
      grid-column: span 2;
    }

    .actions {
      max-width: 30px;
      width: 30px;

      zn-icon {
        cursor: pointer;
        padding: wc.spacing(md);
        border-radius: 100%;

        &:hover {
        }
      }

      zn-menu {
        position: absolute;
        right: 0;
        top: 0;
      }
    }
  }
}

:host([child]) {
  height: wc.common-size(bar);

  > div {
    padding-left: wc.spacing(xl);

    .description {
      display: none;
    }
  }
}

:host([right]) {
  .summary {
    text-align: right;
  }

  .summary.extend {
    @include wc.container-query(smp) {
      text-align: left;
    }
  }
}


:host(.active) {
  background-color: rgba(var(--zn-panel));
}
