@use "../../wc";

:host {
  display: block;
}

:host([hidden]) {
  display: none !important;
}

.opt-group__label {
  font-family: var(--zn-font-sans);
  font-size: var(--zn-font-size-x-small);
  font-weight: var(--zn-font-weight-semibold);
  line-height: var(--zn-line-height-normal);
  letter-spacing: var(--zn-letter-spacing-normal);
  color: var(--zn-color-neutral-500);
  text-transform: uppercase;
  padding-block: var(--zn-spacing-2x-small);
  padding-inline: var(--zn-spacing-large);
  user-select: none;
  -webkit-user-select: none;
}

:host(:not(:first-of-type)) .opt-group__label {
  border-block-start: solid var(--zn-panel-border-width) var(--zn-panel-border-color);
  margin-block-start: var(--zn-spacing-x-small);
  padding-block-start: var(--zn-spacing-small);
}

.opt-group__options {
  display: block;
}

:host([disabled]) {
  opacity: 0.5;
}
