$white: #fff;
$black: #000;

// Purple
$purple: (
  100: #faf5ff,
  200: #e9d8fd,
  300: #d6bcfa,
  400: #b794f4,
  500: #9f7aea,
  600: #805ad5,
  700: #6536eb,
  800: #553c9a,
  900: #44337a,
);


// Blue
$blue: (
  100: #ebf8ff,
  200: #bee3f8,
  300: #90cdf4,
  400: #63b3ed,
  500: #4299e1,
  600: #3182ce,
  700: #2b6cb0,
  800: #2c5282,
  900: #2a4365,
);

// Yellow
$yellow: (
  100: #fffbea,
  200: #fff3c4,
  300: #ffe79a,
  400: #ffdb70,
  500: #ffcd46,
  600: #d4a53a,
  700: #ab7d2e,
  800: #825524,
  900: #593b18,
);

// Red
$red: (
  100: #fddfdf,
  200: #f9bec1,
  300: #f58fa3,
  400: #f16185,
  500: #ed3267,
  600: #c92654,
  700: #a11b41,
  800: #78102e,
  900: #4f051b,
);

// Green
$green: (
  100: #d1f5f0,
  200: #a3ebe1,
  300: #76e1d2,
  400: #48d7c3,
  500: #29c1bc,
  600: #1e9a95,
  700: #14726e,
  800: #0a4a47,
  900: #031221,
);

// Turquoise
$turquoise: (
  500: #29c1bc,
);

// Slate
$slate: (
  50: #f9fafb,
  100: #f3f4f6,
  200: #e5e7eb,
  300: #d1d5db,
  400: #9ca3af,
  500: #6b7280,
  600: #4b5563,
  700: #374151,
  800: #1f2937,
  900: #111827,
);
