// Containers
$container: (
  default: 100%,
  zero: 0px,
  sm: 360px,
  smp: 480px,
  ph: 600px,
  md: 768px,
  lg: 1100px,
  hd: 1440px,
  '3k': 1960px,
  '4k': 2560px
);

// Spacing
$spacing: (
  px: 1px,
  xxs: 3px,
  xs: 5px,
  sm: 10px,
  md: 15px,
  lg: 20px,
  xl: 25px,
);

// Common sizes
$common-sizes: (
  bar: 60px,
  tile: 80px,
  sidenav: 240px,
  spanel: 200px,
  mpanel: 320px,
  panel: 360px
);
