// Containers
$container: (
  default: 100%,
  zero: 0px,
  sm: 360px,
  smp: 480px,
  ph: 600px,
  md: 768px,
  lg: 1100px,
  hd: 1440px,
  '3k': 1960px,
  '4k': 2560px
);

// Spacing
$spacing: (
  px: 2px,
  xxs: 4px,
  xs: 8px,
  sm: 16px,
  md: 24px,
  lg: 32px,
  xl: 40px,
);

// Common sizes
$common-sizes: (
  bar: 58px,
  tile: 80px,
  sidenav: 320px,
  spanel: 170px,
  mpanel: 320px,
  panel: 360px,
  lside: 460px,
);
