// Containers
$container: (
  default: var(--zn-container-default),
  zero: 0,
  sm: var(--zn-container-sm),
  smp: var(--zn-container-smp),
  ph: var(--zn-container-ph),
  md: var(--zn-container-md),
  lg: var(--zn-container-lg),
  hd: var(--zn-container-hd),
  '3k': var(--zn-container-3k),
  '4k': var(--zn-container-4k),
);

// Spacing
$spacing: (
  xxs: 3px,
  xs: 5px,
  sm: 10px,
  md: 15px,
  lg: 20px,
  xl: 25px,
);

// Common sizes
$common-sizes: (
  bar: 60px,
  tile: 80px,
  sidenav: 320px,
  spanel: 170px,
  mpanel: 320px,
  panel: 360px,
  lside: 460px,
);
