:host {
  display: block;
  container-type: inline-size;
  width: 100%;
}

.re {
  display: flex;
  width: 100%;
  flex-direction: row;
  gap: 10px;

  &__left {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  &__display {
    line-height: var(--zn-line-height-looser);
    padding: 0;
    color: rgb(var(--zn-text));
    text-decoration: underline;
    text-decoration-style: dashed;
    text-decoration-color: rgb(var(--zn-primary), 0.5);
    text-underline-offset: 3px;
    cursor: pointer;
    display: block;
    width: 100%;
  }

  &__input {
    display: none;
    height: unset;
    opacity: 1;
  }

  &--editing {
    .re__display {
      display: none;
    }

    .re__input {
      display: block;
    }

    .re__right {
      display: flex !important;
    }
  }

  &__right {
    font-size: 12px;
    color: rgb(var(--zn-primary));
    font-weight: 500;
    cursor: pointer;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: flex-end;

    .button--edit {
      display: none;
    }
  }

  &:not(.re--disabled):hover {
    .button--edit {
      display: inline-block;
    }
  }

  &--disabled:not(.re--editing) {
    .re__right {
      display: none !important;
    }
  }
}
