package-lock.json
php/composer.lock
node_modules
php/vendor

Components/*/scss/*.css
Layout/*/scss/*.css

Components/*/scss/*.css.map
Layout/*/scss/*.css.map

Components/*/scss/*.map
Layout/*/scss/*.map

scss/*.css
scss/_*/*.css
scss/*.map
scss/_*/*.map
