*, *::before, *::after {
  box-sizing: border-box;
}


:host {
  > div {
    padding: 10px;
    background-color: rgba(237, 84, 109, 0.1);
    height: 90px;
    border-bottom: 1px solid #E3E3E3;
  }
}

.available {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border: 1px dotted #ED546D;
  height: 100%;
  width: 100%;
  color: #ED546D;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
}
