@use "../../wc";

:host {
  > div {
    padding: 10px;
    background-color: rgba(237, 84, 109, 0.1);
    height: 90px;
    border-bottom: 1px solid rgb(var(--zn-border-color));
  }
}

.available {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border: 1px dotted rgb(var(--zn-color-error));;
  height: 100%;
  width: 100%;
  color: rgb(var(--zn-color-error));;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
}
