@use "sass:map";
@use "../scss";

:host {
  display: inline-block;
  border-radius: 5px;
  padding: map.get(scss.$spacing, xs) map.get(scss.$spacing, sm);
  text-align: center;
  font-weight: 600;
  width: fit-content;
  margin: 1px;
  color: white;
  text-transform: uppercase;
  font-size: 80%;
  background-color: rgb(var(--color-tertiary));
  border-color: rgb(var(--color-tertiary));
}

:host([error]) {
  color: rgb(var(--color-error));
  border-color: rgb(var(--color-error));
  border-width: 1px;
  background-color: rgb(var(--color-error));
}

:host([info]) {
  color: rgb(var(--color-info));
  border-color: rgb(var(--color-info));
  border-width: 1px;
  background-color: rgb(var(--color-info));
}

:host([warning]) {
  color: rgb(var(--color-warning));
  border-color: rgb(var(--color-warning));
  border-width: 1px;
  background-color: rgb(var(--color-warning));
}

:host([success]) {
  color: rgb(var(--color-success));
  border-color: rgb(var(--color-success));
  border-width: 1px;
  background-color: rgb(var(--color-success));
}
