@use "sass:map";
@use "../../scss/wc";

:host {
  display: inline-block;
  border-radius: 5px;
  padding: wc.spacing(xs) wc.spacing(sm);
  text-align: center;
  font-weight: 600;
  width: fit-content;
  margin: 1px;
  color: white;
  text-transform: uppercase;
  font-size: 80%;
  background: rgba(var(--zn-color-tertiary), var(--zn-bg-opacity));
  border-color: rgba(var(--zn-color-tertiary)) !important;
}

:host([error]) {
  color: rgb(var(--zn-color-error));
  border-color: rgb(var(--zn-color-error)) !important;
  border-width: 1px !important;
  background: rgba(var(--zn-color-error), .10);
}

:host([info]) {
  color: rgb(var(--zn-color-info));
  border-color: rgb(var(--zn-color-info)) !important;
  border-width: 1px !important;
  background: rgba(var(--zn-color-info), .10);
}

:host([warning]) {
  color: rgb(var(--zn-color-warning));
  border-color: rgb(var(--zn-color-warning)) !important;
  border-width: 1px !important;
  background: rgba(var(--zn-color-warning), .10);
}

:host([success]) {
  color: rgb(var(--zn-color-success));
  border-color: rgb(var(--zn-color-success)) !important;
  border-width: 1px !important;
  background: rgba(var(--zn-color-success), .10);
}
