@use "../../wc";
@use "../../../scss/shared/form-elements";

:host {
  display: contents;

  --zn-input-bg: var(--zn-panel)
}

.add-rule {
  max-width: 250px;
  margin-bottom: 10px;
}

.bulk-actions {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  zn-button {
    align-self: flex-end;
  }

  &__row {
    display: grid;
    grid-template-columns: 1fr 1fr 10%;
    width: 100%;
    gap: 10px;
    padding-bottom: 10px;
  }
}
