@use "../../wc";
@use "../../../scss/shared/form-elements";

:host {
  display: contents;

  --zn-input-bg: var(--zn-panel)
}

.add-rule {
  max-width: 250px;
  margin-bottom: 10px;
}

.bulk-action {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  zn-button {
    align-self: flex-end;
  }

  &__row {
    display: flex;
    width: 100%;
    gap: 10px;
  }

  &__row {
    padding-bottom: 10px;
  }

  &__value {
    flex-grow: 1;
  }

}
