@use "../../wc";

:host {
  display: block;
  position: relative;
  border-width: 1px;
  border-radius: 5px;
  width: fit-content;
  min-width: var(--zn-spacing-small-panel);
  overflow: auto;
  overscroll-behavior: none;
  box-shadow: var(--zn-shadow-medium);
  background-color: rgb(var(--zn-panel, 255, 255, 255));
}
