@use "../../wc";

:host {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
  flex-shrink: 1;
  width: 100%;
  container-type: inline-size;

  // width: 100cqw;
  max-width: 100%;
  --col-width: 23%;

  @include wc.gap;
}

:host([mc="5"]) {
  --col-width: 17%;
}

:host([mc="3"]) {
  --col-width: 30%;
}

:host([mc="2"]) {
  --col-width: 40%;
}

::slotted(.zn-col-1) {
  flex-basis: wc.common-size(spanel);
  min-width: var(--col-width);
}

::slotted(.zn-col-2) {
  flex-basis: wc.common-size(spanel)*2;
  min-width: calc(var(--col-width) * 2);
}

::slotted(.zn-col-3) {
  flex-basis: wc.common-size(spanel)*3;
  min-width: calc(var(--col-width) * 3);
}

:host([layout="121"]) {
  ::slotted(.zn-col-2) {
    order: -1;
    min-width: 100%;
  }
}

@include wc.container-query(hd) {
  :host([layout="121"]) {
    ::slotted(.zn-col-2) {
      order: initial;
      min-width: 46%;
    }
  }
}

::slotted(.zn-col-1) {
  flex-grow: 1;
}

::slotted(.zn-col-2) {
  flex-grow: 2;
}

::slotted(.zn-col-3) {
  flex-grow: 3;
}

::slotted(.zn-col-3) {
  flex-grow: 4;
}
