@use '../wc';

:host([transparent]) > div {
  background-color: transparent;
}

:host([navigation]) > div {
  h1 {
    padding-bottom: 0;
  }
}

:host #nav-container {
  gap: 0;
}

.alt-overlay {
  display: none;
}

:host(.alt-pressed) {
  .alt-overlay:empty {
    display: none !important;
  }

  .alt-overlay {
    display: flex;
    gap: 10px;
    align-items: flex-end;
    position: absolute;
    left: 0;
    top: 10px;
    padding: 6px 15px;
    background: rgba(var(--zn-panel), 0.95);

    a {
      display: flex;
    }

    zn-icon:hover {
      color: rgb(var(--zn-primary));
      cursor: pointer;
    }
  }
}


:host > div {
  display: flex;
  flex-direction: column;
  border-bottom-width: 1px;
  overflow: hidden;
  background-color: rgba(var(--zn-panel), var(--zn-panel-opacity));

  .width-container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: fit-content;
    padding-left: wc.spacing(lg);
    padding-right: wc.spacing(lg);
    gap: 10px;
  }

  .navless {
    min-height: 10px;
  }

  .content {
    gap: 10px;
  }

  .breadcrumb {
    flex-basis: 100%;
    font-size: 12px;
    line-height: 12px;
  }

  .breadcrumb:not(:empty) {
    padding-top: 10px;
  }

  .caption {
    flex-grow: 1;
    display: flex;
    align-items: center;
    gap: 10px;

    a {
      display: flex;
      align-items: center;
    }

    zn-icon {
      cursor: pointer;

      &:hover {
        color: rgb(var(--zn-primary));
      }
    }
  }

  h1 {
    flex-grow: 1;
    font-size: 18px;
    line-height: 35px;

    overflow: hidden;
    text-overflow: ellipsis;

    @media screen and (min-width: wc.container-width(lg)) {
      font-size: 20px;
    }

    color: rgb(var(--zn-text-page-title));
    margin: 0;
    font-weight: 600;

    &:empty {
      display: none;
    }
  }

  slot {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: wc.spacing(xs);
  }

  slot[name="nav"] {
    flex-basis: 100%;
  }

  .actions {
    display: flex;
  }
}
