@use "sass:map";
@use '../scss';

:host([transparent]) > div {
  background-color: transparent;
}

:host([navigation]) > div {
  padding-bottom: 0;
}

:host > div {
  display: flex;
  justify-content: center;
  border-bottom: 1px solid rgb(var(--color-border));
  overflow: hidden;
  background-color: rgb(var(--color-panel));
  gap: map.get(scss.$spacing, 'sm');
  padding-top: map.get(scss.$spacing, 'sm');
  padding-bottom: map.get(scss.$spacing, 'sm');

  .width-container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    max-width: var(--hd);
    gap: map.get(scss.$spacing, 'sm');
    height: fit-content;
    padding-left: map.get(scss.$spacing, 'sm');
    padding-right: map.get(scss.$spacing, 'sm');

    @include scss.m(md) {
      padding-left: map.get(scss.$spacing, 'lg');
      padding-right: map.get(scss.$spacing, 'lg');
    }
  }

  .breadcrumb {
    display: block;
    color: rgb(var(--color-text));
    width: 100%;
    padding-bottom: map.get(scss.$spacing, 'xxs');
    padding-top: 10px;

    &:empty {
      display: none;
    }
  }

  h1 {
    flex-grow: 1;
    font-size: 24px;
    line-height: 20px;
    color: rgb(var(--color-primary));
    margin: 0;
    font-weight: inherit;

    &:empty {
      display: none;
    }
  }

  slot {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: map.get(scss.$spacing, 'xs');
  }

  ul.header-nav {
    display: flex;
    flex-basis: 100%;
    gap: 30px;
    padding: 0;
    margin: 0;
    padding-top: map.get(scss.$spacing, 'xs');
    list-style: none;

    li {
      // TODO fontsizes
      font-weight: 500;
      position: relative;

      &::before {
        content: '';
        left: 50%;
        right: 50%;
        bottom: 0;
        position: absolute;
        transition: all 300ms ease-in-out;
        height: map.get(scss.$spacing, 'xxs');
      }

      &:hover:before {
        // TODO Hover Before colors
        left: -2px;
        right: -2px;
      }

      a {
        display: block;
        cursor: pointer;
        padding-bottom: 4px;
        line-height: 30px;
        padding-top: 10px;
      }

      &.active::before {
        // TODO Active Before colors
        left: -8px;
        right: -8px;
      }
    }
  }
}
