@use '../wc';

:host([transparent]) > div {
  background-color: transparent;
}

:host([navigation]) > div {
  h1 {
    padding-bottom: 0;
  }
}

:host > div {
  display: flex;
  flex-direction: column;
  border-bottom-width: 1px;
  overflow: hidden;
  background-color: rgba(var(--zn-panel), var(--zn-panel-opacity));

  .width-container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    max-width: var(--max-width, wc.container-width(hd));
    height: fit-content;
    padding-left: wc.spacing(lg);
    padding-right: wc.spacing(lg);
    gap: 10px;
  }

  .navless {
    min-height: 10px;
  }

  .content {
    gap: 10px;
  }

  .breadcrumb {
    flex-basis: 100%;
    font-size: 12px;
    line-height: 12px;
  }

  .breadcrumb:not(:empty) {
    padding-top: 10px;
  }

  h1 {
    flex-grow: 1;
    font-size: 18px;
    line-height: 35px;

    @media screen and (min-width: wc.container-width(lg)) {
      font-size: 24px;
      line-height: 35px;
    }

    color: rgb(var(--zn-text-page-title));
    margin: 0;
    font-weight: 600;

    &:empty {
      display: none;
    }
  }

  slot {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: wc.spacing(xs);
  }

  slot[name="nav"] {
    flex-basis: 100%;
  }

  .actions {
    display: flex;
  }
}
