@use "../wc";

:host {
  --customer-background-color: #EAF1FF;
  --customer-text-color: #2D7EFF;
  --customer-border-color: #2D7EFF;
  --customer-multi-color: #0e9dde;
  --customer-multi-hover-color: #fff;
  --agent-background-color: #F6F6F6;
  --agent-text-color: #5A636D;
  --agent-border-color: #DEDEDE;
}

ul {
  width: 100%;
  margin: 0 auto;
  padding: 10px 30px;
  box-sizing: border-box;
}

li {
  flex-direction: column;
  background: none !important;
  padding: 0;
  border: 0;
}

.int-msg {
  background: var(--agent-background-color);
  color: var(--agent-text-color);
  border: 1px solid var(--agent-border-color);
  padding: 10px 15px;
  border-radius: 10px 10px 10px 0;
  font-size: 15px;
  line-height: 19px;
}

#no-messages {
  color: var(--agent-text-color);
  padding: 10px 15px;
  font-size: 15px;
  line-height: 19px;
  text-align: center;
}

li[customer] .int-msg {
  background: var(--customer-background-color);
  color: var(--customer-text-color);
  border: 1px solid var(--customer-border-color);
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 10px;
}


li .int-msg-time, li .int-msg-who {
  flex-grow: unset;
  padding: 0;
  align-self: unset;
  flex-basis: unset;
  opacity: 0.5;
  line-height: 16px;
  font-weight: 500;
  color: rgb(44, 48, 53);
}

li .int-msg-d {
  display: flex;
  gap: 5px;
  justify-content: start;
  margin-top: 4px;
}

li[customer] .int-msg-d {
  justify-content: end;
}

li[action-type="connected.agent"] > .int-msg-d,
li[action-type="attachment.added"] > .int-msg-d,
li[action-type="transfer"] > .int-msg-d {
  display: none
}

li[action-type="interaction.status.updated"] {
  display: none
}

li[action-type="connected.agent"] > .int-msg,
li[action-type="attachment.added"] > .int-msg,
li[action-type="transfer"] > .int-msg {
  display: block;
  background: none;
  border: none;
  color: #666;
  padding: 5px 0;
  font-size: 0.9em;
}

li[action-type="transfer"] {
  background: transparent;
  border: none;
  align-self: center;
}

li[action-type="transfer"] > span {
  display: none
}

#agent-typing {
  max-width: 460px;
  color: rgb(102, 102, 102);
  font-size: 0.9em;
}

#send-panel {
  box-sizing: border-box;
  border-top: 1px solid #e0e1e2;
  margin-top: auto;
  padding: 10px 30px;
}

#send-panel button {
  padding: 9px 20px;
  text-wrap: nowrap;
  display: inline-flex;
  flex-wrap: nowrap;
  margin: 10px;
  align-items: center;
  justify-content: center;
  gap: 10px;
  outline: none;
  border: none;
  font-weight: 500;
  border-radius: 50px;
  text-decoration: none;
  color: white;
  background-color: #0BC86D;
  font-size: 15px;
  line-height: 19px;
}

input#msg {
  width: 100%;
  border: none;
  padding: 10px 15px;
  font-size: 15px;
  line-height: 19px;
  resize: none;
  outline: none;
}
