<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Fusion-Icon Demo</title>
</head>
<body>

<hr/>
24:
<fusion-icon src="wb_sunny" size="24" library="material"></fusion-icon>
<fusion-icon src="wb_sunny" size="24" library="material-outlined"></fusion-icon>
<fusion-icon src="wb_sunny" size="24" library="material-round"></fusion-icon>
<fusion-icon src="wb_sunny" size="24" library="material-sharp"></fusion-icon>
<fusion-icon src="wb_sunny" size="24" library="material-two-tone"></fusion-icon>
<fusion-icon src="https://www.google.com/favicon.ico" size="24"></fusion-icon>
<hr/>
48:

<fusion-icon src="face" size="48" library="material"></fusion-icon>
<fusion-icon src="face" size="48" library="material-outlined"></fusion-icon>
<fusion-icon src="face" size="48" library="material-round"></fusion-icon>
<fusion-icon src="face" size="48" library="material-sharp"></fusion-icon>
<fusion-icon src="face" size="48" library="material-two-tone"></fusion-icon>
<fusion-icon src="https://www.google.com/favicon.ico" size="48"></fusion-icon>
<hr/>
120:
<fusion-icon src="face" size="120" library="material"></fusion-icon>
<fusion-icon src="face" size="120" library="material-outlined"></fusion-icon>
<fusion-icon src="face" size="120" library="material-round"></fusion-icon>
<fusion-icon src="face" size="120" library="material-sharp"></fusion-icon>
<fusion-icon src="face" size="120" library="material-two-tone"></fusion-icon>

<fusion-icon src="https://www.google.com/favicon.ico" size="120"></fusion-icon>


<hr/>
<fusion-icon>G</fusion-icon>
<fusion-icon size="24">G</fusion-icon>
<fusion-icon size="48">G</fusion-icon>
<fusion-icon size="120">G</fusion-icon>
<fusion-icon size="120">W</fusion-icon>
<fusion-icon size="120">M</fusion-icon>

<script src="../dist/fusion-icon.js" type="text/javascript"></script>
<style>
    fusion-icon.bluey[library="material-two-tone"] {
        filter: invert(0.5) sepia(1) saturate(10) hue-rotate(211deg);
    }
</style>
</body>
</html>
