<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Zinc-Blank Demo</title>
</head>
<body>

<zn-cols layout="2,2">
  <div slot="col1">Col 1</div>
  <div slot="col2">Col 2</div>
  <div slot="col3">Col 3</div>
  <div slot="col4">Col 4</div>
</zn-cols>

<zn-cols>
  <div slot="col1">Col 1</div>
  <div slot="col2">Col 2</div>
  <div slot="col3">Col 3</div>
</zn-cols>

<zn-cols>
  <div slot="col1">Col 1</div>
  <div slot="col2">Col 2</div>
</zn-cols>

<zn-cols>
  <div slot="col1">Col 1</div>
</zn-cols>


<zn-cols>
  <div slot="col1">Col 1</div>
  <div slot="col2">Col 2</div>
  <div slot="col3">Col 3</div>
  <div slot="col4">Col 4</div>
</zn-cols>


<script src="../../../dist/zn-layout.js" type="text/javascript"></script>
</body>
</html>
