@use "../../form-control";

:host {
  display: block;
}

.translation-group {
  display: flex;
  flex-direction: column;
  padding: 0 var(--zn-spacing-medium);
  gap: var(--zn-spacing-3x-small);
}

.translation-group__children {
  display: flex;
  flex-direction: column;
  gap: var(--zn-spacing-x-small);
}

.form-control__label {
  margin-bottom: 0 !important;
}

zn-navbar {
  overflow: hidden;
  margin-top: var(--zn-spacing-x-small);
}

zn-navbar::part(navbar) {
  padding: 0 0 0 7px;
  gap: 15px;
}

zn-navbar::part(navbar-item) {
  font-size: var(--zn-font-size-small);

  --zn-spacing-medium: 7px;
}
