:host {
  display: block;
}

.translation-group {
  display: flex;
  flex-direction: column;
  border: 1px solid rgb(var(--zn-border-color));
  border-radius: var(--zn-border-radius-large);
  background-color: rgba(var(--zn-panel), var(--zn-panel-opacity));
  overflow: hidden;

  &__header {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: var(--zn-spacing-x-small) var(--zn-spacing-medium);
    min-height: 40px;
    gap: var(--zn-spacing-medium);

    &--has-label {
      justify-content: space-between;
    }
  }

  &__label {
    font-size: var(--zn-font-size-medium);
    font-weight: var(--zn-font-weight-semibold);
    color: rgb(var(--zn-text-color));
    white-space: nowrap;
    line-height: var(--zn-line-height-dense);
  }

  &__languages {
    display: flex;
    align-items: center;
    margin-left: auto;
  }

  &__body {
    display: flex;
    flex-direction: column;
    gap: var(--zn-spacing-x-small);
    padding: 0 var(--zn-spacing-medium) var(--zn-spacing-medium);
  }

  &--flush &__body {
    padding: 0;
  }
}
