@use "../../wc";

$colors: (red, blue, orange, yellow, indigo, violet, green, pink, gray);

@mixin background-color($color) {
  background-color: var(--color-#{$color});
}

@mixin color-loop {
  @each $color in $colors {
    &--#{"" + $color} {
      @include background-color($color);
    }
  }
}

%color-box {
  width: 15px;
  height: 15px;
  display: block;
  margin-left: 5px;
  margin-right: 5px;
  flex-shrink: 0;
}

:host {
  display: block;

  --color-blue: rgb(var(--zn-blue, 0, 0, 255));
  --color-red: rgb(var(--zn-red, 255, 0, 0));
  --color-orange: rgb(var(--zn-orange, 255, 165, 0));
  --color-yellow: rgb(var(--zn-yellow, 255, 255, 0));
  --color-indigo: rgb(var(--zn-indigo, 75, 0, 130));
  --color-violet: rgb(var(--zn-violet, 238, 130, 238));
  --color-green: rgb(var(--zn-green, 0, 128, 0));
  --color-pink: rgb(var(--zn-pink, 255, 192, 203));
  --color-gray: rgb(var(--zn-gray, 128, 128, 128));
}

.display-color {
  &--selected {
    @extend %color-box;
  }

  @include color-loop;
}

.color-icon {
  @extend %color-box;
  @include color-loop;
}
