@use "../../wc";
@use "../../form-control";

:host {
  display: block;
}

.form-control {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.textarea {
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
  box-shadow: var(--zn-shadow-x-small);
  font-family: var(--zn-input-font-family);
  font-weight: var(--zn-input-font-weight);
  line-height: var(--zn-line-height-normal);
  letter-spacing: var(--zn-input-letter-spacing);
  vertical-align: middle;
  transition: var(--zn-transition-fast) color,
  var(--zn-transition-fast) border,
  var(--zn-transition-fast) box-shadow,
  var(--zn-transition-fast) background-color;
  cursor: text;
}

/* Standard textareas */
.textarea--standard {
  background-color: var(--zn-input-background-color);
  border: solid var(--zn-input-border-width) var(--zn-input-border-color);
}

.textarea--standard:hover:not(.textarea--disabled) {
  background-color: var(--zn-input-background-color-hover);
  border-color: var(--zn-input-border-color-hover);
}

.textarea--standard:hover:not(.textarea--disabled) .textarea__control {
  color: var(--zn-input-color-hover);
}

.textarea--standard.textarea--focused:not(.textarea--disabled) {
  background-color: var(--zn-input-background-color-focus);
  border-color: var(--zn-input-border-color-focus);
  color: var(--zn-input-color-focus);
  box-shadow: 0 0 0 var(--zn-focus-ring-width) var(--zn-input-focus-ring-color);
}

.textarea--standard.textarea--focused:not(.textarea--disabled) .textarea__control {
  color: var(--zn-input-color-focus);
}

.textarea--standard.textarea--disabled {
  background-color: var(--zn-input-background-color-disabled);
  border-color: var(--zn-input-border-color-disabled);
  opacity: 0.5;
  cursor: not-allowed;
}

.textarea--standard.textarea--disabled .textarea__control {
  color: var(--zn-input-color-disabled);
}

.textarea--standard.textarea--disabled .textarea__control::placeholder {
  color: var(--zn-input-placeholder-color-disabled);
}

.textarea__control {
  flex: 1 1 auto;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  line-height: 1.4;
  color: var(--zn-input-color);
  border: none;
  background: none;
  box-shadow: var(--zn-shadow-x-small);
  cursor: inherit;
  -webkit-appearance: none;
  height: 100%;
}

.textarea__control::-webkit-search-decoration,
.textarea__control::-webkit-search-cancel-button,
.textarea__control::-webkit-search-results-button,
.textarea__control::-webkit-search-results-decoration {
  -webkit-appearance: none;
}

.textarea__control::placeholder {
  color: var(--zn-input-placeholder-color);
  user-select: none;
  -webkit-user-select: none;
}

.textarea__control:focus {
  outline: none;
}

/*
 * Size modifiers
 */

.textarea--small {
  border-radius: var(--zn-input-border-radius-small);
  font-size: var(--zn-input-font-size-small);
}

.textarea--small .textarea__control {
  padding: 0.5em var(--zn-input-spacing-small);
}

.textarea--medium {
  border-radius: var(--zn-input-border-radius-medium);
  font-size: var(--zn-input-font-size-medium);
}

.textarea--medium .textarea__control {
  padding: var(--zn-input-spacing-small);
}

.textarea--large {
  border-radius: var(--zn-input-border-radius-large);
  font-size: var(--zn-input-font-size-large);
}

.textarea--large .textarea__control {
  padding: 0.75em var(--zn-input-spacing-large);
}

/*
 * Resize types
 */

.textarea--resize-none .textarea__control {
  resize: none;
}

.textarea--resize-vertical .textarea__control {
  resize: vertical;
}

.textarea--resize-auto .textarea__control {
  height: auto;
  resize: none;
  overflow-y: hidden;
}

.textarea--transparent {
  background-color: transparent;
  box-shadow: none !important;
  border: none !important;

  &:hover {
    background-color: transparent !important;
  }

  &.textarea--focused {
    border: none !important;
    background-color: transparent !important;
  }
}
