@use "sass:map";
@use "~air-datepicker/air-datepicker.css";
@use '../../../scss/wc';

:host, zn-datepicker {
  display: flex;
  position: relative;
  margin-bottom: wc.spacing(sm);

  .datepicker__svg-container {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    align-items: center;
    padding-left: wc.spacing(sm);
    pointer-events: none;

    svg {
      width: 20px;
      height: 20px;
    }
  }

  input {
    @apply block rounded-md bg-white border-solid border border-border shadow-inner pl-[30px] #{!important};
    @apply focus:border-primary-500 focus:ring-primary-500;
    @apply sm:text-base sm:p-sm;
    @apply placeholder:text-base placeholder:font-normal placeholder:text-dark-400 placeholder:leading-6;
  }
}