@use "sass:map";
@use '../../wc';

.datepicker {
  display: flex;
  position: relative;
  margin-bottom: wc.spacing(sm);
  width: 100%;

  &__svg-container {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    align-items: center;
    padding-left: wc.spacing(sm);
    pointer-events: none;

    svg {
      width: 20px;
      height: 20px;
    }
  }

  &--range input {
    min-width: 250px;
  }

  input {
    display: block;
    width: 100%;
    height: 45px;
    border-radius: 5px;
    background-color: rgb(var(--zn-input-bg));
    border-width: 1px !important;
    padding: wc.spacing(sm) wc.spacing(sm) wc.spacing(sm) 40px;
  }
}
