:host {
  display: block;
  position: absolute;
}

::backdrop {
  background-color: rgba(128, 128, 128, 0.6);
}

.dialog-module {
  background-color: rgb(var(--zn-panel));
  border: 1px solid rgb(var(--zn-border-color));
  overflow: auto;
  padding: var(--zn-spacing-medium) 0;
  border-radius: var(--zn-border-radius-medium);
  height: 100%;
  width: 100%;
  max-width: 975px;
  max-height: 650px;

  &--open {
    display: grid;
    grid-template-rows: auto 1fr auto;
    gap: var(--zn-spacing-medium);
  }

  &__header {
    display: flex;
    align-items: center;
    gap: var(--zn-spacing-large);
    padding-inline: var(--zn-spacing-medium);

    &--caption {
      font-weight: var(--zn-font-weight-bold);
      font-size: var(--zn-font-size-large);
      color: rgba(var(--zn-text-panel-title), 100%);
    }

    &--search {
      flex-grow: 1;
    }
  }

  &__footer {
    display: flex;
    justify-content: flex-end;
    gap: var(--zn-spacing-small);
    padding: 0 var(--zn-spacing-medium) var(--zn-spacing-medium);
  }

  .command {
    &__wrapper {
      padding: var(--zn-spacing-medium) var(--zn-spacing-x-large);
      cursor: pointer;
      border-bottom: 1px solid rgb(var(--zn-border-color));
      display: flex;
      align-items: center;
      gap: var(--zn-spacing-medium);

      &:hover {
        background-color: rgba(var(--zn-primary), 0.05);
      }

      &:focus-visible {
        outline: none;
        background-color: var(--zn-input-background-color-focus);
        border-color: var(--zn-input-border-color-focus);
        box-shadow: 0 0 0 var(--zn-focus-ring-width) var(--zn-input-focus-ring-color);
      }
    }

    &__left {
      width: 50%;
      flex-basis: 50%;
    }

    &__command {
      font-size: var(--zn-font-size-small);
      color: rgb(var(--zn-text-heading));
    }

    &__labels {
      display: flex;
      gap: var(--zn-spacing-small);
      flex-wrap: wrap;
      padding-top: var(--zn-spacing-small);
      font-size: var(--zn-font-size-small);
    }

    &__right {
      width: 50%;
      flex-basis: 50%;
    }

    &__title {
      font-size: var(--zn-font-size-small);
      font-weight: 500;
    }

    &__snippet {
      margin-top: var(--zn-spacing-small);
      font-size: var(--zn-font-size-small);
      color: rgb(var(--zn-text));
    }
  }
}
