@use "sass:map";
@use "../wc";
@use "../../scss/mixins";

:host {
  .caption {
    cursor: pointer;
  }

  .content {
    display: none;
  }
}

:host([open]) {
  .content {
    display: block;
  }
}

:host([panel]), :host([nested-panel]) {

  .caption {
    font-size: 13px;
    font-weight: 600;
    text-transform: uppercase;
    position: relative;
    cursor: pointer;

    &:before {

      position: absolute;
      right: 10px;
      top: 20px;
      content: '';

      border: solid rgb(var(--zn-dark-text));
      border-width: 0 2px 2px 0;
      display: inline-block;
      padding: 2px;

      transform: rotate(-45deg);
      -webkit-transform: rotate(-45deg);
    }
  }

}

:host([panel]) {
  .caption {
    padding: 15px 5px;
    color: rgb(var(--zn-text-panel-title));
    letter-spacing: 0.93px;
  }


  .content {
    padding: 0 5px 5px 5px;
  }
}


:host([nested-panel]) {
  .caption {
    padding: 12px 0;
    color: rgb(var(--zn-text-heading));
    border-bottom-width: 1px !important;
  }


  .content {
    padding: 5px 0;
  }
}

:host([panel][open]) {
  .content {
    display: flex;
    flex-direction: column;
  }

  .caption {
    padding-bottom: 10px;

    &:before {
      right: 9px;

      transform: rotate(45deg);
      -webkit-transform: rotate(45deg);
    }
  }
}
