@use "../../wc";

:host {
  display: block;
  container-type: inline-size;

  --max-width: var(--zn-container-hd);
}

.container {
  margin-left: auto;
  margin-right: auto;
  max-width: var(--max-width);
}
