@tailwind base;
@import "../../../scss/variables";

@tailwind base;

:host {
  --row-count: 1;
  @apply overflow-hidden grow;
  @extend %scrollbars;
}


:host > div {
  @apply block p-sm smp:rounded border-t border-b border
  flex flex-col grow h-full
  basis-panel min-w-spanel
  @md:p-md;
  //@apply max-w-screen-lg;// Unsure of this one.

  @apply border-border bg-white;

  .header {
    @apply flex items-center pb-sm border-b;
    @apply border-border text-txt-800;

    span {
      @apply text-lg font-semibold;
    }

    & > div.nav {
      @apply flex grow justify-center text-sm;


      ul {
        @apply flex m-0 p-0;
        list-style-type: none;

        li {
          @apply p-xs mx-px;
          border-radius: 4px;

          &.active {
            @apply bg-primary-100 text-primary-800;
          }

          &:hover {
            @apply bg-primary-50 cursor-pointer;
          }
        }
      }
    }
  }

  .body {
    @apply overflow-y-auto grow;
    @apply divide-y divide-border;
  }

  .footer {
    @apply text-sm text-txt-400 block;
    @apply pt-sm border-border border-t;
  }

  .header:empty, .footer:empty {
    @apply hidden;
  }
}

:host([rows]) {
  > div {
    @apply py-0;
  }

  .header {
    @apply pt-md;
  }

  .footer {
    @apply pb-md;
  }
}

:host([rows]:not([rows=""])) {
  .body {
    max-height: calc(theme('spacing.tile') * var(--row-count, 50));
    height: calc(theme('spacing.tile') * var(--row-count));
  }
}


:host([single]) > div {
  @apply w-full border min-w-0;

  & > div.nav {
    @apply hidden;
  }
}

:host([stat]) > div {
  @apply p-md;
}

:host([small]) > div {
  @apply min-w-spanel basis-spanel;
  @apply bg-transparent border-0;
}

:host([d]) > div {
  @apply border-transparent;
  @apply bg-dark-800;

  .header {
    @apply border-darkBorder;
    @apply text-darkTxt-800;

    & > div.nav {
      ul {
        li {
          &.active {
            @apply bg-dark-700 text-primary-400;
          }

          &:hover {
            @apply bg-dark-600;
          }
        }
      }
    }
  }

  .body {
    @apply divide-darkBorder;
  }


  .footer {
    @apply text-darkTxt-400 border-darkBorder;
  }
}
