@use "../wc";

zn-stats-tile, :host {
  .amount {
    color: rgb(var(--zn-text-heading));
    font-weight: 600;
    padding: wc.spacing(sm) 0;
    font-size: 25px;
  }

  .caption {
    color: rgb(var(--zn-primary))
  }

  .diff {
    .positive {
      color: rgb(var(--zn-color-success));
    }

    .negative {
      color: rgb(var(--zn-color-error));
    }

    .neutral {
      color: rgb(var(--zn-color-warning));
    }
  }
}
