.menu-module {
  display: none;

  &--open {
    display: block;
    z-index: var(--zn-z-index-dialog);
  }
}

.command {
  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: var(--zn-spacing-2x-small);
  }
}
