@use "../wc";


:host {
  display: contents;
}

.tooltip {

  &__body {
    display: block;
    width: max-content;
    border-radius: 5px;
    background-color: rgb(var(--zn-primary));
    color: rgb(var(--zn-body));
    font-size: 12px;
    padding: 5px;
  }
}
