@use "../wc";

zn-tooltip {
  display: contents;
  z-index: 1000000;

  .tooltip {
    &__body {
      display: block;
      width: max-content;
      border-radius: 5px;
      background-color: var(--arrow-color);
      color: white;
      font-size: 12px;
      padding: 5px;
    }
  }

}
