@use "sass:map";
@use "../wc";

.hidden {
  display: none;
}

:host([tile]) {
  min-width: wc.common-size(tile);
}

:host([small]) {
  min-width: wc.common-size(spanel);
}

:host([medium]) {
  min-width: wc.common-size(mpanel);
}

:host {
  @include wc.scrollbars;

  flex-grow: 1;
  --row-count: 1;
  overflow: visible;
  display: flex;
  max-width: 100%;
  z-index: 1;
  min-width: wc.common-size(panel);
  position: relative;

  > div {
    position: relative;
    border-width: 1px !important;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    flex-basis: wc.common-size(spanel);
    width: 100%;
    background-color: rgba(var(--zn-panel), var(--zn-panel-opacity));
    border-radius: 10px;

    &:before {
      position: absolute;
      content: '';
      bottom: -3px;
      left: 0;
      right: 0;
      height: 20px;
      background-color: rgb(var(--zn-shadow));
      border-radius: 10px;
      z-index: -1;
    }

    .header {
      display: flex;
      justify-items: center;
      padding: wc.spacing(md) wc.spacing(md) 0;

      span {
        font-weight: 600;
        flex-grow: 1;
        font-size: 17px;
        color: rgba(var(--zn-text-panel-title), 100%);
      }
    }

    .body {
      border-radius: 10px;
      display: grid;
      overflow-y: auto;
      flex-grow: 1;
      padding: wc.spacing(md);

      > :not([hidden]) ~ :not([hidden]) {
        border: 1px solid black !important;
      }

    }

    .body.ntp {
      padding-top: 0;
    }

    .footer {
      font-size: 13px;
      display: block;
      padding: wc.spacing(sm) wc.spacing(md);
      background: rgb(var(--zn-panel-secondary));
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
    }

    .header:empty, .footer:empty {
      display: none;
    }
  }
}

:host([rows]) {
  min-height: 30px;

  > div {
    padding-top: 0;
    padding-bottom: 0;
  }

  .header {
    padding: wc.spacing(md);
  }

  .footer {
    padding-bottom: wc.spacing(md);
  }
}

:host([divide]) {

  .body {
    padding: 0;

    display: flex;
    flex-direction: column;
  }

  ::slotted(*) {
    padding: wc.spacing(md);
    border-top-width: 1px !important;
  }

  ::slotted(*:first-child) {
    border-top-width: 0 !important;
  }
}

:host([rows]:not([rows=""])) {
  .body {
    $tile: var(--zn-sizes-tile);
    max-height: calc($tile * var(--row-count, 50));
    height: calc($tile * var(--row-count));
  }
}

:host([single]) > div {
  width: 100%;
  border-width: 1px !important;
  min-width: 0;
}

:host([bright]) > div {
  background-color: rgb(var(--zn-bright-bg));
}

:host([border='*']) > div .footer {
  padding-top: 0;
  border: 0 !important;
}

:host([border='top']) > div {
  border-width: 0 !important;
  border-top-width: 1px !important;
}

:host([rounded=false]) > div {
  border-radius: 0;

  .footer {

    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
}
