@use "sass:map";
@use "../wc";

.hidden {
  display: none;
}

:host {
  @include wc.scrollbars;

  --row-count: 1;
  overflow: visible;
  flex-grow: 1;
  max-width: 100%;
  min-height: 30px;
  z-index: 1;
  min-width: wc.common-size(spanel);

  > div {
    position: relative;
    padding: wc.spacing(md);
    border-width: 1px !important;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    flex-basis: var(-zn-size-spanel);
    width: 100%;
    height: 100%;
    background-color: rgb(var(--zn-panel));
    border-radius: 10px;

    &:before {
      position: absolute;
      content: '';
      bottom: -3px;
      left: 0;
      right: 0;
      height: 20px;
      background-color: rgb(var(--zn-shadow));
      border-radius: 10px;
      z-index: -1;
    }

    .header {
      display: flex;
      justify-items: center;
      padding-bottom: wc.spacing(sm);
      margin-top: wc.spacing(sm);

      span {
        font-weight: 500;
        flex-grow: 1;
        font-size: 18px;
        color: rgba(var(--zn-text-panel-title), 100%);
      }
    }

    div.nav {
      display: flex;
      flex-grow: 1;
      flex-basis: 100%;

      ul {
        display: flex;
        margin: wc.spacing(xs) 0 0;
        padding: 0;
        gap: wc.spacing(md);
        border-bottom-width: 1px !important;
        width: 100%;

        li {
          font-weight: 500;
          padding-bottom: wc.spacing(xs);
          border-bottom-width: 3px;
          border-color: transparent !important;

          &:hover, &.active {
            color: rgb(var(--zn-primary)) !important;
            border-color: rgb(var(--zn-primary)) !important;
            cursor: pointer;
          }
        }
      }
    }

    .body {
      overflow-y: auto;
      flex-grow: 1;

      > :not([hidden]) ~ :not([hidden]) {
        border: 1px solid black !important;
      }

    }

    .footer {
      display: block;
      padding-top: wc.spacing(md);
      border-top-width: 1px;
      font-weight: 500;
      color: rgb(var(--zn-primary));
    }

    .header:empty, .footer:empty {
      display: none;
    }
  }
}

:host([rows]) {
  > div {
    padding-top: 0;
    padding-bottom: 0;
  }

  .header {
    padding-top: wc.spacing(md);
  }

  .footer {
    padding-bottom: wc.spacing(md);
  }
}

:host([rows]:not([rows=""])) {
  .body {
    $tile: var(--zn-sizes-tile);
    max-height: calc($tile * var(--row-count, 50));
    height: calc($tile * var(--row-count));
  }
}

:host([single]) > div {
  width: 100%;
  border-width: 1px !important;
  min-width: 0;

  & > div.nav {
    display: none;
  }
}

:host([stat]) > div {
  padding: wc.spacing(md);
}

:host([small]) > div {
  min-width: wc.common-size(spanel);
  flex-basis: wc.common-size(spanel);
  background-color: transparent;
  border-width: 0;
}

:host([bright]) > div {
  background-color: rgb(var(--zn-bright-bg));
}
