@use "sass:map";
@use "../wc";

:host {
  display: flex;
  height: 100%;
  width: 100%;

  #left-pane, #right-pane {
    flex-grow: 1;
    flex-shrink: 1;
  }

  #left-pane {
    min-width: 10%;
  }

  #right-pane {
    width: 100%;
    min-width: 10%;
    max-width: var(--right-width, 50%);
  }

  #resizer {
    position: relative;

    &:before {
      content: "";
      display: block;
      height: 100%;
      width: var(--resize-width, 2px);
      position: absolute;
      top: 0;
      left: 50%;
      z-index: 1;
      transform: translateX(-50%);
    }

    width: var(--resize-width, 2px);
    padding: 0 var(--resize-padding, 12px);
    cursor: col-resize;

    &:hover:before {
      background-color: rgb(var(--zn-blue));
    }
  }
}

:host(.resizing) {
  cursor: col-resize;

  #resizer:before {
    background-color: rgb(var(--zn-blue));
  }

  #left-pane, #right-pane {
    user-select: none;
    pointer-events: none;
  }
}
