@use "sass:map";
@use "../wc";
@use "../../scss/mixins";

:host {
  display: flex;
  height: 100%;
  width: 100%;
  min-width: 350px;
  container-type: inline-size;

  #left-pane, #right-pane {
    flex-grow: 1;
    flex-shrink: 1;
    min-width: 10%;
  }

  #left-pane {
    max-width: calc(100% - var(--right-width, 0));
  }

  #right-pane {
    width: 100%;
    max-width: var(--right-width, 50%);
  }

  slot {
    overflow: auto;
  }

  #resizer {
    position: relative;

    &:after {
      content: "";
      position: absolute;
      inset: 0 -10px;
      width: 20px;
      z-index: 500;
    }

    &:before {
      content: "";
      display: block;
      height: 100%;
      width: 1px;
      position: absolute;
      top: 0;
      left: 50%;
      z-index: 1;
      transform: translateX(-50%);

      transition: background-color 200ms ease-in-out;
    }

    min-width: 1px;
    padding: var(--zn-padding);

    padding-top: 0;
    padding-bottom: 0;
    cursor: col-resize;

    &:hover:before {
      background-color: rgb(var(--zn-blue));
    }
  }
}

:host(.resizing) {
  cursor: col-resize;
  user-select: none;

  #left-pane {
    min-width: 10%;
  }

  #resizer:before {
    background-color: rgb(var(--zn-blue));
  }

  #left-pane, #right-pane {
    pointer-events: none;
  }
}
