@use "sass:map";
@use "../wc";
@use "../../scss/mixins";

:host([bordered]) #resizer:before {
  background-color: rgb(var(--zn-border-color));
}

::slotted(*) {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow-y: auto;
}

:host {
  display: flex;
  height: 100%;
  width: 100%;
  min-width: 350px;
  container-type: inline-size;

  #primary-pane, #secondary-pane {
    flex-grow: 1;
    flex-shrink: 1;
  }

  slot {
    overflow: auto;
  }

  #resizer {
    position: relative;

    &:after {
      content: "";
      position: absolute;
      z-index: 500;
    }

    &:before {
      content: "";
      display: block;
      position: absolute;
      z-index: 1;
      transition: background-color 200ms ease-in-out;
    }

    cursor: col-resize;

    padding: var(--zn-padding);

    &:hover:before {
      background-color: rgb(var(--zn-blue));
    }
  }
}

:host(:not([vertical])) {
  #primary-pane, #secondary-pane {
    min-width: 15%;
  }

  #primary-pane {
    max-width: calc(100% - var(--secondary-size, 0));
  }

  #secondary-pane {
    width: 100%;
    max-width: var(--secondary-size, 50%);
  }


  #resizer {

    min-width: 1px;
    padding-top: 0;
    padding-bottom: 0;

    &:after {
      inset: 0 -10px;
      width: 20px;
    }


    &:before {
      height: 100%;
      width: 1px;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
    }
  }
}

:host([vertical]) {
  flex-direction: column;

  #primary-pane, #secondary-pane {
    min-height: 15%;
  }

  #primary-pane {
    max-height: calc(100% - var(--secondary-size, 0));
  }

  #secondary-pane {
    height: 100%;
    max-height: var(--secondary-size, 50%);
  }

  #resizer {

    min-height: 1px;
    padding-left: 0;
    padding-right: 0;
    cursor: row-resize;

    &:after {
      inset: -10px 0;
      height: 20px;
    }

    &:before {
      width: 100%;
      height: 1px;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
    }
  }
}

:host(.resizing) {
  cursor: col-resize;
  user-select: none;

  #primary-pane {
    min-width: 10%;
  }

  #resizer:before {
    background-color: rgb(var(--zn-blue));
  }

  #primary-pane, #secondary-pane {
    pointer-events: none;
  }
}
