*, *::before, *::after {
  box-sizing: border-box;
}

:host {
  font-family: "Inter", sans-serif;
  color: #343434;
  cursor: pointer;
  position: relative;

  > div {
    padding: 30px 20px;
  }
}

p {
  font-size: 12px;
  line-height: 18px;
  color: #7F8090;
  margin: 0;
  text-align: center;
}
