@use "../../wc";

.confirm-dialog {
  &__content {
    margin: 0;
  }

  &--error::part(title) {
    --icon-background-color: rgb(var(--zn-color-error), .3);
    --icon-color: rgb(var(--zn-color-error), 1);
    --caption-color: rgb(var(--zn-color-error), 1);
  }

  &--warning::part(title) {
    --icon-background-color: rgb(var(--zn-color-warning), .3);
    --icon-color: rgb(var(--zn-color-warning), 1);
    --caption-color: rgb(var(--zn-color-warning), 1);
  }

  &--success::part(title) {
    --icon-background-color: rgb(var(--zn-color-success), .3);
    --icon-color: rgb(var(--zn-color-success), 1);
    --caption-color: rgb(var(--zn-color-success), 1);
  }

  &--info::part(title) {
    --icon-background-color: rgb(var(--zn-color-info), .3);
    --icon-color: rgb(var(--zn-color-info), 1);
    --caption-color: rgb(var(--zn-color-info), 1);
  }
}
