@tailwind base;
@import "../../../scss/variables";

:host {

  @apply flex justify-center grow box-border;
  container-type: inline-size;

  > div {
    @apply relative w-full h-full box-border;
    max-width: calc(var(--max-width) + 0px);
  }

  #page-content {
    @apply flex flex-wrap flex-col h-fit max-w-full
    @md:max-w-full
    @smp:grow;
    @extend %zn-pad;
    @extend %zn-gap;
  }

  > div.with-side {
    @apply flex-col pt-bar
    @smp:pt-0
    @smp:flex-col-reverse;

  }

  > div.with-nav {
    @apply flex-col;
  }

  > div.with-side, > div.with-nav {
    @apply flex
    @smp:flex-row;
  }

  .pageside {
    @apply h-bar min-h-bar max-h-bar w-full overflow-visible
    //@lg:basis-mpanel
    @smp:max-h-full
    @smp:h-auto
    @smp:top-0
    @smp:relative
    @smp:flex
    @smp:min-w-bar
    @smp:max-w-bar
    @smp:grow
    @lg:min-w-mpanel
    @lg:max-w-mpanel
    @lg:w-mpanel;

    > div {
      @apply absolute
      bg-white
      @lg:bg-bg;
    }

    > div.content {
      @apply hidden overflow-y-auto max-w-bar
      @lg:min-w-mpanel
      @lg:flex flex-col right-0 inset-y-0
      transition-all duration-500 ease-in-out
      py-sm
      @smp:py-md
      @lg:py-lg
      @hd:py-xl pr-md
      @lg:pr-0
      @lg:pr-lg
      @hd:pr-xl;
    }

    > div.expander {
      @apply flex flex-row-reverse items-center justify-center overflow-hidden
      @smp:flex-col
      @lg:hidden inset-0 z-10 cursor-pointer
      @smp:justify-start
      border-b-px h-bar
      @smp:h-full
      @smp:border-b-0
      @smp:border-l-px border-border w-full
      @smp:w-bar
      @lg:hidden
      bg-white;

      span {
        writing-mode: horizontal-tb;
      @container (min-width:theme('screens.smp')) {
        writing-mode: vertical-rl;
      }
        @apply grow pl-md
        @smp:pl-0
        hidden;
      }

      span.open {
        @apply block;
      }

      zn-icon {
        @apply text-secondary-500 mx-md
        transition-all duration-500 ease-in-out
        @smp:my-md
        rotate-0
        @smp:rotate-90;
      }
    }


    > div {
      @apply grow overflow-y-auto;
    }
  }

  > div.with-nav .pageside, > div.with-nav .pageside > div.content {
    @apply
    @lg:min-w-spanel
    @lg:max-w-spanel;
  }

  > div.with-nav .pageside {

    order: -1;

    > div.content {
      @apply pr-0 pl-md
      @lg:pl-0
      @lg:pl-lg
      @hd:pl-xl;
    }

    > div.expander {
      @apply
      @smp:border-r-px
      @smp:border-l-0;

      zn-icon {
        @apply
        @smp:-rotate-90;
      }
    }
  }

  @extend %scrollbars;

@container (min-width:theme('screens.smp')) {
  > div.with-side {
    #page-content {
      max-width: calc(100% - theme('spacing.bar'));
    }
  }
}
@container (min-width:theme('screens.lg')) {
  > div.with-side {
    #page-content {
      max-width: calc(100% - theme('spacing.mpanel'));
    }
  }
}
}

:host([open]) {

@container (max-width:theme('screens.lg')) {
  > div .pageside {
    position: unset;

    > div.content {
      @apply flex p-lg
      w-full max-w-full
      @smp:max-w-mpanel
      @smp:min-w-mpanel
      @smp:max-w-mpanel overflow-x-hidden
      z-20 top-bar
      @smp:top-0;
    }

    > div.expander {

      @apply
      @smp:left-auto
      @smp:right-mpanel;

      zn-icon {
        @apply rotate-180
        @smp:-rotate-90;
      }

      span.open {
        @apply hidden;
      }

      span.close {
        @apply hidden
        @smp:block;
      }

      span.close-sm {
        @apply block
        @smp:hidden font-semibold;
      }
    }
  }

  > div.with-nav .pageside {
    div.expander {
      zn-icon {
        @apply -rotate-180
        @smp:rotate-90;
      }

      @apply
      @smp:left-mpanel
      @smp:right-auto;
    }

    div.content {
      @apply
      @smp:left-0
      @smp:right-auto;
    }
  }
}
}


:host([d]) {
  > div.with-side, > div.with-nav {
    .pageside {
      > div {
        @apply bg-darkBg;
      }

      > div.expander {
        @apply border-darkBorder bg-dark-900;

        zn-icon {
          @apply text-darkSecondary-500;
        }
      }

    }
  }

}
