@use "sass:map";
@use "../_scss";

:host, zn-tabs {
  background-color: white;
  display: inline-block;
  width: 100%;

  nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: map.get(scss.$spacing, lg);
    border-bottom-width: 1px !important;
    margin-bottom: map.get(scss.$spacing, md);

    ::slotted([slot="tab"]) {
      padding: map.get(scss.$spacing, xs) map.get(scss.$spacing, sm);
      background-color: rgba(var(--color-primary), .40);
      border-radius: 10px;
      cursor: pointer;
    }

    ::slotted([slot="tab"][selected]) {
      background-color: rgb(var(--color-primary));
      color: white;
    }
  }

  ::slotted([slot="panel"]) {
    display: none;
  }

  ::slotted([slot="panel"][selected]) {
    display: block;
    width: 100%;
    padding: map.get(scss.$spacing, md);
  }

  .tabs__header {
    display: flex;
    flex-direction: row;
    justify-items: flex-end;
    gap: map.get(scss.$spacing, md);
  }
}