@use "../wc";

:host, zn-tabs {
  background-color: white;
  display: inline-block;
  width: 100%;

  nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: wc.spacing(lg);
    border-bottom-width: 1px;
    margin-bottom: wc.spacing(md);

    ::slotted([slot="tab"]) {
      padding: wc.spacing(xs) wc.spacing(sm);
      background-color: rgba(var(--zn-primary), .40);
      border-radius: 10px;
      cursor: pointer;
    }

    ::slotted([slot="tab"][selected]) {
      background-color: rgb(var(--zn-primary));
      color: white;
    }
  }

  ::slotted([slot="panel"]) {
    display: none;
  }

  ::slotted([slot="panel"][selected]) {
    display: block;
    width: 100%;
    padding: wc.spacing(md);
  }

  .tabs__header {
    display: flex;
    flex-direction: row;
    justify-items: flex-end;
    gap: wc.spacing(md);
  }
}
