@use "../wc";

zn-tab-panel, :host {
  max-height: 100%;
  overflow: auto;
}

slot {
  @include wc.page-content;
  width: 100%;
  flex-grow: 1;
}

::slotted(:not([selected])) {
  display: none !important;
}
