@use "../../wc";

:host {
  display: block;
}

/** The popup */
.select {
  flex: 1 1 auto;
  display: inline-flex;
  width: 100%;
  position: relative;
  vertical-align: middle;
}

.select::part(popup) {
  z-index: 5000;
}

.select[data-current-placement^='top']::part(popup) {
  transform-origin: bottom;
}

.select[data-current-placement^='bottom']::part(popup) {
  transform-origin: top;
}

.form-control__label {
  font-size: 90%;
}

/* Combobox */
.select__combobox {
  flex: 1;
  display: flex;
  width: 100%;
  min-width: 0;
  position: relative;
  border-radius: 5px;
  align-items: center;
  justify-content: start;
  vertical-align: middle;
  overflow: hidden;
  padding: wc.spacing(sm);
  height: 41px;
  cursor: pointer;
}

.select__display-input {
  position: relative;
  width: 100%;
  font: inherit;
  border: none;
  background: none;
  color: rgb(var(--zn-text));
  cursor: inherit;
  overflow: hidden;
  padding: 0;
  margin: 0;
  -webkit-appearance: none;
}

.select__display-input::placeholder {
  color: rgba(var(--zn-text), 0.6);
}

.select:not(.select--disabled):hover .select__display-input {
  color: rgb(var(--zn-primary));
}

.select__display-input:focus {
  outline: none;
}

.select__value-input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  opacity: 0;
  z-index: -1;
}


/* Standard selects */
.select--standard .select__combobox {
  background-color: rgb(var(--zn-input-bg));
  border-width: 1px;
}

.select--standard.select--disabled .select__combobox {
  background-color: var(--zn-input-background-color-disabled);
  border-color: var(--zn-input-border-color-disabled);
  color: var(--zn-input-color-disabled);
  opacity: 0.5;
  cursor: not-allowed;
  outline: none;
}


.select--standard:not(.select--disabled).select--open .select__combobox,
.select--standard:not(.select--disabled).select--focused .select__combobox {
  background-color: var(--zn-input-background-color-focus);
  border: 1px solid rgb(var(--zn-primary)) !important;
  box-shadow: 0 0 0 3px rgba(var(--zn-primary), 0.3) !important;
}

/* Filled selects */
.select--filled .select__combobox {
  border: none;
  background-color: rgb(var(--zn-input-bg));
}

.select--filled:hover:not(.select--disabled) .select__combobox {
  background-color: var(--zn-input-filled-background-color-hover);
}

.select--filled.select--disabled .select__combobox {
  background-color: var(--zn-input-filled-background-color-disabled);
  opacity: 0.5;
  cursor: not-allowed;
}

.select--filled:not(.select--disabled).select--open .select__combobox,
.select--filled:not(.select--disabled).select--focused .select__combobox {
  background-color: var(--zn-input-filled-background-color-focus);
  outline: var(--zn-focus-ring);
}

/* Prefix and Suffix */
.select__prefix,
.select__suffix {
  flex: 0;
  display: inline-flex;
  align-items: center;
  color: var(--zn-input-placeholder-color);
}

.select__suffix::slotted(*) {
  margin-inline-start: wc.spacing(sm)
}

.select__prefix::slotted(*) {
  margin-inline-end: wc.spacing(sm)
}

/* Clear button */
.select__clear {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: inherit;
  color: var(--zn-input-icon-color);
  border: none;
  background: none;
  padding: 0;
  transition: 500ms color;
  cursor: pointer;
}

.select__clear:hover {
  color: var(--zn-input-icon-color-hover);
}

.select__clear:focus {
  outline: none;
}

/* Expand icon */
.select__expand-icon {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  transition: var(--zn-transition-medium) rotate ease;
  rotate: 0;
  margin-inline-start: wc.spacing(sm)
}

.select--open .select__expand-icon {
  rotate: -180deg;
}

/* Listbox */
.select__listbox {
  display: block;
  position: relative;
  background: rgb(var(--zn-panel));
  border-width: 1px;
  border-radius: 5px;
  padding-block: wc.spacing(xs);
  padding-inline: 0;
  overflow: auto;
  overscroll-behavior: none;

  /* Make sure it adheres to the popup's auto size */
  max-width: var(--auto-size-available-width);
  max-height: var(--auto-size-available-height);
}

.select__listbox ::slotted(zn-divider) {
  --spacing: wc.spacing(sm);
}

.select__listbox ::slotted(small) {
  display: block;
  color: var(--zn-color-neutral-500);
  padding-block: var(--zn-spacing-2x-small);
  padding-inline: var(--zn-spacing-x-large);
}
