@use "../../wc";

:host {
  display: inline-block;
}

.tag {
  display: flex;
  align-items: center;
  gap: 4px;
  white-space: nowrap;
  user-select: none;
  -webkit-user-select: none;

  border-radius: 5px;
  border-style: solid;
  border-width: 1px !important;
  border-color: rgb(var(--zn-primary)) !important;

  background: rgba(var(--zn-primary), .10);
  color: rgba(var(--zn-primary), 0.9);
  font-size: 80%;
  padding: wc.spacing(xxs) wc.spacing(xs);

  &:active > zn-icon {
    color: var(--sl-color-primary-600);
  }
}

.tag::part(base) {
  color: inherit;
  padding: 0;
}
