@use "../../wc";
@use "../../form-control";

:host {
  display: block;
  line-height: var(--zn-line-height-dense);
}

.form-control {
  position: relative;
  border: none;
  padding: 0;
  margin: 0;
}

.form-control__label {
  padding: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}
