@use "../../scss/wc";

:host {
  flex-grow: 1;
  width: 100%;

  > div {
    display: flex;
    flex-wrap: wrap;

    @include wc.gap;
  }

  .s1, .s2, .s3, .s4 {
    min-width: var(--col-min, 160px);
    flex-grow: 1;
  }


  .s1 {
    flex-basis: calc(var(--col-min, 160px));
    flex-grow: 1;
  }

  .s2 {
    flex-basis: calc(var(--col-min, 160px) * 2);
    flex-grow: 2;
  }

  .s3 {
    flex-basis: calc(var(--col-min, 160px) * 3);
    flex-grow: 3;
  }

  .s4 {
    flex-basis: calc(var(--col-min, 160px) * 3);
    flex-grow: 4;
  }
}
