@use "../wc";

:host {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.header {
  font-weight: 500;
  color: rgb(var(--zn-text-heading));
}

.header,
.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.progress {
  color: rgb(var(--zn-text));
}

.label,
.info {
  flex: 1;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.info {
  font-size: 90%;
}

.header {
  margin-bottom: wc.spacing(xs);
}
.footer {
  margin-top: wc.spacing(xs);
}
