@use "../../wc";

:host {
  display: block;
  max-width: 100%;
  --menu-gap: var(--zn-spacing-x-small);
}

.button-menu--no-gap {
  --menu-gap: 0;
}

.button-menu {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding: var(--zn-spacing-small) 0;
  margin: 0;

  min-width: 35px;
  max-width: var(--zn-max-width);

  gap: var(--menu-gap);

  &--no-padding {
    padding: 0;
  }

  &__container {
    display: flex;
    flex-direction: row;
    gap: var(--menu-gap);
    margin: 0;
    max-width: calc(100% - 35px);
  }

  zn-button {
    height: 35px;
    min-width: 35px;
    flex-shrink: 0;
  }
}
