@use "../../wc";

:host {
  display: block;
}

.zn-button-menu {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: var(--zn-spacing-x-small);
  padding: var(--zn-spacing-small) 0;
  margin: 0;

  min-width: 35px;
  max-width: var(--zn-max-width);

  &__container {
    display: flex;
    flex-direction: row;
    gap: var(--zn-spacing-x-small);
    margin: 0;
  }

  zn-button {
    height: 35px;
    min-width: 35px;
  }
}
