@use "../wc";

:host {
  border-radius: 10px;
  padding: 0;
  overflow: hidden;
}

:host > div {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 0;
  border-radius: 10px;
  border-width: 1px !important;
  width: wc.common-size(spanel);
  background-color: rgba(var(--zn-panel), var(--zn-panel-opacity));
  gap: wc.spacing(md);

  li {
    display: block;
    border-bottom-width: 1px;
    overflow: hidden;

    &:first-child {
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
    }

    &:last-child {
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
    }

    a, span {
      display: block;
      padding: wc.spacing(sm);

      &:hover {
        cursor: pointer;
        background-color: rgba(var(--zn-panel-highlight), var(--zn-panel-highlight-opacity));
        color: rgb(var(--zn-primary));
      }
    }
  }

  li:last-child {
    border-bottom-width: 0;
  }
}

:host([hidden]) {
  display: none;
}

.zn-menu--overlay {
  position: absolute;
  filter: drop-shadow(0 10px 8px rgba(0, 0, 0, 0.04)) drop-shadow(0 4px 3px rgba(0, 0, 0, 0.1));
  z-index: 2001;
  overflow: hidden;
}

.zn-menu_backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2000;
}
