@use "../wc";

:host {
  border-radius: 5px;
  padding: 0;
  overflow: hidden;
  border-width: 1px !important;
  filter: drop-shadow(0 10px 8px rgba(0, 0, 0, 0.04)) drop-shadow(0 4px 3px rgba(0, 0, 0, 0.1));
  background-color: rgb(var(--zn-panel));
  backdrop-filter: blur(3px);
}

:host([hidden]) {
  display: none;
}

:host > div {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 0;
  width: wc.common-size(spanel);
  background: transparent;
  gap: wc.spacing(md);

  li {
    display: block;
    border-bottom-width: 1px;
    overflow: hidden;

    a, span {
      display: block;
      padding: wc.spacing(sm);

      &:hover {
        cursor: pointer;
        background-color: rgba(var(--zn-panel-highlight), var(--zn-panel-highlight-opacity));
        color: rgb(var(--zn-primary));
      }
    }
  }

  li.error {
    color: rgb(var(--zn-color-error));

    a, span {
      &:hover {
        background-color: rgba(var(--zn-color-error));
        color: white;
      }
    }
  }

  li.warning {
    color: rgb(var(--zn-color-warning));

    a, span {
      &:hover {
        background-color: rgb(var(--zn-color-warning));
        color: white;
      }
    }
  }

  li.success {
    color: rgb(var(--zn-color-success));

    a, span {
      &:hover {
        background-color: rgb(var(--zn-color-success));
        color: white;
      }
    }
  }

  li:last-child {
    border-bottom-width: 0;
  }
}


.zn-menu--overlay {
  position: absolute;
  filter: drop-shadow(0 10px 8px rgba(0, 0, 0, 0.04)) drop-shadow(0 4px 3px rgba(0, 0, 0, 0.1));
  z-index: 2001;
  overflow: hidden;
}

.zn-menu_backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2000;
}
