@use "../../wc";

:host {
  display: block;
  padding-bottom: var(--zn-spacing-2x-small);
}

.expanding-action--fill {
  padding-inline: var(--zn-spacing-medium);
  padding-bottom: var(--zn-spacing-2x-small);
  position: absolute;
  top: 0;
  left: auto;
  right: 0;
  bottom: 0;
  background-color: rgb(var(--zn-panel));
  width: 0;
  transition: width var(--zn-transition-slow) cubic-bezier(0.62, 0.16, 0.13, 1.01), opacity var(--zn-transition-slow) cubic-bezier(0.62, 0.16, 0.13, 1.01), display var(--zn-transition-slow) ease-in-out allow-discrete;

  &.expanding-action--open {
    @starting-style {
      width: 0;
    }

    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    height: 100%;
    width: min(100%, 800px);
    overflow: hidden;
    z-index: 100;
    max-width: 800px;

    &::before {
      content: "";
      position: absolute;
      left: calc(var(--zn-spacing-medium) * -1);
      right: calc(var(--zn-spacing-medium) * -1);
      bottom: 6px; // Magic number to add space for tabs
      background-color: rgb(var(--zn-primary));
      height: 2px;
    }

    & > zn-icon {
      display: block;
      color: rgb(var(--zn-primary));
    }
  }

  &.expanding-action--closed {
    display: none;
    opacity: 0;
  }

  .expanding-action__content {
    @starting-style {
      opacity: 0;
    }

    opacity: 1;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0;
  }
}

zn-button.expanding-action__button::part(base) {
  padding: 7px 5px;
}

.expanding-action--drop .expanding-action__content {
  min-width: 300px;
  width: var(--expanding-action-basis, var(--zn-container-smp, 320px));
  max-width: 80vw;
  max-height: min(60vh, var(--expanding-action-max-height, var(--auto-size-available-height, 50vh)));
  box-shadow: 5px 5px 8px 3px rgba(0, 0, 0, 0.2);
  background-color: rgb(var(--zn-panel));
  border: solid 1px rgb(var(--zn-border-color));
  border-radius: var(--zn-border-radius-large);
  padding: 0;
  height: 100%;
  overflow: hidden;
  overflow-y: auto;
}
