@use "../../wc";

:host {
  display: block;
}

.expanding-action--fill {
  padding-inline: var(--zn-spacing-medium);
  padding-bottom: var(--zn-spacing-2x-small);
  position: absolute;
  top: 0;
  left: auto;
  right: 0;
  bottom: 0;
  background-color: rgb(var(--zn-panel));
  width: 0;
  transition: width var(--zn-transition-slow) cubic-bezier(0.62, 0.16, 0.13, 1.01), opacity var(--zn-transition-slow) cubic-bezier(0.62, 0.16, 0.13, 1.01), display var(--zn-transition-slow) ease-in-out allow-discrete;

  &.expanding-action--open {
    @starting-style {
      width: 0;
    }

    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    height: 100%;
    width: min(100%, 800px);
    overflow: hidden;
    z-index: 100;
    max-width: 800px;

    &::before {
      content: "";
      position: absolute;
      left: calc(var(--zn-spacing-medium) * -1);
      right: calc(var(--zn-spacing-medium) * -1);
      bottom: 6px; // Magic number to add space for tabs
      background-color: rgb(var(--zn-primary));
      height: 2px;
    }

    & > zn-icon {
      display: block;
      color: rgb(var(--zn-primary));
    }
  }

  &.expanding-action--closed {
    display: none;
    opacity: 0;
  }

  .expanding-action__content {
    @starting-style {
      opacity: 0;
    }

    opacity: 1;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0;
  }
}

.expanding-action--drop,
.expanding-action--drop .expanding-action__dropdown,
.expanding-action--drop .expanding-action__dropdown zn-button[slot="trigger"] {
  height: 100%;
}

.expanding-action--drop .expanding-action__content {
  --expanding-action-trigger-width: 36px;

  position: relative;
  min-width: 300px;
  width: var(--expanding-action-basis, var(--zn-container-smp, 320px));
  max-width: 80vw;
  background-color: rgb(var(--zn-panel));
  box-shadow: 0 8px 16px -6px rgba(33, 33, 33, 0.18);
  border: solid 1px rgb(var(--zn-border-color));
  border-radius: var(--zn-border-radius) 0 var(--zn-border-radius) var(--zn-border-radius);
  padding: 0;
  height: 100%;

  &::before {
    content: "";
    position: absolute;
    top: -1px;
    left: calc(100% - var(--expanding-action-trigger-width) + 2px); // Works with width of trigger button and borders
    right: 0;
    z-index: 1;
    height: 2px;
    background: rgb(var(--zn-panel));
  }
}

:host([data-trigger-side="left"]) .expanding-action--drop .expanding-action__content {
  border-radius: 0 var(--zn-border-radius) var(--zn-border-radius) var(--zn-border-radius);

  &::before {
    left: 0;
    right: calc(100% - var(--expanding-action-trigger-width) + 2px); // Works with width of trigger button and borders
  }
}

:host([open]) .expanding-action__dropdown zn-button[slot="trigger"] {
  position: relative;
  z-index: calc(var(--zn-z-index-dropdown) + 1);

  &::before {
    content: "";
    position: absolute;
    inset: 0;
    z-index: -1;
    height: 41px;
    background: rgb(var(--zn-panel));
    border: solid 1px rgb(var(--zn-border-color));
    border-bottom-color: rgb(var(--zn-panel));
    border-radius: var(--zn-border-radius) var(--zn-border-radius) 0 0;
  }
}

:host([open]) .expanding-action__dropdown zn-button[slot="trigger"]::part(base) {
  &:hover,
  &:active {
    background: transparent;
  }
}
