@use "../../wc";

:host {
  display: block;
  container-type: inline-size;
  position: relative;
  height: 100%;

  --page-nav-width: 240px;
}

.breadcrumb {
  display: none;
}

.tabs {
  display: flex;
  flex-direction: row;
}

.menu-overlay {
  display: none;
}

.navigation {
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
  height: 100%;
  border-right: 1px solid rgb(var(--zn-border-color));
  max-width: var(--page-nav-width);
  width: var(--page-nav-width);
  background-color: rgb(var(--zn-body));
  overflow-y: auto;
  padding: var(--zn-spacing-small) var(--zn-spacing-small) var(--zn-spacing-small) var(--zn-spacing-medium);
  @include wc.scrollbars;
}

.navigation-group {
  display: flex;
  flex-direction: column;
}

.navigation-group h4 {
  margin: 0;
  padding: var(--zn-spacing-small) 0;
  color: rgb(var(--zn-text-heading));
  font-size: var(--zn-font-size-medium);
  font-weight: var(--zn-font-weight-semibold);
}

.navigation-group .navigation-item {
  padding: var(--zn-spacing-x-small) 0;
  color: rgb(var(--zn-text));
  font-size: var(--zn-font-size-medium);
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: var(--zn-spacing-small);
}

.navigation-item.active {
  color: rgb(var(--zn-primary));
}

.navigation-group + .navigation-group {
  margin-top: 10px;
}

@include wc.container-query(null, ph) {
  .breadcrumb {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-bottom: 1px solid rgb(var(--zn-border-color));
    width: 100%;
    height: 50px;
    background-color: rgb(var(--zn-body));
    gap: 10px;
  }

  .breadcrumb-menu-toggle {
    cursor: pointer;
    margin-left: 10px;
  }

  .menu-overlay.active {
    display: block;
    position: absolute;
    left: 0;
    top: 40px;;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
  }

  .navigation {
    display: none;
    position: absolute;
    top: 40px;
    left: -500px;
    opacity: 0;
    min-height: 400px;
    bottom: 0;
    z-index: var(--zn-z-index-dropdown);
    transition: left 0.2s ease-in-out, opacity 0.2s ease-in-out;
    // allow transitions on block

  }

  .navigation.active {
    display: block;
    left: 0;
    opacity: 1;
    transition: left 0.2s ease-in-out, opacity 0.2s ease-in-out;
  }
}
