@use "../../wc";

:host {
  cursor: pointer;
  position: relative;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin: 10px 0 0 60px;
}


.message {
  gap: 5px;
  margin-top: 2px;
  padding: 10px 15px 23px 15px;
  background-color: rgb(var(--zn-panel));
  border: 1px solid rgb(var(--zn-border-color));
  color: rgb(var(--zn-text-heading));
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  max-width: 85%;
  min-width: 170px; // Allow for date output
  border-radius: 10px;
  position: relative;


  overflow: hidden;
  overflow-wrap: break-word;

  &:before {
    position: absolute;
    content: '';
    bottom: -3px;
    left: 0;
    right: 0;
    height: 20px;
    background-color: rgb(var(--zn-shadow));
    border-radius: 10px;
    z-index: -1;
  }
}


.int-msg-who {
  font-weight: bold;
  font-size: 11px;
  margin: 0;
  display: block;
  width: 100%;
  color: rgb(var(--zn-primary));
}

.int-msg-d {
  font-size: 10px;
  line-height: 15px;
  text-transform: capitalize;
  position: absolute;
  bottom: 5px;
  right: 10px;
  opacity: 0.5;
}

:host([action-type="connected.agent"]),
:host([action-type="customer.connected"]),
:host([action-type="customer.disconnected"]),
:host([action-type="attachment.added"]),
:host([action-type="transfer"]) {
  background: transparent;
  border: none;
  align-self: center;

  .wrapper {
    margin: 0;
    align-items: center;
  }

  .message {
    background: transparent;
    text-align: center;
    border: none;
    max-width: unset;
    padding-bottom: 5px;

    &:before {
      display: none;
    }
  }

  .int-msg-d, .int-msg-who {
    display: none;
  }

}

:host([customer-initiated="1"]) .wrapper,
:host([customer-initiated="true"]) .wrapper {
  align-items: flex-start;
  margin-left: 0;
}

:host([action-type="message-sending"]) .message {
  opacity: 0.5;

  &:before {
    opacity: 0.2;
  }
}

:host(.message-continued) {
  .wrapper {
    margin-top: 0;
  }

  .message {
    margin-bottom: 0;
    padding-bottom: 10px;
  }

  .int-msg-who, .int-msg-d {
    display: none;
  }
}
