@use "sass:map";
@use '../../../scss/mixins' as wc;
@use '../../../scss/shared/button';

:host, zn-drag-upload {
  #drag-upload {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(var(--zn-input-bg));
    padding: wc.spacing(md) wc.spacing(lg);
    border-radius: 5px;
    border-width: 1px !important;
    border-style: dashed !important;
  }

  label {
    @include button.button();
    margin-top: wc.spacing(sm);
  }

  p {
    text-align: center;
  }

  input {
    display: none !important;
  }
}
