@use "../../form-control";

:host {
  display: block;
}

.translations {
  display: flex;
  flex-direction: column;
  padding: 0 var(--zn-spacing-medium);
  gap: var(--zn-spacing-small);
}

.input-container {
  padding: var(--zn-spacing-small) 0;
}
