@use "../../form-control";

:host {
  display: block;
}

.translations {
  display: flex;
  flex-direction: column;
  gap: var(--zn-spacing-small);
}

.input-container {
  padding: var(--zn-spacing-small) 0;
}
