@use "../../form-control";

:host {
  display: block;
}

.translations {
  display: flex;
  flex-direction: column;
  padding: 0 var(--zn-spacing-medium);
  gap: var(--zn-spacing-3x-small);
}

.input-container {
  padding: var(--zn-spacing-small) 0;
}

.form-control__label {
  margin-bottom: 0 !important;
}


zn-navbar {
  overflow: hidden;
  margin-top: var(--zn-spacing-x-small);
}

zn-navbar::part(navbar) {
  padding: 0;
  gap: 15px;
}

zn-navbar::part(navbar-item) {
  font-size: var(--zn-font-size-small);

  --zn-spacing-medium: 7px;
}

zn-navbar::part(button__base) {
  padding: 0 5px;
}
