@tailwind base;

zn-header, :host {
  @apply border-b border-border bg-white overflow-hidden;
  @apply flex flex-wrap w-full h-fit px-sm md:px-lg;
}

:host[transparent], zn-header[transparent] {
  @apply bg-transparent;
}

zn-header[max-width], :host[max-width] {
  @apply flex justify-center
}

zn-header:not([navigation]), :host:not([navigation]) {
  @apply pb-sm;
}


:host {

  @apply gap-sm pt-sm;

  .width-container {
    @apply w-full;
    max-width: var(--max-width);
  }

  h1 {
    @apply text-title grow text-primary-800;
  }

  h1:empty, slot:empty {
    @apply hidden;
  }

  slot {
    @apply flex items-center flex-wrap gap-xs;
  }

  ul.header-nav {
    @apply box-border flex basis-full gap-lg md:gap-xl;

    li {

      @apply text-navitem font-semibold relative;

      &::before {
        @apply inset-x-1/2 absolute bottom-0 transition-all duration-200;
        content: "";
      }

      &.active::before, &:hover::before {
        @apply cursor-pointer;
        @apply bg-secondary-500 h-xxs;
        left: -6px;
        right: -6px;
      }
    }
  }
}
