@tailwind base;

:host > div {
  @apply flex justify-center border-b overflow-hidden pb-sm;
  @apply border-border;
  @apply bg-white;
}

:host([transparent]) > div {
  @apply bg-transparent;
}

:host([d]) > div {
  @apply bg-dark-900 border-darkBorder;

  h1 {
    @apply text-white;
  }
}

:host([navigation]) > div {
  @apply pb-0;
}

:host > div {

  @apply gap-sm pt-sm;

  .width-container {
    @apply w-full flex flex-wrap w-full h-fit px-sm md:px-lg;
    max-width: var(--max-width);
  }

  h1 {
    @apply text-title grow;
    @apply text-primary-800;

  }

  h1:empty, &:empty {
    @apply hidden;
  }

  slot {
    @apply flex items-center flex-wrap gap-xs;
  }

  ul.header-nav {
    @apply box-border flex basis-full gap-lg md:gap-xl pt-xs;

    li {

      @apply text-navitem font-semibold relative;

      a {
        @apply block cursor-pointer;
      }

      &::before {
        @apply inset-x-1/2 absolute bottom-0 transition-all duration-500  h-xxs;
        content: "";
      }

      &:hover::before {
        @apply bg-secondary-100;
        left: -5px;
        right: -5px;
      }

      &.active::before {
        @apply bg-secondary-500;
        left: -10px;
        right: -10px;
      }
    }
  }
}
