@tailwind base;

zn-header, :host {
  @apply border-b border-border bg-white;
  @apply flex flex-wrap w-full h-fit px-sm md:px-lg;
}

:host[transparent], zn-header[transparent] {
  @apply bg-transparent;
}

zn-header[max-width], :host[max-width] {
  display: flex;
  justify-content: center;
}


:host {

  @apply gap-sm pt-sm;

  .width-container {
    width: 100%;
    max-width: var(--max-width);
  }

  h1 {
    @apply text-title grow text-primary-800;
  }

  h1:empty, slot:empty {
    display: none;
  }

  slot {
    @apply flex items-center flex-wrap gap-xs;
  }

  ul.header-nav {
    @apply box-border flex basis-full gap-sm ;

    li {

      @apply text-navitem border-b-sm border-transparent font-semibold px-sm;

      &.active {
        @apply border-secondary-500;
      }

      &:hover {
        @apply cursor-pointer border-secondary-500;
      }
    }
  }
}
