:host {
  @apply max-w-full w-full overflow-hidden;

  > div {
    @apply w-full max-w-full overflow-x-auto block;
  }

  table {
    border-collapse: separate;
    border-spacing: 0;
    @apply w-full max-w-full table-auto text-left;
  }

  tbody tr:first-child td:first-of-type {
    @apply rounded-tl-md;
  }

  tbody tr:first-child td:last-of-type {
    @apply rounded-tr-md;
  }

  tbody tr:last-child td:first-of-type {
    @apply rounded-bl-md;
  }

  tbody tr:last-child td:last-of-type {
    @apply rounded-br-md;
  }

  thead {
    @apply font-medium;
  }

  tbody {
    @apply text-txt-800 bg-white;

    a {
      @apply text-secondary-500 cursor-pointer;
    }
  }

  tbody tr td {
    @apply border-b;
  }

  th, td {
    @apply py-md px-md whitespace-nowrap border-border;
  }

  th {
    @apply pb-sm;
  }

  td:first-child > div {
    @apply flex items-center gap-x-md;

    span {
      @apply block;
    }

    .caption:empty, .summary:empty {
      @apply hidden;
    }

    .caption {
      @apply font-medium;
    }

    .summary {
      @apply text-xs text-txt-600 pt-xs;
    }

  }
}

:host([borders]) {

  tr, td {
    margin: 0;
  }

  tbody tr td:last-of-type {
    @apply border-r;
  }

  tbody tr td:first-of-type {
    @apply border-l;
  }

  tbody tr:first-of-type td {
    @apply border-t;
  }

  tbody tr:last-of-type td {
    @apply border-b;
  }
}

:host([cborders]) {
  tbody tr td {
    @apply border-l;
  }
}

:host([d]) {

  tbody {
    @apply text-darkTxt-800 bg-transparent;
  }

  thead, tbody, th, td {
    @apply border-darkBorder;
  }

  td:first-child > div .summary {
    @apply text-darkTxt-600;
  }
}

:host([d][borders]) {
  > div {
    @apply border-darkBorder;
  }
}

:host([d][cborders]) {
  tbody tr, thead tr {
    @apply divide-darkBorder;
  }
}
