@use "../wc";

:root {
  --icon-size: 24;
}

:host {
  user-select: none;
  font-family: sans-serif;
  overflow: hidden;

  margin: 0;
  padding: 0;

  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;

  width: var(--icon-size);
  height: var(--icon-size);

  &, i {
    font-size: var(--icon-size);
  }
}

:host([round]) {
  border-radius: 50%;
}

img {
  width: 100%;
  height: 100%;
}

.mi {
  font-family: 'Material Icons';
  font-size: inherit;
  font-weight: 300;
  font-style: normal;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;

  font-variation-settings: 'FILL' 0,
  'wght' 300,
  'GRAD' 0,
  'opsz' 24
}


.mi--outlined {
  font-family: 'Material Icons Outlined';
}

.mi--round {
  font-family: 'Material Icons Round';
}

.mi--sharp {
  font-family: 'Material Icons Sharp';
}

.mi--two-tone {
  font-family: 'Material Icons Two Tone';
}
