@use "../../wc";

:host(:not([expanded])) {
  cursor: pointer;
}

:host([expanded]) .expand {
  transform: rotate(180deg);
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  cursor: pointer;
  overflow: hidden;
  padding: var(--zn-spacing-small) var(--zn-spacing-medium);
  justify-items: center;

  > div {
    display: flex;
    align-items: center;
  }

  .caption {
    font-weight: 600;
    margin: 0;
    color: rgb(var(--zn-text-heading));
  }

  .summary {
    font-weight: 500;
    font-size: 90%;
  }

  .label {
    font-weight: 500;
    font-size: 90%;
  }

  &__right {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
}

:host([error-label]) {
  .header {
    .caption {
      color: rgb(var(--zn-color-error));
    }
  }
}

:host([warning-label]) {
  .header {
    .caption {
      color: rgb(var(--zn-color-warning));
    }
  }
}

:host(:not([flush])).content {
  @include wc.padding();
}

.content {
  transition: .1s all ease-out;
}

:host([expanded]) .content {
  margin: 0 var(--zn-spacing-medium);
  padding-bottom: var(--zn-spacing-medium);

  &--flush {
    margin: 0;
    padding: 0;
  }
}

:host(:not([expanded])) .content {
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  padding: 0;
}

.expand {
  margin-left: var(--zn-spacing-medium);
}
