@use "../../wc";

:host {
  cursor: pointer;
  position: relative;

  > div {
    padding: 30px 20px;
    border-bottom: 1px solid rgb(var(--zn-border-color));
  }
}

:host([active]) > div {
  background-color: rgb(var(--zn-panel));
}

h2 {
  font-size: 16px;
  font-weight: 500;
  margin: 0 0 4px 0;
}

p {
  font-size: 12px;
  line-height: 18px;
  margin: 0;
}

.last-message {
  position: absolute;
  top: 10px;
  right: 10px;
  color: rgb(var(--zn-color-error));
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;

  .time {
    font-size: 12px;
    line-height: 15px;
  }

  &-indicator {
    display: inline-block;
    color: rgb(var(--zn-color-error));
    width: 10px;
    height: 10px;
    border-radius: 50%;
  }
}
