*, *::before, *::after {
  box-sizing: border-box;
}

:host {
  font-family: "Inter", sans-serif;
  color: #343434;
  cursor: pointer;
  position: relative;

  > div {
    padding: 30px 20px;
    border-bottom: 1px solid #E3E3E3;
  }
}

:host([active]) > div {
  background-color: white;
}

h2 {
  font-size: 16px;
  font-weight: 500;
  margin: 0 0 4px 0;
}

p {
  font-size: 12px;
  line-height: 18px;
  color: #7F8090;
  margin: 0;
}

.last-message {
  position: absolute;
  top: 10px;
  right: 10px;
  color: #ED546D;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;

  .time {
    font-size: 12px;
    line-height: 15px;
  }

  &-indicator {
    display: inline-block;
    background-color: #ED546D;
    width: 10px;
    height: 10px;
    border-radius: 50%;
  }
}
