@use '../wc';

:host([baseless]) {
  ul {
    border-bottom: none;
  }
}

:host([icon-bar]) {

  ul {
    display: flex;
    flex-direction: row;
    gap: 5px;
    padding: 5px;
    border-radius: 10px;
    margin: 0;
    background: rgb(var(--zn-panel));
    border: 1px solid rgb(var(--zn-border-color));
    flex-basis: auto;
  }

  li {
    flex-direction: column;
    border-radius: 6px;
    flex-basis: 100%;
    padding: 5px;

    &:before {
      display: none !important;
    }

    &.active, &.zn-tb-active {
      background: rgba(0, 0, 0, 0.03);
      color: rgb(var(--zn-primary));
    }

    &:hover {
      color: rgb(var(--zn-primary));
    }
  }
}


:host([pad]) {
  ul {
    padding: 0 var(--zn-padding, 15px);
  }
}

:host {
  display: block;

  ul {
    display: flex;
    flex-basis: 100%;
    gap: 30px;
    margin: 0;
    list-style: none;
    border-bottom: 1px solid rgb(var(--zn-border-color));

    li {
      font-weight: 500;
      padding: 10px 0;
      position: relative;

      display: flex;
      align-items: center;
      justify-content: center;
      gap: 3px;

      cursor: pointer;

      zn-icon {
        pointer-events: none;
      }

      &::before {
        content: '';
        left: 50%;
        right: 50%;
        bottom: 0;
        position: absolute;
        background-color: rgb(var(--zn-primary));
        transition: all 300ms ease-in-out;
        height: wc.spacing(xxs);
      }

      &:hover:before {
        // TODO Hover Before colors
        left: -2px;
        right: -2px;
      }

      &.active, &.zn-tb-active {
        color: rgb(var(--zn-primary));
      }

      &.active::before, &.zn-tb-active::before {
        // TODO Active Before colors
        left: -8px;
        right: -8px;
      }
    }
  }
}
