@use "../../scss/mixins" as wc;
@use "../../scss/shared/table";

:host {
  max-width: 100%;
  width: 100%;
  overflow: hidden;
  position: relative;

  thead {
    color: rgb(var(--zn-text-heading));
    font-weight: 600;
    font-size: 16px;
  }

  > div {
    width: 100%;
    max-width: 100%;
    overflow-x: auto;
    display: block;
  }

  table, thead, tbody, tr, td, th {
    box-sizing: border-box;
  }

  tr td {
    min-height: 40px;
    height: 52px;
  }

  tr.with-summary td {
    min-height: 80px;
    height: 80px;
  }


  td.capcol {
    width: 30%;

    & > div {
      display: flex;
      column-gap: wc.spacing(md);
      align-items: center;

      div {
        display: flex;
        justify-items: center;
      }

      div.capd {
        flex-grow: 1;
        flex-direction: column;

        span {
          display: block;
        }

        .caption:empty, .summary:empty {
          display: none;
        }

        .caption {
          font-weight: 600;
          color: rgb(var(--zn-text-heading));
          font-size: 16px;
          text-decoration: none;

          a {
            color: inherit;
            text-decoration: inherit;
          }
        }

        .summary {
          font-size: 90%;
        }
      }
    }
  }
}

:host([fixed-first]) {
  --capcol-width: 250px;

  table {
    padding-left: var(--capcol-width);
  }

  thead th:first-of-type, td.capcol {
    position: absolute;
    left: 0;
    top: auto;
    background-color: rgb(var(--zn-panel));

    min-width: var(--capcol-width);
    max-width: var(--capcol-width);
    border-right: 1px solid rgb(var(--zn-border-color));
  }

}

:host([borders]) {

  tr, td {
    margin: 0;
  }

  tbody tr td:last-of-type {
    border-right-width: 1px !important;
  }

  tbody tr td:first-of-type {
    border-left-width: 1px !important;
  }

  tbody tr:first-of-type td {
    border-top-width: 1px !important;
  }

  tbody tr:last-of-type td {
    border-bottom-width: 1px !important;
  }
}

:host([cborders]) {
  tbody tr td {
    border-left-width: 1px !important;
  }
}


:host([fixed]) {
  table {
    table-layout: fixed;
  }
}
