@use "../../scss/mixins" as wc;
@use "../../scss/shared/table";

:host {
  max-width: 100%;
  width: 100%;
  overflow: hidden;

  thead {
    color: rgb(var(--zn-text-heading));
  }

  > div {
    width: 100%;
    max-width: 100%;
    overflow-x: auto;
    display: block;
  }

  td:first-child > div {
    display: flex;
    justify-items: center;
    row-gap: wc.spacing(md);

    span {
      display: block;
    }

    .caption:empty, .summary:empty {
      display: none;
    }

    .caption {
      font-weight: 500;
    }

    .summary {
      font-size: 90%;
      padding-top: wc.spacing(xs);
    }

  }
}

:host([borders]) {

  tr, td {
    margin: 0;
  }

  tbody tr td:last-of-type {
    border-right-width: 1px !important;
  }

  tbody tr td:first-of-type {
    border-left-width: 1px !important;
  }

  tbody tr:first-of-type td {
    border-top-width: 1px !important;
  }

  tbody tr:last-of-type td {
    border-bottom-width: 1px !important;
  }
}

:host([cborders]) {
  tbody tr td {
    border-left-width: 1px !important;
  }
}


:host([fixed]) {
  table {
    table-layout: fixed;
  }
}
