@use "../wc";

:host {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: var(--zn-gap);
  margin-bottom: 20px;

  ::slotted(*) {
    flex-grow: 1;
    min-width: var(-zn-size-sidenav);
  }

  ::slotted(:not([span])) {
    flex-basis: 100%;
  }

  ::slotted([span='1']) {
    flex-basis: calc(100% / 4) !important;
  }

  ::slotted([span='2']) {
    flex-basis: calc((100% / 2) - (20px)) !important;
  }

  ::slotted([span='3']) {
    flex-basis: calc(100% - 20px) !important;
  }
}

:host([columns='2']) {
  ::slotted(*) {
    flex-basis: calc((100% / 2) - 20px);
  }
}

:host([columns='3']) {
  ::slotted(*) {
    flex-basis: calc((100% / 3) - 20px * 3);
  }
}

:host([columns='4']) {
  ::slotted(*) {
    flex-basis: calc((100% / 4) - 20px * 4);
  }
}
