@use "../wc";

:host {
  > .content {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: wc.spacing(sm);

    > .actions {
      margin-right: wc.spacing(sm);
      display: flex;
      flex-direction: row;
      gap: wc.spacing(sm);

      ::slotted(*) {
        cursor: pointer;
        display: flex;
      }
    }
  }
}
