:host {
  display: inline-block;
}

.button-group {
  display: flex;
  flex-wrap: nowrap;
  gap: 5px;
}

:host([direction="vertical"]), zn-button-group[direction="vertical"] {
  width: 100%;

  .button-group {
    flex-direction: column;
  }

  ::slotted(*) {
    width: 100%;
  }
}
