:host {
  display: contents;
}

.button-group {
  display: flex;
}

:host([grow]) {
  width: 100%;

  .button-group {
    display: flex;
    flex-wrap: nowrap;
  }
}

:host([direction="vertical"]),
zn-button-group[direction="vertical"] {
  width: 100%;

  .button-group {
    flex-direction: column;
    gap: 10px;
  }

  ::slotted(*) {
    width: 100%;
  }
}
