@use "../../wc";
@use "../../form-control";

:host {
  display: block;
}

.input {
  flex: 1 1 auto;
  display: inline-flex;
  align-items: stretch;
  justify-content: start;
  position: relative;
  width: 100%;
  box-shadow: var(--zn-shadow-medium);
  font-family: var(--zn-input-font-family), sans-serif;
  font-weight: var(--zn-input-font-weight);
  letter-spacing: var(--zn-input-letter-spacing);
  vertical-align: middle;
  overflow: hidden;
  cursor: text;
  transition: var(--zn-transition-fast) color,
  var(--zn-transition-fast) border,
  var(--zn-transition-fast) background-color;
}

/* Standard inputs */
.input--standard {
  background-color: var(--zn-input-background-color);
  border: solid var(--zn-input-border-width) var(--zn-input-border-color);
}

.input--standard:hover:not(.input--disabled) {
  background-color: var(--zn-input-background-color-hover);
  border-color: var(--zn-input-border-color-hover);
}

.input--standard.input--focused:not(.input--disabled) {
  background-color: var(--zn-input-background-color-focus);
  border-color: var(--zn-input-border-color-focus);
  box-shadow: 0 0 0 var(--zn-focus-ring-width) var(--zn-input-focus-ring-color);
}

.input--standard.input--focused:not(.input--disabled) .input__control {
  color: var(--zn-input-color-focus);
}

.input--standard.input--disabled {
  background-color: var(--zn-input-background-color-disabled);
  border-color: var(--zn-input-border-color-disabled);
  opacity: 0.5;
  cursor: not-allowed;
}

.input--standard.input--disabled .input__control {
  color: var(--zn-input-color-disabled);
}

.input--standard.input--disabled .input__control::placeholder {
  color: var(--zn-input-placeholder-color-disabled);
}

.input__control {
  flex: 1 1 auto;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  min-width: 0;
  height: 100%;
  color: var(--zn-input-color);
  border: none;
  background: inherit;
  box-shadow: none;
  padding: 0;
  margin: 0;
  cursor: inherit;
  -webkit-appearance: none;
}

.input__control::-webkit-search-decoration,
.input__control::-webkit-search-cancel-button,
.input__control::-webkit-search-results-button,
.input__control::-webkit-search-results-decoration {
  -webkit-appearance: none;
}

.input__control:-webkit-autofill,
.input__control:-webkit-autofill:hover,
.input__control:-webkit-autofill:focus,
.input__control:-webkit-autofill:active {
  box-shadow: 0 0 0 var(--zn-input-height-large) var(--zn-input-background-color) inset !important;
  -webkit-text-fill-color: var(--zn-input-color);
  caret-color: var(--zn-input-color);
}

.input__control::placeholder {
  color: var(--zn-input-placeholder-color);
  user-select: none;
  -webkit-user-select: none;
}

.input:hover:not(.input--disabled) .input__control {
  color: var(--zn-input-color-hover);
}

.input__control:focus {
  outline: none;
}

.input__prefix,
.input__suffix {
  display: inline-flex;
  flex: 0 0 auto;
  align-items: center;
  cursor: default;
  color: var(--zn-input-icon-color);
  font-size: var(--zn-font-size-small);

  zn-icon {
    --icon-size: var(--zn-font-size-x-large);
    color: var(--zn-input-icon-color);
    font-size: var(--zn-font-size-small);
  }
}

.input__prefix ::slotted(zn-icon),
.input__suffix ::slotted(zn-icon) {
  --icon-size: var(--zn-font-size-medium);
  font-size: var(--zn-font-size-medium);
  color: var(--zn-input-icon-color);
}


.input__prefix-default zn-icon {
  display: contents;
}

/*
 * Size modifiers
 */

.input--small {
  border-radius: var(--zn-input-border-radius-small);
  font-size: var(--zn-input-font-size-small);
  height: var(--zn-input-height-small);
}

.input--small .input__control {
  height: calc(var(--zn-input-height-small) - var(--zn-input-border-width) * 2);
  padding: 0 var(--zn-input-spacing-small);
}

.input--small .input__clear,
.input--small .input__password-toggle {
  width: calc(1em + var(--zn-input-spacing-small) * 2);
}

.input--small .input__prefix ::slotted(*),
.input__prefix-default {
  margin-inline-start: var(--zn-input-spacing-small);
}

.input--small .input__suffix ::slotted(*),
.input__suffix-default {
  margin-inline-end: var(--zn-input-spacing-small);
}

.input--small .input__suffix ::slotted(zn-button),
.input--small .input__prefix ::slotted(zn-button) {
  margin-inline-end: 0;
  margin-inline-start: 0;
}

.input--medium {
  border-radius: var(--zn-input-border-radius-medium);
  font-size: var(--zn-input-font-size-medium);
  height: var(--zn-input-height-medium);
}

.input--medium .input__control {
  height: calc(var(--zn-input-height-medium) - var(--zn-input-border-width) * 2);
  padding: 0 var(--zn-input-spacing-medium);
}

.input--medium .input__clear,
.input--medium .input__password-toggle {
  width: calc(1em + var(--zn-input-spacing-medium) * 2);
}

.input--medium .input__prefix ::slotted(*),
.input__prefix-default {
  margin-inline-start: var(--zn-input-spacing-medium);
}

.input--medium .input__suffix ::slotted(*),
.input__suffix-default {
  margin-inline-end: var(--zn-input-spacing-medium);
}

.input--medium .input__suffix ::slotted(zn-button),
.input--medium .input__prefix ::slotted(zn-button) {
  margin-inline-end: 0;
  margin-inline-start: 0;
}

.input--large {
  border-radius: var(--zn-input-border-radius-large);
  font-size: var(--zn-input-font-size-large);
  height: var(--zn-input-height-large);
}

.input--large .input__control {
  height: calc(var(--zn-input-height-large) - var(--zn-input-border-width) * 2);
  padding: 0 var(--zn-input-spacing-medium);
}

.input--large .input__clear,
.input--large .input__password-toggle {
  width: calc(1em + var(--zn-input-spacing-large) * 2);
}

.input--large .input__prefix ::slotted(*),
.input__prefix-default {
  margin-inline-start: var(--zn-input-spacing-large);
}

.input--large .input__suffix ::slotted(*),
.input__suffix-default {
  margin-inline-end: var(--zn-input-spacing-large);
}

.input--large .input__suffix ::slotted(zn-button),
.input--large .input__prefix ::slotted(zn-button),
{
  margin-inline-end: 0;
  margin-inline-start: 0;
}
