@use '../mixins';
@use '../variables';

$this: '.zn-simpleprompt';

#{$this} {
  &__bg {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 50%);
    z-index: 1000000;
  }

  &__wrapper {
    display: flex;
    min-height: 100%;
    align-items: flex-start;
    justify-content: center;
    padding: mixins.spacing(xs);
    text-align: center;
    margin-top: 10vh;

    @include mixins.media-query(sm) {
      padding: 0;
    }
  }

  &__container {
    position: relative;
    transform: translate(0, 0);
    overflow: hidden;
    border-radius: 5px;
    background: white;
    padding: mixins.spacing(xl);
    text-align: left;

    @include mixins.media-query(sm) {
      margin: mixins.spacing(sm);
      width: 100%;
      padding: mixins.spacing(lg);
      max-width: mixins.container-width(md);
      max-height: 80%;
    }

    &--lg {
      @include mixins.media-query(lg) {
        max-width: mixins.spacing(lg);
      }
    }
  }

  &__wrap {
    @include mixins.media-query(sm) {
      display: flex;
      align-items: flex-start;
    }

    #{$this} {

      &__title {
        @include mixins.media-query(sm) {
          margin-bottom: mixins.spacing(sm);
        }
      }

      &__content {
        @include mixins.media-query(sm) {
          text-align: left;
          flex-grow: 1;
        }
      }


      &__icon {
        @include mixins.media-query(sm) {
          margin-right: mixins.spacing(lg);
          height: 38px;
          width: 38px;
          flex-shrink: 0;
          margin-bottom: 0;
        }
      }
    }

    + #{$this}__actions {
      @include mixins.media-query(sm) {
        margin-top: mixins.spacing(md);
      }
    }
  }

  &__icon {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: mixins.spacing(md);
    display: flex;
    height: 48px;
    width: 48px;
    align-items: center;
    justify-content: center;
    border-radius: 50%;

    @include mixins.media-query(sm) {
      margin-bottom: mixins.spacing(lg);
    }

    &--danger {
      background: rgba(var(--zn-color-error), 30%);

      > zn-icon {
        color: rgb(var(--zn-color-error));
      }
    }

    &--warning {
      background: rgba(var(--zn-color-warning), 30%);

      > zn-icon {
        color: rgb(var(--zn-color-warning));
      }
    }

    &--info {
      background: rgba(var(--zn-color-info), 30%);

      > zn-icon {
        color: rgb(var(--zn-color-info));
      }
    }

    &--success {
      background: rgba(var(--zn-color-success), 30%);

      > zn-icon {
        color: rgb(var(--zn-color-success));
      }
    }
  }

  &__content {
    text-align: center;
  }

  &__title {
    // Title sizing
  }

  &__description {
    // Description Sizing
    font-weight: 300;
  }

  &__actions {
    margin-top: mixins.spacing(lg);
    @include mixins.media-query(sm) {
      margin-top: mixins.spacing(xl);
    }

    &--centered {
      &#{$this}__actions {
        display: grid;
        @include mixins.media-query(sm) {
          gap: mixins.spacing(sm);
        }

        &--2 {
          grid-template-columns: repeat(2, 1fr);
        }
      }

      #{$this}__actions__action {
        margin-left: 0 !important;
      }
    }

    &--multi {
      gap: mixins.spacing(sm);
      @include mixins.media-query(sm) {
        display: flex;
        justify-content: flex-end;
      }
      @include mixins.media-query(md) {
        gap: 0;
      }

      #{$this}__actions__action {
        width: 100%;
        margin-bottom: mixins.spacing(sm);
        @include mixins.media-query(sm) {
          margin-left: mixins.spacing(sm);
          margin-bottom: 0;
        }

        &:first-of-type {
          @include mixins.media-query(sm) {
            margin-left: 0;
          }
        }
      }
    }

    &__action {
      width: 100%;
      padding: mixins.spacing(md) mixins.spacing(sm);

      &--secondary {
        background-color: transparent;
        border-color: rgba(var(--zn-color-tertiary), 20%) !important;
        color: rgba(var(--zn-color-tertiary), 80%);

        &:hover {
          background-color: rgb(var(--zn-color-tertiary));
        }
      }

      &--danger {
        background-color: rgb(var(--zn-color-error));

        &:hover {
          background-color: rgba(var(--zn-color-error), 60);
        }
      }

      &--warning {
        background-color: rgb(var(--zn-color-warning));

        &:hover {
          background-color: rgba(var(--zn-color-warning), 60);
        }
      }

      &--info {
        background-color: rgb(var(--zn-color-info));

        &:hover {
          background-color: rgba(var(--zn-color-info), 60);
        }
      }

      &--success {
        background-color: rgb(var(--zn-color-success));

        &:hover {
          background-color: rgba(var(--zn-color-success), 60);
        }
      }
    }
  }

  &--visible {
    overflow: hidden;
  }
}
