@use "../../wc";

:host {
  display: block;
}

.data-table-search {
  display: flex;
  align-items: center;
  gap: var(--zn-spacing-small);
  min-width: 200px;
}

zn-input::part(form-control-help-text) {
  font-size: var(--zn-input-help-text-font-size-small);
  padding-left: var(--zn-spacing-2x-small);
}
