---
  title: Docs for Zinc
---

<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/resources/docs.compiled.css">
  <title>{{ title }}</title>
</head>
<body>
<a href="/">Home</a>
<a href="/margin">Spacing</a>
{{ content | safe }}

<script src="/resources/docs.compiled.js"></script>
</body>
</html>
