@use '../../wc';

:host {
  padding: 5px 10px;
}

.checkbox__wrapper {
  position: relative;
  display: flex;
  align-items: center;
  // margin-top: wc.spacing(md);
  // margin-bottom: wc.spacing(md);
}

.checkbox__input-wrapper {
  display: flex;
  height: 15px;
  align-items: center;
}

.checkbox__label-wrapper {
  margin-left: wc.spacing(sm);
  font-size: 90%;

  label {
    cursor: pointer;
    margin-top: 6px;
  }
}
