@use "sass:map";
@use './index' as scss;

button {
  @extend %button;
}

%button {
  border-radius: 10px;
  display: inline-flex;
  justify-content: center;
  border-color: transparent !important;
  border-width: 1px !important;
  padding: map.get(scss.$spacing, md) map.get(scss.$spacing, sm);
  margin: auto;
  width: fit-content;
  background-color: rgb(var(--color-tertiary));
  color: white;
  font-weight: 600;
}
