@use "button";

form {
  input[type=date],
  input[type=datetime-local],
  input[type=email],
  input[type=month],
  input[type=number],
  input[type=password],
  input[type=search],
  input[type=tel],
  input[type=text],
  input[type=time],
  input[type=url],
  input[type=week],
  input[type=file],
  input[list],
  textarea,
  select,
  [multiple] {
    display: block;
    width: 100%;
    background-color: #ffffff;
    border-width: 1px;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);


    @apply focus:border-primary-500 focus:ring-primary-500;
    @apply sm:text-base sm:p-sm;
    @apply placeholder:text-base placeholder:font-normal placeholder:text-dark-400 placeholder:leading-6;
  }

  label {
    @apply sm:text-base text-dark-700 font-medium block mt-md mb-xs;
  }

  input[type=checkbox], input[type=radio] {
    @apply text-primary-500 border-border rounded mx-xs accent-primary-500;
    @apply focus:ring-primary-500;
  }

  input[type=radio] {
    @apply rounded-full;
  }

  input[type=range] {
    @apply rounded-xl appearance-none bg-border h-sm accent-primary-500 w-full max-w-md;
  }

  fieldset {
    @apply border-primary-100 border-2 p-md pt-0;
  }

  select, [multiple] {

    option {
      @apply p-xs;
    }

    > option:checked {
      @apply bg-primary-100 rounded-sm;
    }
  }

  fieldset > legend {
    @apply text-sm p-xs text-dark-700;
  }

  input[type=button], input[type=submit], button[type=submit], button[type=button] {
    @extend button;
    @apply w-auto
  }

  div + button {
    @apply mt-md;
  }

  input[type=file]::-webkit-file-upload-button {
    @apply mr-sm;
    @extend button;
  }

  input::-webkit-calendar-picker-indicator {
    @apply cursor-pointer bg-dark-100 p-sm rounded-sm opacity-100;
  }

  input[list]::-webkit-calendar-picker-indicator {
    @apply py-xs px-sm;
  }

  .input--with-icon {
    @apply relative;

    zn-icon {
      @apply absolute top-1/2 pointer-events-none transform -translate-y-1/2 left-sm bg-secondary-500 text-white rounded-full;
      padding: 14px;
    }

    input {
      padding-left: 40px;
    }
  }
}
