@use "sass:map";
@use "button";
@use "index" as scss;

$this: '.zn-simpleprompt';

#{$this} {
  &__bg {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000000;
  }

  &__wrapper {
    display: flex;
    min-height: 100%;
    align-items: start;
    justify-content: center;
    padding: map.get(scss.$spacing, xs);
    text-align: center;
    margin-top: 10vh;

    @include scss.m(sm) {
      padding: 0;
    }
  }

  &__container {
    position: relative;
    overflow: hidden;
    border-radius: 4px;
    background-color: rgb(var(--color-panel));
    padding: map.get(scss.$spacing, xl);
    text-align: left;
    box-shadow: 0 10px 8px rgba(0, 0, 0, 0.04), 0 4px 3px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-in-out;

    @include scss.m(sm) {
      width: 100%;
      max-width: map.get(scss.$spacing, md);
      max-height: 80%;
      margin-top: map.get(scss.$spacing, sm);
      margin-bottom: map.get(scss.$spacing, sm);
      padding: map.get(scss.$spacing, lg);
    }

    &--lg {
      @include scss.m(sm) {
        max-width: map.get(scss.$spacing, lg);
      }
    }
  }

  &__wrap {
    @include scss.m(sm) {
      display: flex;
      align-items: center;
    }

    #{$this} {

      &__title {
        @include scss.m(sm) {
          margin-bottom: map.get(scss.$spacing, sm);
        }
      }

      &__content {
        @include scss.m(sm) {
          text-align: left;
          flex-grow: 1;
        }
      }


      &__icon {
        @include scss.m(sm) {
          width: 38px;
          height: 38px;
          flex-shrink: 0;
          margin-right: map.get(scss.$spacing, lg);
          margin-bottom: 0;
        }
      }
    }

    + #{$this}__actions {
      @include scss.m(sm) {
        margin-top: map.get(scss.$spacing, sm);
      }

      @include scss.m(md) {
        margin-top: map.get(scss.$spacing, md);
      }
    }
  }

  &__icon {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: map.get(scss.$spacing, md);
    width: 48px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;

    @include scss.m(sm) {
      margin-bottom: map.get(scss.$spacing, lg);
    }

    &--danger {
      background-color: rgb(var(--color-error), 0.3);

      > zn-icon {
        color: rgb(var(--color-error));
      }
    }

    &--warning {
      background-color: rgb(var(--color-warning), 0.3);

      > zn-icon {
        color: rgb(var(--color-warning));
      }
    }

    &--warning {
      background-color: rgb(var(--color-info), 0.3);

      > zn-icon {
        color: rgb(var(--color-info));
      }
    }

    &--warning {
      background-color: rgb(var(--color-success), 0.3);

      > zn-icon {
        color: rgb(var(--color-success));
      }
    }
  }

  &__content {
    text-align: center;
  }

  &__title {
    font-weight: 500;
    margin-bottom: map.get(scss.$spacing, lg);
  }

  &__description {
    font-weight: 300;
  }

  &__actions {
    margin-top: map.get(scss.$spacing, lg);

    @include scss.m(sm) {
      margin-top: map.get(scss.$spacing, xl);
    }

    &--centered {
      &#{$this}__actions {
        display: grid;

        @include scss.m(sm) {
          gap: map.get(scss.$spacing, sm);
        }

        &--2 {
          grid-template-columns: repeat(2, 1fr);
        }
      }

      #{$this}__actions__action {
        margin-left: 0 !important;
      }
    }

    &--multi {
      gap: map.get(scss.$spacing, sm);

      @include scss.m(sm) {
        justify-content: flex-end;
      }

      @include scss.m(md) {
        gap: 0;
      }

      #{$this}__actions__action {
        width: 100%;
        margin-bottom: map.get(scss.$spacing, sm);

        @include scss.m(sm) {
          margin-bottom: 0;
          margin-left: map.get(scss.$spacing, sm);
        }

        &:first-of-type {
          @include scss.m(sm) {
            margin-left: 0;
          }
        }
      }
    }

    &__action {
      @extend %button;

      width: 100%;
      padding: map.get(scss.$spacing, md) map.get(scss.$spacing, sm);

      &--secondary {
        background-color: transparent;
      }

      &--danger {
        background-color: rgb(var(--color-error));

        &:hover {
          background-color: rgb(var(--color-error), 0.6);
        }
      }

      &--warning {
        background-color: rgb(var(--color-warning));

        &:hover {
          background-color: rgb(var(--color-warning), 0.6);
        }
      }

      &--info {
        background-color: rgb(var(--color-info));

        &:hover {
          background-color: rgb(var(--color-info), 0.6);
        }
      }

      &--success {
        background-color: rgb(var(--color-success));

        &:hover {
          background-color: rgb(var(--color-success), 0.6);
        }
      }
    }
  }

  &--visible {
    overflow: hidden;
  }
}
