@use "../../wc";

.well {
  display: flex;

  border-radius: 5px;
  background: rgba(var(--zn-border-color), 0.7);
  border: 1px solid rgb(var(--zn-border-color));

  padding: var(--zn-spacing-small, 0);

  zn-icon {
    margin-right: var(--zn-spacing-small);
  }
}

.well--inline {
  display: inline-flex;
}
