@tailwind base;


:host {
  @apply relative lg:w-mpanel lg:min-w-spanel lg:max-w-mpanel;

  > div {
    @apply absolute bg-white lg:bg-primary-50;
  }

  > div.content {
    @apply overflow-y-auto max-w-bar lg:min-w-mpanel;
    @apply hidden lg:flex flex-col right-0 inset-y-0;

    @apply py-sm smp:py-md lg:py-lg hd:py-xl;
    @apply pr-md lg:pr-0;
    @apply lg:pr-lg hd:pr-xl;
  }

  > div.expander {
    @apply flex flex-row-reverse smp:flex-col lg:hidden inset-0 z-10 cursor-pointer;
    @apply items-center justify-center smp:justify-start;
    @apply h-bar smp:h-full;
    @apply border-b-px smp:border-b-0 smp:border-l-px border-border;
    @apply w-[100vw] smp:w-bar lg:hidden;
    @apply bg-white;

    span {
      writing-mode: horizontal-tb;
      @screen smp {
        writing-mode: vertical-rl;
      }
      @apply grow pl-md smp:pl-0;
      @apply hidden;
    }

    span.open {
      @apply block;
    }

    zn-icon {
      @apply text-secondary-500 mx-md smp:my-md;

      @apply rotate-0 smp:rotate-90 ;
    }
  }
}

:host([d]) > div {
  @apply border-darkBorder bg-dark-900;


  > div.expander {
    @apply bg-dark-900;
  }
}

:host([open]) {

  @media (max-width: theme('screens.lg')) {
    position: unset;

    > div.content {
      @apply flex p-lg;
      @apply w-full max-w-full smp:max-w-mpanel;
      @apply smp:min-w-mpanel smp:max-w-mpanel overflow-x-hidden;
      @apply z-20 top-bar smp:top-0;
    }

    > div.expander {

      @apply smp:left-auto smp:right-mpanel;

      zn-icon {
        @apply rotate-180 smp:-rotate-90;
      }

      span.open {
        @apply hidden;
      }

      span.close {
        @apply hidden smp:block;
      }

      span.close-sm {
        @apply block smp:hidden font-semibold;
      }
    }
  }
}
