@tailwind base;
@screen md {
  :host {
    /* Track */
    /* Handle */
    /* Handle on hover */
  }
  :host ::-webkit-scrollbar {
    width: 5px;
  }
  :host ::-webkit-scrollbar-track {
    background: transparent;
  }
  :host ::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.05);
    border-radius: 5px;
  }
  :host ::-webkit-scrollbar-thumb:hover {
    background: rgba(0, 0, 0, 0.2);
  }
}

:host {
  @apply flex justify-center;
  container-type: inline-size;
}
:host > div {
  max-width: calc(var(--max-width) + 0px);
  @apply relative w-full h-full flex flex-col-reverse
    @smp:flex-row;
}
:host > div .pageside {
  @apply h-bar min-h-bar max-h-bar w-full overflow-visible
      @lg:basis-mpanel
      @smp:max-h-full
      @smp:h-auto
      @smp:top-0
      @smp:relative
      @smp:flex
      @smp:min-w-bar
      @smp:max-w-bar
      @smp:grow
      @lg:min-w-mpanel
      @lg:max-w-panel
      @lg:w-mpanel;
}
:host > div .pageside > div {
  @apply absolute bg-white
        @lg:bg-primary-50;
}
:host > div .pageside > div.content {
  @apply hidden overflow-y-auto max-w-bar
        @lg:min-w-mpanel
        @lg:flex flex-col right-0 inset-y-0;
  @apply py-sm
        @smp:py-md
        @lg:py-lg
        @hd:py-xl pr-md
        @lg:pr-0
        @lg:pr-lg
        @hd:pr-xl;
}
:host > div .pageside > div.expander {
  @apply flex flex-row-reverse items-center justify-center
        @smp:flex-col
        @lg:hidden inset-0 z-10 cursor-pointer
        @smp:justify-start
        border-b-px h-bar
        @smp:h-full
        @smp:border-b-0
        @smp:border-l-px border-border w-full
        @smp:w-bar
        @lg:hidden  bg-white;
}
:host > div .pageside > div.expander span {
  writing-mode: horizontal-tb;
  @apply grow pl-md
          @smp:pl-0
          hidden;
}
@container (min-width:theme("screens.smp")) {
  :host > div .pageside > div.expander span {
    writing-mode: vertical-rl;
  }
}
:host > div .pageside > div.expander span.open {
  @apply block;
}
:host > div .pageside > div.expander zn-icon {
  @apply text-secondary-500 mx-md
          @smp:my-md
          rotate-0
          @smp:rotate-90;
}
:host > div > div {
  @apply grow overflow-y-auto;
}

@container (max-width:theme("screens.lg")) {
  :host([open]) > div .pageside {
    position: unset;
  }
  :host([open]) > div .pageside > div.content {
    @apply flex p-lg
      w-full max-w-full
      @smp:max-w-mpanel
      @smp:min-w-mpanel
      @smp:max-w-mpanel overflow-x-hidden
      z-20 top-bar
      @smp:top-0;
  }
  :host([open]) > div .pageside > div.expander {
    @apply @smp:left-auto
      @smp:right-mpanel;
  }
  :host([open]) > div .pageside > div.expander zn-icon {
    @apply rotate-180
        @smp:-rotate-90;
  }
  :host([open]) > div .pageside > div.expander span.open {
    @apply hidden;
  }
  :host([open]) > div .pageside > div.expander span.close {
    @apply hidden
        @smp:block;
  }
  :host([open]) > div .pageside > div.expander span.close-sm {
    @apply block
        @smp:hidden font-semibold;
  }
}

/*# sourceMappingURL=Styles.css.map */
