@use "../wc";

:host {
  display: inline-block;

  .grow {
    flex-grow: 1;
  }

  button {
    font-size: 14px;
    font-weight: 600;
    line-height: 18px;
    display: inline-flex;
    align-items: center;
    gap: 10px;
    margin: 0;


    padding: 7px 15px;
    border-radius: 6px;
  }
}

:host([color="primary"]) button {
  background-color: rgb(var(--zn-primary));
  color: rgba(255, 255, 255, 0.9);
}

:host([color="secondary"]) button {
  background-color: #F3EFFF;
  color: rgb(var(--zn-primary));
}

:host([color="error"]) button {
  color: rgba(255, 255, 255, 0.9);
  background-color: rgb(var(--zn-color-error));
}

:host([color="info"]) button {
  color: rgba(255, 255, 255, 0.9);
  background-color: rgb(var(--zn-color-info));
}

:host([color="warning"]) button {
  color: rgba(255, 255, 255, 0.9);
  background-color: rgb(var(--zn-color-warning));
}

:host([color="success"]) button {
  color: rgba(255, 255, 255, 0.9);
  background-color: rgb(var(--zn-color-success));
}


:host([size="small"]) button {
  padding: 2px 7px;
  font-size: 12px;
}

:host([size="medium"]) button {
  padding: 14px 20px;
}

:host([size="large"]) button {
  border-radius: 4px;
  padding: 15px 45px;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
}

:host([vertical-align="center"]) {
  align-self: center;
}

:host([vertical-align="end"]) {
  align-self: end;
}

:host([vertical-align="start"]) {
  align-self: start;
}
