@use "../scss";

:host button {
  font-family: var(--font-family-sans);
  font-size: 14px;
  font-weight: 600;
  line-height: 18px;
  padding: 14px 20px;
  border-radius: 10px;
  border: none;
}

:host([variant="primary"]) button {
  background-color: rgb(var(--color-primary));
  color: white;
}

:host([variant="secondary"]) button {
  background-color: #F3EFFF;
  color: rgb(var(--color-primary));
}

:host([size="small"]) button {
  padding: 7px 15px;
  border-radius: 6px;
}

:host([size="large"]) button {
  border-radius: 4px;
  padding: 15px 45px;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
}

:host([vertical-align="center"]) {
  align-self: center;
}

:host([vertical-align="end"]) {
  align-self: end;
}

:host([vertical-align="start"]) {
  align-self: start;
}
