@use "../../scss/mixins" as wc;
@use "../../scss/shared/table";
@use "../Chip";

.table { // The container element that holds the table and the filters

  tr th {
    padding-bottom: wc.spacing(xs);

    // assume checkbox is the first column
    &:first-of-type {
      padding-bottom: wc.spacing(xxs);
    }
  }

  tr th, tr td {
    min-width: 50px;

    > div {
      display: flex;
      flex-direction: row;
      align-items: center;
      width: 100%;
    }

    // assume checkbox is the first column
    &:first-of-type > div {
      justify-content: center;

      input {
        margin: 0;
      }
    }
  }

  &__header {
    &__sort {
      margin-left: wc.spacing(sm);
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      cursor: pointer;
    }

    &--wide {
      width: 100%;
    }
  }

  &--empty {
    background-color: orange;
  }

  &__footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: wc.spacing(md) wc.spacing(md);

    &__right, &__left {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: wc.spacing(lg);
    }

    &__rows-per-page {
      display: flex;
      flex-direction: row;
      align-items: center;
      opacity: 0.8;
      gap: wc.spacing(xs);
    }

    &__pagination-count {

    }

    &__pagination-buttons {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: wc.spacing(xs);

      button {
        border: 1px solid rgb(var(--zn-border-color));
        border-radius: 5px;
        padding: wc.spacing(xs);

        &[disabled] {
          cursor: not-allowed;
          opacity: 0.5;
        }
      }
    }

  }

}
