.sbdocs-preview {
  background-color: rgb(var(--zn-body)) !important;
}

.docs-story, .docs-story > div {
  overflow: initial !important;
}

.sbdocs {
  background-color: rgb(var(--zn-body)) !important;
  overflow: initial !important;
}

//
// .sbdocs-title, h1, h2, h3, h4, h5, h6, p, a {
//   color: rgba(var(--zn-text), var(--zn-text-opacity)) !important;
// }
//
// .docblock-argstable-body tr td, .sb-bar {
//   background-color: rgb(var(--zn-panel)) !important;
// }
//
//
// .docblock-code-toggle {
//   color: rgb(var(--zn-primary)) !important;
//   background-color: rgb(var(--zn-panel)) !important;
//   border-radius: 0 !important;
// }
