@use "../../wc";

:host {
  display: block;
}

.action-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: var(--zn-spacing-small);
  padding: 0;
  background-color: rgb(var(--zn-panel));
  justify-content: space-between;
  border-top: solid 1px rgb(var(--zn-border-color));
  border-bottom: solid 1px rgb(var(--zn-border-color));

  &__left, &__right {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  &__right {
    ::slotted(*) {
      padding: 0 5px;
      aspect-ratio: 1 / 1;
      display: flex;
      justify-content: center;
      align-items: center;
      border-left: solid 1px rgb(var(--zn-border-color));
    }
  }
}
