@use "../wc";

:host {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  gap: 2px;
  width: 100%;
  grid-column: span var(--colspan, 3);

  dd, dt {
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-weight: 500;
  }

  dt {
    margin-right: 0;
    color: rgb(var(--zn-text-heading));
  }

  dd {
    text-overflow: ellipsis;
    font-size: 90%;
  }
}

:host([inline]) {
  flex-direction: row;
  justify-items: center;
  flex-grow: 1;
  width: 100%;

  dt {
    margin-right: wc.spacing(sm);
  }

  dd {
    flex-grow: 1;
    text-align: right;
    white-space: normal;
    font-size: 90%;
  }
}


:host([icon]) {
  dd {
    text-align: left;
    font-weight: normal;
  }
}
