@use "../wc";

:host([error]) {
  --property-color: var(--zn-color-error);
}

:host([warning]) {
  --property-color: var(--zn-color-warning);
}

:host([success]) {
  --property-color: var(--zn-color-success);
}

:host {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  gap: 2px;
  width: 100%;
  grid-column: span var(--colspan, 3);

  dd, dt {
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-weight: 500;
  }

  dt {
    margin-right: 0;
    color: rgb(var(--property-color, var(--zn-text-heading)));
  }

  dd {
    text-overflow: ellipsis;
    font-size: 90%;
    color: rgb(var(--property-color, var(--zn-text-body)));
  }
}

:host([inline]) {
  flex-direction: row;
  justify-items: center;
  flex-grow: 1;
  width: 100%;
  padding: wc.spacing(xs) 0;

  dt, dd {
    display: flex;
    align-items: center;
  }

  dt {
    margin-right: wc.spacing(sm);
    gap: wc.spacing(sm);
  }

  dd {
    flex-grow: 1;
    text-align: right;
    white-space: normal;
    font-size: 90%;
    justify-content: end;
  }
}


:host([icon]) {
  dd {
    text-align: left;
    font-weight: normal;
  }
}
