@use "../../scss/wc";

:host {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  margin-top: var(--zn-spacing-md);
  margin-bottom: var(--zn-spacing-md);
  gap: var(--zn-spacing-xxs);
  grid-column: span var(--colspan, 3);

  dd, dt {
    margin: 0;
    padding: 0;
    overflow: hidden;
  }

  dt {
    margin-right: 0;
    font-weight: 500;
  }

  dd {
    text-overflow: ellipsis;
    color: rgb(var(--color-text));
  }
}

:host([inline]) {
  flex-direction: row;
  justify-items: center;
  flex-grow: 1;
  width: 100%;

  dt {
    margin-right: var(--zn-spacing-sm);
  }

  dd {
    flex-grow: 1;
    text-align: right;
    white-space: normal;
    font-size: 80%;
  }
}


:host([icon]) {
  dd {
    text-align: left;
    font-weight: normal;
  }
}
