@use "../../wc";

:host {
  display: block;
}

zn-chip {
  display: inline-flex;
  border-radius: 7px;
  padding: wc.spacing(xxs) wc.spacing(xs);
  text-align: center;
  font-size: 12px;
  gap: 4px;
  width: fit-content;
  margin: 1px;
  color: rgba(var(--zn-primary), 0.9);
  text-transform: capitalize;
  justify-content: center;
  align-items: center;
  background: rgba(var(--zn-primary), .10);
  border-style: solid;
  border-width: 1px !important;
  border-color: rgb(var(--zn-primary)) !important;
}

zn-chip[error], zn-chip[type="error"] {
  color: rgb(var(--zn-color-error));
  border-color: rgb(var(--zn-color-error)) !important;
  background: rgba(var(--zn-color-error), .10);
}

zn-chip[info], zn-chip[type="info"] {
  color: rgb(var(--zn-color-info));
  border-color: rgb(var(--zn-color-info)) !important;
  background: rgba(var(--zn-color-info), .10);
}

zn-chip[warning], zn-chip[type="warning"] {
  color: rgb(var(--zn-color-warning));
  border-color: rgb(var(--zn-color-warning)) !important;
  background: rgba(var(--zn-color-warning), .10);
}

zn-chip[success], zn-chip[type="success"] {
  color: rgb(var(--zn-color-success));
  border-color: rgb(var(--zn-color-success)) !important;
  background: rgba(var(--zn-color-success), .10);
}

// todo, use variables
zn-chip[purple], zn-chip[type="purple"] {
  color: rebeccapurple;
  border-color: rebeccapurple !important;
  background: rgba(rebeccapurple, .10) !important;
}

// todo, use variables
zn-chip[blue], zn-chip[type="blue"] {
  color: blue;
  border-color: blue !important;
  background: rgba(blue, .10) !important;
}
