@use "../../wc";

:host {
  display: inline-block;
}

.chip {
  display: inline-flex;
  border-radius: 7px;
  padding: var(--zn-spacing-2x-small) var(--zn-spacing-x-small);
  text-align: center;
  font-size: 12px;
  gap: 4px;
  width: fit-content;
  margin: 1px;
  text-transform: capitalize;
  justify-content: center;
  align-items: center;
  border: 1px solid transparent;
}

.chip--primary {
  color: rgba(var(--zn-primary), 0.9);
  border-color: rgb(var(--zn-primary));
  background: rgba(var(--zn-primary), .10);
}

.chip--error {
  color: rgb(var(--zn-color-error));
  border-color: rgb(var(--zn-color-error));
  background: rgba(var(--zn-color-error), .10);
}

.chip--info {
  color: rgb(var(--zn-color-info));
  border-color: rgb(var(--zn-color-info));
  background: rgba(var(--zn-color-info), .10);
}

.chip--warning {
  color: rgb(var(--zn-color-warning));
  border-color: rgb(var(--zn-color-warning));
  background: rgba(var(--zn-color-warning), .10);
}

.chip--success {
  color: rgb(var(--zn-color-success));
  border-color: rgb(var(--zn-color-success));
  background: rgba(var(--zn-color-success), .10);
}
