@tailwind base;

zn-tile:first-of-type, :host(:first-of-type) {
  @apply border-t-0;
}

zn-tile, :host {
  @apply border-t border-border;
}

zn-tile[d], :host([d]) {
  @apply border-darkBorder;
}

:host {
  @apply h-tile w-full flex items-center box-border overflow-hidden;
  container-type: inline-size;

  > div {
    @apply box-border w-full h-full flex items-center
    overflow-hidden flex-nowrap
    py-sm gap-md;

    > * {
      @apply h-full flex justify-center flex-col;
    }

    slot[name="primary"] {
      @apply min-w-[110px] w-[110px];
      flex-basis: 110px;
    }

    zn-prop, slot[name="chip"] {
      @apply hidden grow
      @sm:flex;
    }

    .summary {
      @apply grow shrink min-w-[190px] w-fit;
      flex-basis: 210px;
    }

    .caption {
      @apply text-caption text-txt-800;
    }

    .description {
      @apply text-txt-600;
    }

    .caption, .description {
      @apply overflow-hidden overflow-ellipsis whitespace-nowrap;
    }

    .extended {
      @apply hidden grow shrink overflow-hidden gap-md items-center
      @smp:grid
      @smp:basis-2/4;
      gap: 50px 20px;
      grid-template-columns: repeat(auto-fit, minmax(30px, 1fr));
      grid-template-rows: 100% 0;
    }

    slot[name="chip"] {
      @apply justify-center;
      grid-column: span 2;
    }
  }
}

:host([child]) {
  @apply h-bar;
  > div {
    @apply pl-xl;

    .description {
      @apply hidden;
    }
  }
}

:host([d]) {
  > div {
    .caption {
      @apply text-darkTxt-800;
    }

    .description {
      @apply text-darkTxt-600;
    }
  }
}

:host([right]) {
  .summary {
    @apply text-right;
  }
}

