@use "../../wc";

:host {
  display: block;
}

table {
  border-collapse: separate !important;
  border-spacing: 0;
  width: 100%;
  max-width: 100%;
  table-layout: auto;
  text-align: left;

  thead {
    font-weight: 500;
  }

  tbody {
    //background-color: rgba(var(--zn-panel), var(--zn-panel-opacity));

    a {
      cursor: pointer;
      color: rgb(var(--zn-primary));
    }
  }

  tbody tr td {
    border-top: 1px solid rgb(var(--zn-border-color)) !important;
  }

  tbody tr:first-of-type td {
    border-top: 0 !important;
  }

  tbody tr:nth-of-type(even) {
    background-color: rgba(var(--zn-body));
  }

  thead tr th:first-of-type,
  tbody tr td:first-of-type {
    padding-left: 14px;
  }

  thead tr th:last-of-type,
  tbody tr td:last-of-type {
    padding-right: 14px;
  }

  th, td {
    padding: var(--zn-spacing-medium);
    min-width: 90px;
    white-space: nowrap;

    &:first-child {
      padding-left: 0;
    }
  }

  th {
    padding-bottom: 0;
    border-bottom: 1px solid rgb(var(--zn-border-color));
  }
}

.zn-table-fixed {
  table-layout: fixed;
}


.table { // The container element that holds the table and the filters

  tr th {
    padding-bottom: var(--zn-spacing-x-small);

    // assume checkbox is the first column
    &:first-of-type {
      padding-bottom: var(--zn-spacing-2x-small);
    }
  }

  tr th, tr td {
    min-width: 50px;

    > div {
      display: flex;
      flex-direction: row;
      align-items: center;
      width: 100%;
    }

    // assume checkbox is the first column
    &:first-of-type > div {
      justify-content: center;

      input {
        margin: 0;
      }
    }
  }

  &__head {
    &__sort {
      margin-left: var(--zn-spacing-small);
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      cursor: pointer;
    }

    &--wide {
      width: 100%;
    }

    &--last div {
      justify-content: flex-end;
    }
  }

  &__cell {
    &--wide {
      width: 100%;
    }

    &--last div {
      justify-content: flex-end;
    }
  }

  &--empty {
    background-color: orange;
  }

  &__header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    padding: var(--zn-spacing-small);
    gap: var(--zn-spacing-small);

    &__query-builder zn-menu {
      padding: 1rem;

      .query-builder__row {
        min-width: 600px; // Set minimum width when filters have been added
      }
    }

    &__actions {
      display: flex;
      flex-direction: row;
      gap: var(--zn-spacing-small);
    }
  }

  &__footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: var(--zn-spacing-medium) var(--zn-spacing-medium);

    &__right, &__left {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: var(--zn-spacing-large);
    }

    &__rows-per-page {
      display: flex;
      flex-direction: row;
      align-items: center;
      opacity: 0.8;
      gap: var(--zn-spacing-x-small);
    }

    &__pagination-count {

    }

    &__pagination-buttons {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: var(--zn-spacing-x-small);

      button {
        border: 1px solid rgb(var(--zn-border-color));
        border-radius: 5px;
        padding: var(--zn-spacing-x-small);

        &[disabled] {
          cursor: not-allowed;
          opacity: 0.5;
        }
      }
    }

  }

}
