@use "../../wc";

:host {
  display: block;
}

.table-container {
  overflow: auto;
}

table {
  border-collapse: separate !important;
  border-spacing: 0;
  width: 100%;
  max-width: 100%;
  table-layout: auto;
  text-align: left;
  background-color: rgb(var(--zn-panel));
  border-radius: var(--zn-border-radius-large);
  box-shadow: var(--zn-shadow-medium);
  border: 1px solid rgb(var(--zn-border-color));

  thead {
    color: rgb(var(--zn-text-heading));
    font-weight: 500;
  }

  tbody {
    //background-color: rgba(var(--zn-panel), var(--zn-panel-opacity));

    a {
      font-weight: 600;
      color: rgb(var(--zn-text-heading));
      text-decoration: none;
    }
  }

  tbody tr td {
    border-top: 1px solid rgb(var(--zn-border-color)) !important;
  }

  tbody tr:first-of-type td {
    border-top: 0 !important;
  }

  tbody tr:nth-of-type(even) {
    background-color: rgba(var(--zn-body));
  }

  thead tr th:first-of-type,
  tbody tr td:first-of-type {
    padding-left: 14px;
  }

  thead tr th:last-of-type,
  tbody tr td:last-of-type {
    padding-right: 14px;
  }

  th, td {
    padding: var(--zn-spacing-medium);
    min-width: 90px;
    white-space: nowrap;

    &:first-child {
      padding-left: 0;
    }
  }

  th {
    padding-bottom: 0;
    border-bottom: 1px solid rgb(var(--zn-border-color));
  }
}

.zn-table-fixed {
  table-layout: fixed;
}


.table { // The container element that holds the table and the filters

  tr th {
    padding-bottom: var(--zn-spacing-x-small);

    // assume checkbox is the first column
    &:first-of-type {
      padding-bottom: var(--zn-spacing-2x-small);
    }
  }

  tr th, tr td {
    min-width: 50px;

    > div {
      display: flex;
      flex-direction: row;
      align-items: center;
      width: 100%;
      gap: var(--zn-spacing-x-small);

      > code {
        font-size: 10px;
        display: block;
        max-width: 420px;
        float: right;
        max-height: 100px;
        white-space: pre;
        overflow-x: scroll;
      }
    }

    &:first-of-type > div:has(input[type="checkbox"]) {
      justify-content: center;

      input[type="checkbox"] {
        margin: 0;
      }
    }
  }

  &__head {
    &__sort {
      margin-left: var(--zn-spacing-small);
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      cursor: pointer;
    }

    &--wide {
      width: 100%;
    }

    &--last div {
      justify-content: flex-end;
    }

    &--hidden {
      visibility: hidden;
    }
  }

  &__cell {
    &--wide {
      width: 100%;
    }

    &--last div {
      justify-content: flex-end;
    }

    .caption {
      flex-grow: 1;
      flex-direction: column;

      span {
        display: block;
      }

      .title:empty, .summary:empty {
        display: none;
      }

      .title {
        font-weight: 600;
        color: rgb(var(--zn-text-heading));
        font-size: 14px;
        text-decoration: none;
      }

      .summary {
        font-size: 90%;
        text-wrap: initial;
      }

      &--icon {
        display: flex;
        flex-direction: row;
        gap: var(--zn-spacing-small);
      }
    }
  }

  &__header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    padding: var(--zn-spacing-small);
    gap: var(--zn-spacing-small);

    &__actions,
    &__query-builder {
      display: flex;
      flex-direction: row;
      align-items: baseline;
      gap: var(--zn-spacing-small);
    }

    &__right {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: var(--zn-spacing-x-small);
      margin-left: auto;
    }
  }

  &__footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: var(--zn-spacing-medium) var(--zn-spacing-medium);

    &__right, &__left {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: var(--zn-spacing-large);
    }

    &__rows-per-page {
      display: flex;
      flex-direction: row;
      align-items: center;
      opacity: 0.8;
      gap: var(--zn-spacing-x-small);
    }

    &__pagination-count {

    }

    &__pagination-buttons {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: var(--zn-spacing-x-small);

      button {
        border: 1px solid rgb(var(--zn-border-color));
        border-radius: 5px;
        padding: var(--zn-spacing-x-small);

        &[disabled] {
          cursor: not-allowed;
          opacity: 0.5;
        }
      }
    }

  }

}

.dropdown__query-builder {
  display: block;
  position: relative;
  padding: var(--zn-spacing-large);
  border-width: 1px;
  border-radius: 5px;
  width: fit-content;
  min-width: var(--zn-spacing-small-panel);
  max-height: 650px;
  overflow: auto;
  overscroll-behavior: none;
  filter: drop-shadow(0 5px 4px rgba(0, 0, 0, 0.04)) drop-shadow(0 4px 3px rgba(0, 0, 0, 0.1));
  background-color: rgb(var(--zn-panel, 255, 255, 255));
}
