@use "../wc";

:host {
  cursor: pointer;
  position: relative;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin: 0 0 10px 60px;
}

.message {
  margin-top: 10px;
  padding: 15px 15px;
  background-color: rgb(var(--zn-panel));
  border: 1px solid rgb(var(--zn-border-color));
  color: rgb(var(--zn-text-heading));
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  max-width: 85%;
  border-radius: 10px;
  position: relative;

  &:before {
    position: absolute;
    content: '';
    bottom: -3px;
    left: 0;
    right: 0;
    height: 20px;
    background-color: rgb(var(--zn-shadow));
    border-radius: 10px;
    z-index: -1;
  }
}

.int-msg-d {
  font-size: 12px;
  line-height: 15px;
  margin: 5px 0;
  text-transform: capitalize;
}

:host([action-type="connected.agent"]),
:host([action-type="attachment.added"]) {
  background: transparent;
  border: none;
  align-self: center;

  .wrapper {
    margin: 0;
    align-items: center;
  }

  .message {
    background: transparent;
    text-align: center;
    border: none;
    max-width: unset;

    &:before {
      display: none;
    }
  }

  .int-msg-d {
    display: none;
  }
}

:host([customer-initiated="1"]) .wrapper,
:host([customer-initiated="true"]) .wrapper {
  align-items: flex-start;
  margin: 0 60px 10px 0;
}

:host([action-type="message-sending"]) .message {
  opacity: 0.5;

  &:before {
    opacity: 0.2;
  }
}
