@use "sass:map";
@use '../scss';

:host {
  box-sizing: border-box;
  container-type: inline-size;
  justify-content: center;
  flex-grow: 1;
  display: flex;

  > div {
    position: relative;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    max-width: calc(var(--container) + px);

    &.with-side {
      padding-top: var(--bar);
      @include scss.container(scss.$screens-sm) {
        padding-top: 0;
        flex-direction: row-reverse;
      }
    }
  }

  #page-content {
    background-color: red;
  }
}

@include scss.container(scss.$screens-sm) {
  :host {
    #page-content {
      background-color: blue;
    }
  }
}