@use "../../scss/wc";

:host {
  @include wc.scrollbars;
  container-type: inline-size;
  justify-content: center;
  flex-grow: 1;
  display: flex;

  @include wc.container(smp) {
    > div.with-side #page-content {
      max-width: calc(100% - var(--zn-size-bar));
    }
  }

  @include wc.container(lg) {
    > div.with-side #page-content {
      max-width: calc(100% - var(--zn-size-mpanel));
    }
  }

  > div {
    position: relative;
    width: 100%;
    height: 100%;
    max-width: var(--zn-container-hd);

    &.with-side {
      padding-top: var(--zn-size-bar);
      flex-direction: column;
      @include wc.container(smp) {
        padding-top: 0;
        flex-direction: column-reverse;
      }
    }

    &.with-nav {
      flex-direction: column;
    }

    &.with-side, &.with-nav {
      display: flex;
      @include wc.container(smp) {
        flex-direction: row;
      }
    }
  }

  #page-content {
    @include wc.padding;
    @include wc.gap;

    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    height: fit-content;
    max-width: 100%;

    @include wc.container(smp) {
      flex-grow: 1;
    }

    @include wc.container(md) {
      max-width: 100%;
    }
  }

  .pageside {
    height: var(--zn-size-bar);
    min-height: var(--zn-size-bar);
    max-height: var(--zn-size-bar);
    width: 100%;
    overflow: visible;

    @include wc.container(smp) {
      max-height: 100%;
      min-width: var(--zn-size-bar);
      max-width: var(--zn-size-bar);
      flex-grow: 1;
      height: auto;
      top: 0;
      position: relative;
      display: flex;
    }

    @include wc.container(lg) {
      min-width: var(--zn-size-mpanel);
      max-width: var(--zn-size-mpanel);
      width: var(--zn-size-mpanel);
    }

    > div {
      position: absolute;
      background: white;
      flex-grow: 1;
      overflow-y: auto;

      @include wc.container(lg) {
        background: rgb(var(--color-body));
      }

      &.content {
        display: none;
        overflow-y: auto;
        max-width: var(--zn-size-bar);
        flex-direction: column;
        right: 0;
        top: 0;
        bottom: 0;
        padding-top: var(--zn-spacing-sm);
        padding-bottom: var(--zn-spacing-sm);
        padding-right: var(--zn-spacing-md);

        @include wc.container(smp) {
          padding-top: var(--zn-spacing-md);
          padding-bottom: var(--zn-spacing-md);
        }

        @include wc.container(lg) {
          display: flex;
          padding-right: var(--zn-spacing-lg);
          padding-top: var(--zn-spacing-lg);
          padding-bottom: var(--zn-spacing-lg);
          min-width: var(--zn-size-mpanel);
        }

        @include wc.container(hd) {
          padding-top: var(--zn-spacing-xl);
          padding-bottom: var(--zn-spacing-xl);
          padding-right: var(--zn-spacing-xl);
        }

        ::slotted(*) {
          display: flex;
          flex-direction: column;
          gap: var(--zn-spacing-lg);
        }
      }

      &.expander {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        border: 0 solid rgb(var(--color-border));
        border-bottom-width: 1px;
        height: var(--zn-size-bar);
        width: 100%;
        background-color: white;

        @include wc.container(smp) {
          flex-direction: column;
          justify-content: start;
          height: 100%;
          width: var(--zn-size-bar);
          border-bottom-width: 0;
          border-left-width: 1px;
        }

        @include wc.container(lg) {
          display: none;
        }

        span {
          writing-mode: horizontal-tb;
          flex-grow: 1;
          padding-left: var(--zn-spacing-md);
          display: none;

          @include wc.container(smp) {
            writing-mode: vertical-rl;
          }

          @include wc.container(smp) {
            padding-left: 0;
          }

          &.open {
            display: block;
          }
        }

        zn-icon {
          color: rgb(var(--color-text));
          margin-left: var(--zn-spacing-md);
          margin-right: var(--zn-spacing-md);
          transition: all 500ms ease-in-out;
          rotate: 0;

          @include wc.container(smp) {
            margin-top: var(--zn-spacing-md);
            margin-bottom: var(--zn-spacing-md);
            rotate: 90deg;
          }
        }
      }
    }
  }

  > div.with-nav .pageside, > div.with-nav .pageside > div.content {
    @include wc.container(lg) {
      min-width: var(--spanel);
      max-width: var(--spanel);
    }
  }

  > div.with-nav .pageside {
    order: -1;

    div {
      &.content {
        padding-right: 0;
        padding-left: var(--zn-spacing-md);

        @include wc.container(lg) {
          padding-left: var(--zn-spacing-lg);
        }

        @include wc.container(hd) {
          padding-left: var(--zn-spacing-xl);
        }
      }

      &, &.expander {
        @include wc.container(smp) {
          border-right-width: 1px;
          border-left-width: 0;

          zn-icon {
            rotate: -90deg;
          }
        }
      }
    }
  }
}

@include wc.container($min: false, $max: lg) {
  :host([open]) {
    > div .pageside {
      position: unset;

      > div.content {
        display: flex;
        padding: var(--zn-spacing-lg);
        width: 100%;
        max-width: 100%;
        overflow-x: hidden;
        z-index: 20;
        top: var(--zn-size-bar);

        @include wc.container(smp) {
          max-width: var(--zn-size-mpanel);
          min-width: var(--zn-size-mpanel);
          top: 0;
        }
      }

      > div.expander {
        @include wc.container(smp) {
          left: auto;
          right: var(--zn-size-mpanel);
        }

        zn-icon {
          rotate: 180deg;

          @include wc.container(smp) {
            rotate: -90deg;
          }
        }

        span {
          &.open {
            display: none;
          }

          &.close {
            display: none;
            @include wc.container(smp) {
              display: block;
            }
          }

          &.close-sm {
            display: block;
            font-weight: 500;
            @include wc.container(smp) {
              display: none;
            }
          }
        }
      }
    }

    > div.with-nav .pageside {
      div {
        &.expander {
          @include wc.container(smp) {
            left: var(--zn-size-mpanel);
            right: auto;

            zn-icon {
              rotate: -180deg;

              @include wc.container(smp) {
                rotate: 90deg;
              }
            }
          }
        }

        &.content {
          @include wc.container(smp) {
            left: 0;
            right: auto;
          }
        }
      }
    }
  }
}
