@use "../../wc";


:host {
  display: contents;
}

.tooltip {
  --arrow-size: 6px;
}

.tooltip[placement^='top']::part(popup) {
  transform-origin: bottom;
}

.tooltip[placement^='bottom']::part(popup) {
  transform-origin: top;
}

.tooltip[placement^='left']::part(popup) {
  transform-origin: right;
}

.tooltip[placement^='right']::part(popup) {
  transform-origin: left;
}

.tooltip__body {
  @include wc.text-style(paragraph);

  display: block;
  width: max-content;
  max-width: max-content;
  border-radius: var(--zn-border-radius);
  background-color: var(--arrow-color);
  text-align: start;
  white-space: normal;
  color: white;
  padding: var(--zn-spacing-x-small) var(--zn-spacing-small);
  pointer-events: none;
  user-select: none;
  -webkit-user-select: none;
}

