@use "sass:map";
@use "../../wc";
@use "../../../scss/mixins";


.sp {
  display: grid;
  flex-grow: 0;

  &--row {
    flex-direction: row;
  }

  &--no-gap {
    gap: 0;
  }

  &--grow {
    flex-grow: 1;
  }

  &--flush {
    padding: 0;
  }

  &--flush-y {
    padding-top: 0;
    padding-bottom: 0;
  }

  &--flush-x {
    padding-left: 0;
    padding-right: 0;
  }
}
