@use "sass:map";
@use "../../wc";
@use "../../../scss/mixins";

zn-sp {
  @include mixins.gap();
  @include mixins.padding();

  display: grid;
  flex-grow: 0;
}

zn-sp[row] {
  flex-direction: row;
}

zn-sp[no-gap] {
  gap: 0;
}

zn-sp[grow] {
  flex-grow: 1;
}

zn-sp[flush] {
  padding: 0;
}

zn-sp[flush-y] {
  padding-top: 0;
  padding-bottom: 0;
}

zn-sp[flush-x] {
  padding-left: 0;
  padding-right: 0;
}
