@use "../wc";

:host {
  margin: wc.spacing(md);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: wc.spacing(md);
  padding: wc.spacing(sm) wc.spacing(md);
  border-radius: 10px;
  background-color: rgb(var(--zn-body));
  border: 1px solid rgb(var(--zn-border-color));
}

.content {
  flex-grow: 1;
  text-align: left;
}

.actions {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: wc.spacing(sm);
}

:host([error]) {
  color: rgb(var(--zn-color-error));
  border-color: rgb(var(--zn-color-error)) !important;
  border-width: 1px !important;
  background: rgba(var(--zn-color-error), .1);
}

:host([info]) {
  color: rgb(var(--zn-color-info));
  border-color: rgb(var(--zn-color-info)) !important;
  border-width: 1px !important;
  background: rgba(var(--zn-color-info), .1);
}

:host([warning]) {
  color: rgb(var(--zn-color-warning));
  border-color: rgb(var(--zn-color-warning)) !important;
  border-width: 1px !important;
  background: rgba(var(--zn-color-warning), .1);
}

:host([success]) {
  color: rgb(var(--zn-color-success));
  border-color: rgb(var(--zn-color-success)) !important;
  border-width: 1px !important;
  background: rgba(var(--zn-color-success), .1);
}
