@use "../../scss/wc";

:host {
  margin: var(--zn-spacing-md);
}

.alert {
  text-align: center;

  .icon {
    display: inline-block;
    padding: var(--zn-spacing-xs);
    margin: var(--zn-spacing-md);
    border-radius: 50%;
    width: var(--zn-size-bar);
    height: var(--zn-size-bar);
  }

  .title {
    margin-bottom: var(--zn-spacing-sm);
  }

  .buttons {
    margin-top: var(--zn-spacing-sm);
    margin-bottom: var(--zn-spacing-sm);
  }

  .buttons slot {
    display: inline-flex;
    margin: var(--zn-spacing-md);
    gap: var(--zn-spacing-sm);
  }
}

:host([success]) {
  .icon {
    background-color: rgb(var(--color-success));

    > zn-icon {
      color: rgb(var(--color-success));
    }
  }
}