@use './variables';

html, :host, .light {
  --font-family: 'Inter', sans-serif;

  @each $key, $value in variables.$sizes {
    --#{$key}: #{$value};
  }

  --container: 1440;

  --padding-sm: 0.25rem;
  --color-primary: #6836F5;
  --color-primary-dark: #4924b9;
  --color-error: #ED546D;
  --color-text: #1F2937;
  --color-body: #fff;

}

.dark {
  --color-primary: #6836F5;
  --color-primary-dark: #4924b9;
  --color-text: #F9FAFB;
  --color-body: #1F2937;
}

html, body {
  font-family: var(--font-family);
  font-style: normal;
  font-weight: 400;

  background-color: var(--color-body);
  color: var(--color-text);
  -webkit-tap-highlight-color: transparent;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;

  height: 100%;
  width: 100%;
  margin: 0;
  overflow: hidden;

  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}