//@use "../scss/shared/reset";
//@use "../scss/shared/base";

//@use "../scss/shared/layout";
//@use "../scss/global-spacing";

@forward "../scss/variables";
@forward "../scss/mixins";


:host {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  *, *::before, *::after {
    box-sizing: border-box;
    border-width: 0;
    border-style: solid;
    border-color: rgb(var(--zn-border-color));
  }
}

[hidden] {
  display: none !important;
}

.width-container {
  height: 100%;
  max-width: var(--zn-container);
  margin: 0 auto;
}
