@use "../scss/shared/reset";
@use "../scss/shared/base";

@use "../scss/shared/layout";

@forward "../scss/variables/index";
@forward "../scss/mixins/index";


:host {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  *, *::before, *::after {
    box-sizing: border-box;
    border-width: 0;
    border-style: solid;
    border-color: rgb(var(--zn-border-color));
  }
}
