$font-family-sans: 'Roboto', sans-serif;

$themes: (
  default: (
    color-body: #F7F9FC,
    color-text: #343434,
    color-primary: #6536eb,
    color-border: #DCE1E9,
    color-panel: #FFFFFF
  ),
  dark: (
    color-body: #343434,
    color-text: #F7F9FC,
    color-primary: #6536eb,
    color-border: #DCE1E9,
    color-panel: #383838
  ),
);

@function deep-map-get($map, $keys...) {
  @each $key in $keys {
    $map: map-get($map, $key);
  }
  @return $map;
}


@function t($theme-name, $component) {
  @return deep-map-get($themes, $theme-name, $component);
}