$font-family-sans: 'Roboto', sans-serif;

$themes: (
  default: (
    color-body: '247, 249, 252',
    color-text: "107, 119, 140",
    color-primary: "101, 54, 235",
    color-tertiary: "41, 193, 188",
    color-border: "220, 225, 233",
    color-panel: "255, 255, 255",
    color-success: "60, 216, 187",
    color-warning: "255, 170, 44",
    color-error: "241, 70, 104",
  ),
  dark: (
    color-body: "25, 29, 35",
    color-text: "247, 249, 252",
    color-primary: "101, 54, 235",
    color-border: "46, 49, 63",
    color-panel: "29, 33, 41"
  ),
);

@function deep-map-get($map, $keys...) {
  @each $key in $keys {
    $map: map-get($map, $key);
  }
  @return $map;
}


@function t($theme-name, $component) {
  @return deep-map-get($themes, $theme-name, $component);
}