@use "sass:map";
@use "./index";

html, :host {
  --font-family-sans: #{index.$font-family-sans};
  --color-body: #{index.t(default, 'color-body')};
  --color-text: #{index.t(default, 'color-text')};
  --color-primary: #{index.t(default, 'color-primary')};
  --color-border: #{index.t(default, 'color-border')};
  --color-panel: #{index.t(default, 'color-panel')};

  --bar: #{map.get(index.$commonSizes, bar)};
  --tile: #{map.get(index.$commonSizes, tile)};
  --sidenav: #{map.get(index.$commonSizes, sidenav)};
  --spanel: #{map.get(index.$commonSizes, spanel)};
  --mpanel: #{map.get(index.$commonSizes, mpanel)};
  --panel: #{map.get(index.$commonSizes, panel)};

  --sm: #{map.get(index.$containers, sm)};
  --smp: #{map.get(index.$containers, smp)};
  --md: #{map.get(index.$containers, md)};
  --lg: #{map.get(index.$containers, lg)};
  --hd: #{map.get(index.$containers, hd)};
  --4k: #{map.get(index.$containers, '4k')};
}

[t="dark"] {
  --color-body: #{index.t(dark, 'color-body')};
  --color-text: #{index.t(dark, 'color-text')};
  --color-primary: #{index.t(dark, 'color-primary')};
  --color-border: #{index.t(dark, 'color-border')};
  --color-panel: #{index.t(dark, 'color-panel')};
}