@use "../../wc";

:host {
  cursor: pointer;
  position: relative;
}

ul {
  display: flex;
  gap: 30px;
  margin: 0;
  padding: 0 20px;
  background-color: rgb(var(--zn-panel));
  border-bottom: 1px solid rgb(var(--zn-border-color));

  li {
    list-style: none;
    padding: 15px 0 10px 0;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    border-bottom: solid 5px transparent;
    cursor: pointer;

    &:hover, &.active {
      border-bottom-color: rgb(var(--zn-primary));
    }
  }
}

.response {
  padding: 20px 20px 0 20px;
  background-color: rgb(var(--zn-panel));
}

.response-helper {
  padding: 10px 0;
  font-size: 12px;
  line-height: 18px;
  text-align: right;
}

.message-container {
  min-height: 200px;
  background-color: rgb(var(--zn-body));
  padding: 15px;
  font-size: 13px;
  line-height: 18px;
  border-radius: 10px;
}


