*, *::before, *::after {
  box-sizing: border-box;
}

:host {
  font-family: "Inter", sans-serif;
  color: #343434;
  cursor: pointer;
  position: relative;
}

ul {
  display: flex;
  gap: 30px;
  margin: 0;
  padding: 0 20px;
  background-color: white;
  border-bottom: 1px solid #E3E3E3;

  li {
    list-style: none;
    padding: 15px 0 10px 0;
    font-weight: 500;
    color: #7F8090;
    font-size: 14px;
    line-height: 18px;
    border-bottom: solid 5px transparent;
    cursor: pointer;

    &:hover, &.active {
      border-bottom-color: #6836F5;
    }
  }
}

.response {
  padding: 20px 20px 0 20px;
  background-color: white;
}

.response-helper {
  padding: 10px 0;
  font-size: 12px;
  line-height: 18px;
  color: #7F8090;
  text-align: right;
}

.message-container {
  min-height: 200px;
  background-color: #f7f7f7;
  padding: 15px;
  font-size: 13px;
  line-height: 18px;
  color: #7F8090;
  border-radius: 10px;
}


