@use "../../wc";

:host {
  --zn-indicator-info: 100, 117, 242;
  --zn-indicator-warning: 255, 136, 0;
  --zn-indicator-error: 237, 84, 109;
  --zn-indicator-success: 43, 192, 145;
  --zn-indicator-disabled: 220, 220, 220;

  --indicator-color: var(--zn-indicator-disabled);
  white-space: nowrap;
  display: inline-block;
}

.indicator {
  display: inline-block;
  background-color: rgba(var(--indicator-color), 0.7);
  border: 1px solid rgb(var(--indicator-color));
  width: 10px;
  height: 10px;
  border-radius: 50%;

  &--info {
    --indicator-color: var(--zn-indicator-info);
  }

  &--error {
    --indicator-color: var(--zn-indicator-error);
  }

  &--warning {
    --indicator-color: var(--zn-indicator-warning);
  }

  &--success {
    --indicator-color: var(--zn-indicator-success);
  }
}
