@use "../wc";

:host {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: wc.spacing(xs);

  ::slotted(*) {
    display: flex;
    margin-top: wc.spacing(sm);
  }

  .caption {
    font-weight: 500;
    color: rgb(var(--zn-text-heading));
    text-align: center;
  }

  .description {
    text-align: center;
  }
}
