@use "../wc";

:host {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: wc.spacing(xs);
  background-color: rgb(var(--zn-shadow));
  padding: wc.spacing(md);

  ::slotted(*) {
    display: flex;
    margin-top: wc.spacing(sm);
  }

  .caption {
    font-weight: 500;
    color: rgb(var(--zn-text-heading));
    text-align: center;
  }

  .description {
    text-align: center;
  }
}

:host {
  .wrapper {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: wc.spacing(xs);
    padding: wc.spacing(sm);
  }
}

:host([type="error"]) {
  background-color: rgba(var(--zn-color-error), .05);

  ::slotted(*), .caption, .description {
    color: rgb(var(--zn-color-error));
  }

  .error {
    border: dashed 1px rgb(var(--zn-color-error)) !important;
  }
}
