@use '../../wc';

:host, zn-input {
}

.hidden {
  display: none;
}

.multi-select {
  display: block;
  width: 100%;
  border-radius: 5px;
  border: 1px solid rgb(var(--zn-border-color));
  background-color: rgb(var(--zn-input-bg));
  outline: none;
  padding: wc.spacing(sm);
  position: relative;
  cursor: pointer;

  &:focus-within, &--open {
    border-color: rgb(var(--zn-primary));
    box-shadow: 0 0 0 3px rgba(var(--zn-primary), 0.3);
  }

  &--open {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom: 0;
  }

  &__placeholder {
    display: flex;
    align-items: center;
    min-height: 31px;
  }

  &__selection {
    ul {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      gap: wc.spacing(sm);
      pointer-events: none;
    }

    li {
      background-color: white;
      padding: wc.spacing(xs) wc.spacing(sm);
      border-radius: 10px;
      display: flex;
      flex-direction: row;
      gap: 5px;
      align-items: center;
      pointer-events: all;
    }
  }

  &__dropdown {
    border: 1px solid rgb(var(--zn-primary));
    border-top: 0;
    background-color: rgb(var(--zn-panel));
    overflow-x: scroll;
    position: absolute;
    z-index: 1000;
    width: 100%;
    max-height: 200px;

    &__item {
      padding: wc.spacing(sm);
      cursor: pointer;

      &--selected, &:hover {
        background-color: rgb(var(--zn-primary));
        color: white;
      }
    }
  }

  &__trigger input {
    appearance: none;
    border: none;
    background: transparent;
    padding: wc.spacing(sm);
    min-height: 31px;
    border-radius: 0;
    border-bottom: 1px solid rgb(var(--zn-border-color));

    &:focus {
      outline: none;
      box-shadow: none;
    }
  }

}
