@use "../../scss/wc";

:host {
  display: flex;
  flex-direction: column;

  label {
    width: 100%;
    padding: var(--zn-spacing-sm) 0;
    color: rgb(var(--zn-text));
    font-size: 14px;
    line-height: 18px;
    font-weight: 500;
  }

  input {
    font-weight: 400;
    color: #7F8090;
    display: flex;
    width: 100%;
    border-radius: 10px;
    background-color: #F7F7F7;
    padding: 15px 18px;
    box-sizing: border-box;
    border-width: 1px !important;
    border-color: transparent !important;
  }

  .error {
    margin-left: auto;
    margin-top: 1px;
    margin-right: 1px;
    color: #7F8090;
    font-size: 13px;
    line-height: 18px;
    font-weight: 500;
  }
}

:host([error]:not([error=""])) {
  input {
    border-color: rgb(var(--zn-color-error)) !important;
  }
}