@use "sass:map";
@use "../wc";
@use "../../scss/mixins";

zn-tabbed-panel, :host {
  display: flex;
  position: relative;
  flex: 1;

  @include mixins.media-query(md) {
    flex-direction: row;
    width: 100%;
  }

  ::slotted(nav) {
    @media screen and (max-width: map.get(wc.$container, md)) {
      max-width: unset !important;
    }
  }
}

.m {
  align-items: center;
  background-color: rgb(var(--zn-panel));
  border-bottom-width: 1px;
  inset: 0;
  display: flex;
  height: 60px;
  overflow: hidden;
  width: 100%;

  @include mixins.media-query(md) {
    display: none;
  }

  zn-icon {
    margin-left: wc.spacing(md);
    margin-right: wc.spacing(md);
    color: rgb(var(--zn-text));
    cursor: pointer;
  }

  &t {
    color: rgb(var(--zn-text));
  }
}

.t {

  &n {
    width: 100%;

    nav {
      width: 100%;
    }

  }

  &c {
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 300;
    background-color: rgb(var(--zn-body));

    &o {
      display: block;
    }
  }

  @include mixins.media-query(md) {
    &n {
      flex-shrink: 0;
      width: 100%;
      max-width: mixins.common-size(sidenav);
    }

    &c {
      display: block !important;
      position: initial;
      flex-grow: 1;
      background-color: transparent;
    }
  }
}
